[2016-10-12 03:44] jeff-regier commented on #205
I think I closed this in #340 : `trim_tiles!` is no more. `trim_source_tiles!` is no more. ActivePixels are found during pre-processing, directly. (There's no setting things to `NaN` ahead of time now and then finding out pixels aren't `NaN` every iteration.)

[2016-10-12 03:44] #205 closed, assigned to jeff-regier

[2016-10-12 04:16] jeff-regier commented on #338
This may turn out to be a duplicate of #142

[2016-10-12 18:08] gostevehoward commented on #321
Done [here](https://github.com/gostevehoward/Celeste.jl/commit/2bd1a26175ffef40a808a6a807f1458baefe147f).

Increasing `loc_width` (by 2000x) and tweaking my positioning code in `generate_test_image.py`, Celeste now pinpoints positions of the stars perfectly. Progress. Unfortunately, the reference brightness estimates still seem to be ~20% too high, consistently. Probably something I'm doing wrong

[2016-10-12 18:08] #321 closed, assigned to gostevehoward

[2016-10-12 18:53] jeff-regier opened #345 "IPDPS submission"

[2016-10-12 19:20] jeff-regier opened #346 "SkyPatch -> SubImage"
Add `epsilon`, `pixels`, and `is_active_pixel` (a bitmap) to `SkyPatch`, and rename `SkyPatch` to `SubImage` (or `Stamp`?). In the elbo and log_prob, never access the `TiledImage`--only get data from the `SubImage`.

When evaluating the elbo or the log prob, for each pixel in the sub-image, we check whether it's active and skip it if it isn't. For each active pixel, we then check each of its neigh

[2016-10-12 19:59] jeff-regier opened #347 "get gradients and hessians from log prob"

[2016-10-12 20:24] gostevehoward commented on #322
Some ideas from the weekly call:
- Ensure rasterized PSF sums to one
- Use elbo_likelihood (?) instead of elbo when calling `maximize_f`to avoid the influence of the prior
- check raw sum of pixel values in generated images to ensure it matches the total flux given to GalSim

[2016-10-12 21:06] jeff-regier commented on #321
For brightness, do either the median or the mode of the variational distribution match more closely than the mean? Brightness is log normal, so
- the mean is `exp(vs[ids.r1[1]] + vs[ids.r2[1]] /  2)`
- the median is `exp(vs[ids.r1[1]])`
- the mode is `exp(vs[ids.r1[1]] - vs[ids.r2[1]])`

[2016-10-12 22:42] jeff-regier commented on #322
How different are the mean, the median, and the mode for the brightness according to the variational distribution? Is it the mean that is consistently 20% too high? The mean should be unbiased across a population of stars. For a particular star, it's the median that minimizes the absolute error (i.e. L1 error), so it wouldn't be a hack to use that instead of the mean.

[2016-10-13 17:14] jeff-regier opened #348 "e_scale is misestimated"
We overestimate galaxies' scales, both according to stripe 82 and now on galsim data. I'm not sure what it will take to fix the `e_scale` issue....maybe the new PSF will help, maybe priors on all the galaxy parameters would make a difference, or maybe we need to increase the variance of pixels around galaxies to account for an overly simplistic galaxy model (in addition to the Poisson noise that w

[2016-10-14 03:56] #334 closed, assigned to jeff-regier

[2016-10-14 04:11] jeff-regier commented on #322
One other idea: In `test/test_elbo.jl`, there's a function `test_that_star_truth_is_most_likely()`. For synthetic data generated from the our model, this function confirms that the true brightness is more likely than a brightness 10% higher than the truth. If you make a GalSim image containing one star that's like the star in this test case, then the true brightness should be most likely for it to

[2016-10-16 01:36] rgiordan commented on #348
Just to document here what we talked about on the call this week: this is a good point, but it may be a little premature.

First of all, we can add a prior without making `e_scale` random.  The ELBO contains an expected log prior and an entropy term, which we are currently wrapping into a single KL divergence between the prior and variational distribution.  However, there is no reason we can't jus

[2016-10-18 01:40] rgiordan opened #355 "load_active_pixels! only works with a single active source, unit tests for Infer.jl"
`load_active_pixels!` only gets the active pixels for the first active source.  This probably slipped past because it and the other functions in `Infer.jl`, are also missing tests.

[2016-10-19 16:22] rgiordan opened #356 "Write tests for rasterized PSF code"

[2016-10-19 16:23] rgiordan opened #357 "Use Lanczos interpolation rather than FFT for the stars"

[2016-10-19 16:23] rgiordan opened #358 "Use closed form FFT for mixtures of Gaussians"

[2016-10-19 16:28] rgiordan opened #359 "Break up ```ElboIntermediateVariables``` so the ```elbo_objective.jl``` code can be more modular"
@jeff-regier , what do you think?  As a use case, note that using a convolved PSF has a different way of storing the `fsm` data than a vector over sources.  I think we should have a separate intermediate variables type for the elbo, the E_G, the fsm, and the bvn calculations.

[2016-10-19 16:34] rgiordan commented on #87
Right now this working in [my other repo](https://github.com/rgiordan/CelesteDev.jl/tree/master/rasterized_psf).  It's about 5x slower than the current ELBO, but there are a lot of obvious improvements that I can make, which I have labeled as issues.  Before merging with `Celeste.jl` I still need to do a lot of testing and validation, though.

[2016-10-20 00:38] andymiller commented on #327
@jeff-regier - it looks like `VariationalParams` and `FreeVariationalParams` are used in `Transform.jl`, which is imported by `DeterministicVI.jl`.  As `Transform.jl` sits at a higher level, moving these types in there seems to work and pass tests.  Can you think of a better spot for them?

[2016-10-20 05:41] jeff-regier commented on #327
No, that's a fine spot. We should really either make Transform part of
DeterministicVI or else get the VI stuff out of Transform. But that's for
another time, and not a really high priority.

On Wed, Oct 19, 2016, 5:38 PM Andy Miller notifications@github.com wrote:

[2016-10-20 22:20] #327 closed, assigned to andymiller

[2016-10-20 22:52] #344 closed, assigned to nobody

[2016-10-24 17:21] #345 closed, assigned to kpamnany, jeff-regier

[2016-10-24 17:29] jeff-regier opened #362 "script to optimize all the primary detections in one run-camcol-field"
Write a script named `infer_rcf.jl`, that takes `<run> <camcol> <field>` as command line arguments, and creates a file containing a catalog for that run-camcol-field. Unlike the `./celeste.jl infer-field`  subcommand, `infer_rcf.jl` 1) only processes the light sources listed primary detections in the specified run-camcol-field, and 2) uses all the relevant SDSS images to optimize those light sourc

[2016-10-24 19:18] jeff-regier commented on #355
There's an assert statement in `load_active_pxiels!` that ensures only 1 source is active. PR #363 adds a basic unit test for `load_active_pixels!`.

As for the other functions in `Infer.jl`,  there's `infer_source()`, which gets run in `test_infer.jl`. That in turn calls all the other functions in `Infer.jl`, so at least their syntax gets checked. Not saying that's good enough, but it's a lot bet

[2016-10-25 21:20] rgiordan commented on #355
This function should set active pixels for multiple sources if requested.  It is not hard to do.  The code that you refactored did it, so I'm really requesting that you restore deleted functionality rather than implement new functionality.  When we look into doing per-source coordinate ascent vs joint optimization on multiple sources we will want to have this.  Please fix this.

Regarding testing,

[2016-10-25 22:52] jeff-regier commented on #355
PR #363 adds the additional test you mention and restores support for multiple active sources. As originally implemented, the `intersect` command was allocating a huge amount of memory. That's partly why I removed support for multiple sources during the IPDPS push to lower memory allocation. The current code avoids using `intersect` with by using an `in` statement for each active source. Because w

[2016-10-26 00:36] jeff-regier opened #364 "Score Tractor on galsim dataset"

[2016-10-26 01:02] jeff-regier opened #365 "Score MCMC point estimates on galsim dataset"

[2016-10-26 01:11] jeff-regier opened #366 "Run `validate_on_stripe82.jl` with new psf model"
And show improvement or at least no deterioration in scores.

[2016-10-26 17:16] gostevehoward commented on #322
Update: I've been trying to figure out both why the brightness estimates are high and why it consistently estimates stars as galaxies. I thought maybe solving the second problem would shed light on the first.
- I was not able to figure out where in the code to find a rasterized PSF which I could sum.
- I tried using `elbo_likelihood` instead of `elbo` in `maximize_f` but saw the same results.
- I

[2016-10-26 17:19] jeff-regier opened #367 "Paragraph about an alternative approach to parallelism"
Maybe send it to the celeste mailing list?

[2016-10-26 17:35] jeff-regier commented on #322
In `test_that_star_truth_is_more_likely()` we're calling `elbo_likelihood()`, not `elbo()`. The former doesn't use the color priors, so it shouldn't matter if the star color ratios are a better fit than the galaxy color ratios.

Would you upload plots of your galsim generated star that is ~2300 nMgy, and the synthetic star from `test_that_star_truth_is_most_likely()`, so that we can visually inspe

[2016-10-26 17:47] jeff-regier opened #368 "learn PSF"
Ideally we'd learn a PSF that varies by wavelength, not just band. Apparently, for a particular filter band, a very blue star does't look the same as a very red star that contributes the same number of photons to the image.

[2016-10-26 18:12] jeff-regier commented on #322
Also, for your galsim image, would you try running `elbo_likelihood()` manually (not by calling the optimizer), for both the ground truth and for a brightness that's 10% too high? It's not likely, but possible, that the optimizer is going off the rails. Anyway, this problem will be easier to debug if your test of the galsim data looks as much like `test_that_star_truth_is_most_likely()` as possibl

[2016-10-26 18:50] gostevehoward commented on #322
Quick update: I started changing the PSF used in GalSim to be nearly identical to that used in `test_that_star_truth...`. This actually fixed the problem with brightness.

I figured out the problem was that `ElboArgs.psf_K` was set to 2, the default. I had been using a PSF composed of three identical `PsfComponent`s, each with `alphaBar = 1/3`. (This was because of the comment in #292 which turned

[2016-10-26 19:02] gostevehoward commented on #322
Also the probability of galaxy `vp[ids.a[2]]` is still close to one for the star images.

What I was saying about colors was regarding the values of `ElboArgs.vp[1][ids.c1[:, 1]]` versus `ElboArgs.vp[1][ids.c1[:, 2]]` (which, in this test, are initialized from `SampleData.sample_{star,galaxy}_fluxes`). If I understand right these are the parameters used to compute the likelihood and are separate f

[2016-10-26 19:26] jeff-regier commented on #322
Huzzah! Glad you found this problem. I'm all for avoiding having multiple specifications of `psf_K`, but I think the PSF is going to change entirely shortly once @rgiordan makes a PR, so I wouldn't bother with the issue for now. Or add an assertion quickly if it's easy.

The elbo has two terms: `elbo_likelihood()` and `elbo_kl()`. `ElboArgs.vp[1][ids.c1[:,:]]` shows up in both. `elbo_kl()` penaliz

[2016-10-26 20:02] gostevehoward commented on #322
OK I'll make this issue for the brightness and break out new issues for star/galaxy and also for e_scale which seems off too. For the record, here's the current output of the benchmark script, at [this commit](https://github.com/gostevehoward/Celeste.jl/commit/646a18f506ca4494e3861bacc8734dd6419b2b2a):

[code]

[2016-10-26 20:07] gostevehoward opened #369 "Debug why GalSim stars are predicted to be galaxies"

[2016-10-26 20:15] gostevehoward commented on #322
Created #369 for the star/galaxy issue. @jeff-regier says to not debug the e_scale issue because it has been seen on stripe 82 as well.

[2016-10-26 20:15] #322 closed, assigned to gostevehoward

[2016-10-26 20:44] gostevehoward opened #370 "Add GalSim test cases with overlapping star/galaxy, overlapping star/star"

[2016-10-26 20:45] gostevehoward opened #371 "Merge all the GalSim work in, add README and upload built FITS file"

[2016-10-26 20:51] #367 closed, assigned to rgiordan

[2016-10-26 21:33] jeff-regier commented on #370
A few test images with 3 sources overlapping would be good too. Maybe in one all 3 sources could overlap, whereas in the another just two pairs would overlap?

[2016-10-26 21:38] jeff-regier commented on #371
Rather the checking in the FITS files, please store them in

[code]

perhaps in a `celeste` directory, and make everything world readable.  Then you should be able to see it on the web at

http://portal.nersc.gov/project/dasrepo/

Then maybe add a Makefile, like `test/data/Makefile`, to the benchmarks directory, that fetches these images. Or the benchmarks script do the fetching. Either way seems

[2016-10-26 22:04] gostevehoward commented on #333
done: https://github.com/gostevehoward/Celeste.jl/commit/ec83deea0d8a0fb16d77d256581a732b900a74a9

[2016-10-26 22:04] #333 closed, assigned to gostevehoward

[2016-10-26 22:42] gostevehoward commented on #371
See README [here](https://github.com/gostevehoward/Celeste.jl/tree/galsim_benchmark/benchmark/galsim)

I don't seem to have write permissions to the `dasrepo/www` dir:

[code]

[2016-10-26 23:09] gostevehoward commented on #371
If anyone's itching to look at the FITS file and doesn't want to install Vagrant or wait for Rollin to give me write access to `/dasrepo/www`, here's the current version:

[galsim_test_images.fits.zip](https://github.com/jeff-regier/Celeste.jl/files/554604/galsim_test_images.fits.zip)

[2016-10-26 23:13] jeff-regier commented on #371
Oh, maybe that's even better than storing them on the nersc servers. I didn't know about github file hosting.

[2016-10-27 00:51] rcthomas commented on #371
Added @gostevehoward to dasrepo file group.  Might take ~20 min to propagate.  Let me know if it's not working after an hour (if you use it).

[2016-10-27 17:21] gostevehoward commented on #371
@rcthomas I'm in the group but still can't write to `.../dasrepo/www` because its owner/group is `racah/racah`:

[code]

@jeff-regier I don't know much about github file hosting, it might be awkward if the only interface is to attach files to issues and comments.

[2016-10-27 18:00] rcthomas commented on #371
Ah didn't notice that sorry.  I chgrp'ed www to dasrepo and then tested your mkdir, it's there now.  I notice you are using The Civilized Person Shell.  Sadly it is kind of borked on the Crays and I personally gave up trying to use zsh and just go with bash :(

[2016-10-27 18:46] #355 closed, assigned to jeff-regier

[2016-10-27 21:24] jeff-regier commented on #323
Can we close this issue @gostevehoward ? (Was it part of your recent PR?)

[2016-10-28 00:19] gostevehoward commented on #323
Sure. I added trimming but never checked whether it was working properly on these tests. But I think the original motivation for caring about this (the epsilon = 0 thingy) isn't bothering anyone now so let's not waste time on it unless something comes up again.

[2016-10-28 00:19] #323 closed, assigned to gostevehoward

[2016-10-28 00:25] gostevehoward opened #373 "Fetch GalSim FITS file from portal.nersc.gov"

[2016-10-28 00:26] gostevehoward commented on #371
Haha, thanks for the heads up, I'll switch back to bash. I had noticed some funny things going on.

Here's the uploaded FITS: http://portal.nersc.gov/project/dasrepo/celeste/galsim_test_images.fits

Will write a Makefile to fetch that (#373)

[2016-10-28 00:26] #371 closed, assigned to gostevehoward

[2016-10-28 02:11] jeff-regier opened #374 "render sky subtracted images"
Write a function the uses the `Images.jl` and `ImageViewer.jl` libraries to render sky subtracted images, perhaps as part of an image containing three subimages: the original image, the mean image of the variational distribution, and the sky subtracted image.

This function should have a few options:
- save to disk as a png or display
- divide each pixel of the sky subtracted image by the square r

[2016-10-28 17:56] andymiller opened #375 "profile/optimize {star,gal}_log_prob"

[2016-10-28 17:58] andymiller opened #376 "cache computation in component-wise slice sampler"
when sampling fluxes (and holding the shape parameters constant), the spatial extent of stars and galaxies do not need to be recomputed (expected ~ 3x speedup for stars and ~ 2x speedup for gals).

[2016-10-31 19:02] jeff-regier opened #379 "try running taskfarmer on 2 TB of SDSS data"

[2016-10-31 19:15] jeff-regier opened #380 "compute runtime of a Hessian-vector multiply for the ELBO with ForwardDiff"
If we multiply the gradient by the Hessian in about 2x the time it takes to compute the gradient, and CG needs about 10 iterations, that we could compute newton steps in about 20x the time of computing the gradient...for an arbitrary number of active sources. Trust region Newton's method would require more multiplying I think, so this may not be a viable path forward, but it seems worth considerin

[2016-10-31 19:32] jeff-regier opened #381 "Write output to a fits file, not a JLD file"

[2016-10-31 19:50] jeff-regier opened #382 "Don't recompute `tile_source_map` for each source"
The worst 3 lines for memory allocations from processing a whole RCF (not just `benchmark_infer.jl`) are all related to creating the `tile_source_map`.

[code]

Currently `tile_source_map` is recomputed for every light source. Then the map only includes itself and its neighbors, which is nice. But it's too slow.

[2016-10-31 20:39] jrevels commented on #380
Also keep in mind that https://github.com/JuliaDiff/ReverseDiff.jl is basically ready and tested, and supports full tape/graph reuse as well as linear algebra optimizations. It's generally as faster or faster than JuMP's AD for the gradients I've benchmarked, though it only has extremely naive sparsity exploitation compared to ReverseDiffSparse, so Hessians might be weaker for now.

Right now I'm

[2016-10-31 22:11] jeff-regier commented on #369
On stripe 82, we misclassify about 20% of stars as galaxies but only about 5% of galaxies as stars. I suspect that's because we don't have priors on the galaxy shape parameters, so galaxies have more degrees of freedom to fit the data, and they aren't being penalized by prior distributions for having that freedom. We'll address this problem in #348.

What you're seeing may or may not be due to the

[2016-11-01 21:29] gostevehoward commented on #369
I have not managed to make a case that gets classified as a star. The uploaded test cases include an 80 nMgy star. I tried making it 200 nMgy with no change. Here's the full vp:

[code]

Here's the test case output:

[code]

I think the colors are typical for the (second component of the) star color prior but maybe I'm misinterpreting that. Is there a good example of an image that is actually infe

[2016-11-01 21:35] #373 closed, assigned to gostevehoward

[2016-11-01 21:43] jeff-regier commented on #369
That unit test is the place to start, the `test_that_truth_is_most_likely()`
one. Also test_optimization.jl has examples of correctly classified stars.

On Tue, Nov 1, 2016, 2:29 PM gostevehoward notifications@github.com wrote:

[2016-11-01 21:50] gostevehoward commented on #369
OK. I don't think `test_that_*_is_most_likely` is helpful here because it
just looks at the likelihood, it doesn't run inference, so the fact that
the image happens to fit the preset star parameters makes the star
likelihood higher, but that doesn't reflect what happens in inference. In
inference the color parameters for both star and galaxy get very well
fitted to the data. Like you said in the o

[2016-11-02 00:05] jeff-regier opened #384 "joint inference on 4 nodes"
Use [Garbo.jl](https://github.com/kpamnany/Garbo.jl) to run joint inference on 2 or 4 supercomputer nodes. It's unclear whether we want the mulitnode distribution of work to look more like sky division parallelism (implemented in `ParallelRun.jl`) or source division parallelism (implemented in `source_division_inference.jl` on the `src_div_par` branch). Each had some issues, and neither seems exac

[2016-11-02 06:24] gostevehoward commented on #369
Update: @rgiordan suggested I look at residual images for the star predictions. The star residuals were positive in the center and negative towards the edges, suggesting the Celeste PSF was too narrow. Hence the galaxy scale parameter could be used to make the galaxy fit the image better. Making the Celeste PSF slightly wider reduced the star residuals and caused Celeste to predict the star test c

[2016-11-02 06:40] #362 closed, assigned to jeff-regier

[2016-11-02 06:50] jeff-regier commented on #369
Interesting finding!

[2016-11-02 14:30] kpamnany commented on #384
Joint inference will apply to how many light sources concurrently? I assume there'll be a maximum cap of some sort?

[2016-11-02 16:35] jeff-regier opened #385 "Kiran, review Ryan's parallelism proposal"
https://docs.google.com/document/d/1H27-vy81jarEzPFlhkSKxMhfIqolzLz5XGrXMd9l6h4/edit

[2016-11-02 16:48] jeff-regier commented on #384
Ideally there's no maximum. Any sources that overlap with each other would be optimized jointly. Jointly doesn't have to mean "concurrently" though. Just that the optimal value for one light source's parameters depend on the other light source's parameters.

We should probably do a walkthrough of Max's code sometime soon.

[2016-11-02 17:11] jeff-regier opened #386 "add a flag to `one_node_infer()` to do joint inference"
This is rather than having a separate function `one_node_joint_infer()`. I didn't realize there'd be so much duplicated code when I proposed creating a new whole function. Most joint inference code should stay in `cyclades.jl` though. `one_node_infer()` should just call a function in `cyclades.jl` if the flag is set.

[2016-11-02 18:22] jeff-regier opened #387 "Score MCMC point estimates with `benchmark/stripe82/validate_on_stripe82.jl`"

[2016-11-02 21:44] gostevehoward opened #388 "Make GalSim test case with mis-specified PSF..."
...in which we mis-classify a star as a galaxy. Something we can try to improve in the future.

[2016-11-02 22:23] gostevehoward commented on #369
For the record, my best explanation for what's causing this is that the GalSim test images are using a very small PSF (sigma = 1.33 pixels), so there can be a substantial difference between (a) the density value at the center of this pixel (times the area of the pixel) and (b) the integral of the density over the pixel area. Jeff's feeling is that realistic PSFs will always be larger than one pixe

[2016-11-02 22:55] gostevehoward commented on #369
Minor update: changing the PSF sigma from 1 to 3 pixels caused some, but not all, stars to be predicted as stars. Changing it to 4 pixels made it reliable.

[2016-11-02 23:09] jeff-regier commented on #369
Do you mean changing the PSF from 1 to 3 pixels caused some, but not all, stars to be predicted _as stars_? It gets better when you increase the PSF variance, right?

[2016-11-02 23:14] jeff-regier commented on #369
That is some really thorough analysis Steve, in your previous post. The explanation seems very plausible to me.

[2016-11-02 23:22] #369 closed, assigned to gostevehoward

[2016-11-02 23:37] gostevehoward commented on #369
Sorry, yes, changing PSF sigma 1 to 3 pixels caused some but not all stars to be correctly predicted as stars. Setting PSF sigma = 4 pixels caused all stars to be correctly predicted as stars. (Updated comment above for posterity.) Higher PSF sigma = more accurate results, presumably because the center point density more closely matches the integrated density over the pixel.

[2016-11-03 01:35] jeff-regier opened #390 "put priors on the galaxy parameters"
I'll try it, though I've done something pretty similar before without improving the results.

I think the problem is that when the PSF is misspecified (and it always is, at least slightly...it's just a model) the galaxy model has the flexibility to fit the data better. Even if the galaxy is "penalized" by the prior, it won't be penalized enough, at least when the likelihood dwarfs the prior, e.g.,

[2016-11-03 13:26] andreasnoack opened #391 "KNL planning"
UPDATED: I'll try to maintain KNL builds. You can use
[code]
Some adjustments are necessary before Celeste can run on KNL. My thoughts were that this issue could be a source for the relevant information related to KNL, i.e. updated build information for Julia and a list issue related to KNL runs.

The main issue is that we'll need LLVM's development version to run on KNL. To use LLVM-svn, as the d

[2016-11-03 23:15] andreasnoack commented on #391
Celeste is running on KNL. See screenshot below. It seems to work fine except that much of the code is single threaded so the runtime is pretty slow for `benchmark_infer`.
<img width="1440" alt="screen shot 2016-11-03 at 7 12 22 pm" src="https://cloud.githubusercontent.com/assets/505001/19989050/42228532-a1fa-11e6-85cc-bf97aa22782b.png">

[2016-11-03 23:47] jeff-regier opened #393 "use multiple threads for a single component"
Some components will be too large to process with a single thread (or with a single node). Here's an example of a globular cluster:

![globular cluster](http://www.capitalberg.com/wp-content/uploads/2016/01/Generations-of-Stars-Are-Born-in-a-Single-Globular-Cluster-1024x576.jpg)

Though every star is connected to its neighbors, every star isn't connected to every star, i.e. the component is not a

[2016-11-04 00:51] agnusmaximus commented on #393
I think I mis-stated the algorithm during the conference call yesterday, sorry about this! Cyclades samples batches of light sources from the overall total light sources. Then it creates a conflict graph from the light sources only in those batches.

This means in the case above, while the overall graph is a single connected component, sampling randomly from say a batch size of 500 will most likel

[2016-11-06 12:19] andreasnoack commented on #391
@kpamnany I've updated the SHAs. Yichao's patch to LLVM has been merged so latest svn version works with Julia master.

[2016-11-07 05:10] jeff-regier commented on #379
Using taskfarmer, I ran the `infer-rcf.jl` script on the run-camcal-fields (RCFs) that overlap with the RA x Dec bounding box [140, 165] x [10, 40]. This box contains 34,987 RCFs, about 4% of all of SDSS, or about 2TB. All but 2 RCFs were finished processing successfully. I used up to 128 nodes, but also experimented with 32 and 64 nodes. The throughput doubled when the number of nodes doubled, th

[2016-11-07 05:10] #379 closed, assigned to jeff-regier

[2016-11-07 05:13] jeff-regier commented on #386
Closed by #399

[2016-11-07 05:13] #386 closed, assigned to agnusmaximus

[2016-11-07 05:24] jeff-regier commented on #393
Ah, I get it now. Thanks for the explanation.

We may want to select our "batches" to include mostly sources that are near each other, so we don't have to load a lot of new data for each sample from the batch.

We may not want to form our sampled graph by sampling uniformly from the batch either: it's more important to optimize a big galaxy that has a bunch of stars in front of it right away, than

[2016-11-07 05:24] #393 closed, assigned to agnusmaximus

[2016-11-07 16:34] rcthomas commented on #379
Cool, Job IDs below.

[code]

[2016-11-07 18:17] jeff-regier commented on #338
No sources takes long with PSF fitting done per image, rather than per source.

[2016-11-07 18:17] #338 closed, assigned to jeff-regier

[2016-11-07 18:27] jeff-regier opened #403 "Rewrite `elbo_kl.jl` using ReverseDiff"

[2016-11-07 22:09] #385 closed, assigned to kpamnany

[2016-11-09 17:51] jeff-regier opened #404 "cyclades accuracy & runtime on stripe 82"

[2016-11-09 17:51] jeff-regier opened #405 "cyclades accuracy on galsim"

[2016-11-09 17:52] #289 closed, assigned to agnusmaximus, jeff-regier

[2016-11-10 00:16] jeff-regier opened #406 "restore unit tests"
The following unit test are commented out currently. They should be restored or replaced.

- [ ] test_derivatives.jl:test_combine_pixel_sources()
- [ ] test_derivatives.jl:test_add_log_term()
- [x] test_derivatives.jl:test_e_g_s_functions()
- [ ] test_derivatives.jl:test_transform_sensitive_float()
- [x] test_derivatives.jl:test_elbo()
- [ ] test_elbo.jl:test_that_variance_is_low()
- [ ] test_imag

[2016-11-10 03:27] #316 closed, assigned to jeff-regier

[2016-11-10 03:46] #346 closed, assigned to jeff-regier

[2016-11-10 03:47] #382 closed, assigned to jeff-regier

[2016-11-10 03:52] jeff-regier commented on #310
Following PR #408, using log probability to determine active pixels doesn't seem so essential. It's probably better to focus on #157 -- initializing active pixels without an existing catalog.

[2016-11-10 03:52] #310 closed, assigned to andymiller

[2016-11-11 19:19] gostevehoward commented on #370
Done and new FITS file uploaded to portal.nersc.

[2016-11-11 19:19] #370 closed, assigned to gostevehoward

[2016-11-11 19:48] jeff-regier commented on #370
Awesome. @agnusmaximus -- Please reach out to Steve when you're ready to test Cyclades on galsim data.

[2016-11-11 20:10] jeff-regier commented on #142
We're going to switch soon (issue #157) to initializing based on the images rather than based on an existing catalog. The function `choose_patch_radius()` won't be around much longer.

[2016-11-11 20:10] #142 closed, assigned to jeff-regier

[2016-11-11 20:21] jeff-regier opened #410 "Build a catalog from all of SDSS using taskfarmer"

[2016-11-12 18:51] jeff-regier opened #412 "stage SDSS to the datawarp"
The datawarp is also known as the burstbuffer, an array of SSDs.

http://www.nersc.gov/users/computational-systems/cori/burst-buffer/

[2016-11-12 19:05] jeff-regier opened #413 "joint inference termination criterion"
Joint inference shouldn't continue to optimize connected components (of the original graph, not the sampled subgraphs) once previous updates have a negligible norm, or, alternatively, once the gradient for all the light sources in the component is near 0. We may want some locking mechanism, that prevents sources whose last update was trivial from being updated again until one of their neighbors is

[2016-11-13 22:07] jeff-regier opened #414 "NaN in Hessian"
The Hessian has `NaN`s in it for object id 1237678600236105753 in RCF (7713, 1, 301). The command `infer-rcf.jl 7713 1 301` recreates the error reliably, throwing an assertion error for a check that `g_h[1, 2] == g_h[2, 1]`. Both entries are `NaN`, and, in Julia, `NaN != NaN`.

This problem isn't entirely infrequent; the case mentioned in this issue is just one example.

[2016-11-13 22:19] jeff-regier opened #415 "AssertionError: all(param .>= sb.lb)"
For example, objid 1237678601300082878 in RCF (7713, 3, 152).

[2016-11-13 22:40] jeff-regier opened #416 "AssertionError: Celeste.SDSSIO.RunCamcolField(8066,5,143) doesn't overlap with itself?"
We call `query_overlapping_fields` on the bounding box that overlaps perfectly with RCF (8066, 5, 143). Yet (8066, 5, 143) isn't in the list of RCFs that overlap with that box.

To recreate the problem, run```infer-rcf.jl 8066 5 143```.

It's a fairly widespread problem, this is just one example.

[2016-11-18 19:27] jeff-regier opened #421 "count active pixels in an arbitrary bounding box"

[2016-11-19 18:35] jeff-regier opened #422 "log prob test broken"
@andymiller -- I had to comment out `@test best_ll > gal_logpdf(bad_state)` in PR #418. I'm going to figure out what's happening there.

[2016-11-21 08:00] jeff-regier opened #424 "routine to display sky-subtracted images"
Routine to display sky-subracted images for Celeste run on arbitrary regions of the sky. Something David could run, and that we could describe in the readme file that appears on the github site. The routine might call the Makefile in `test/data` to fetch whatever data is need to for the user's query. Maybe display the original data and the rendering along with the sky subtracted image. Give the us

[2016-11-21 08:05] jeff-regier opened #425 "Run bin/estimate_box_runtime.jl on every quarter square degree of the sky"
Might as well do this upfront using taskfarmer. The current version of `estimate_box_runtime.jl` fits a psf and interpolates the sky background noise for each image. Both are unnecessary for estimating runtime. Some restructuring of the image loading routine is needed could make `estimate_box_runtime.jl` faster.

[2016-11-22 04:36] #421 closed, assigned to jeff-regier

[2016-11-22 06:21] jeff-regier commented on #412
Done! 59 TB! Our partition on the burst buffer is named "celestebb". It was easier to decompress SDSS again than to copy it over from scratch. I used taskfarmer and 64 nodes this time rather than leaving `xargs -P 32` running over night on a few nodes. The `staging` directory now contains all the scripts needed to reload our partition.

[2016-11-22 06:21] #412 closed, assigned to jeff-regier

[2016-11-22 18:49] rcthomas commented on #412
Hi @jeff-regier, that's great.  Just making sure you're aware that the reservations have a finite lifetime on the BB (like 2 weeks I think), so you will have to re-stage again if the persistent period isn't long enough for you.

[2016-11-22 19:28] jeff-regier commented on #412
Two weeks works, though 6 months would be better, i.e. now through GB. It's
not a big deal to reload it occasionally, though each reload takes 64 nodes
about 4 hours (~8000 CPU hours).

On Tue, Nov 22, 2016, 10:49 AM R. C. Thomas notifications@github.com
wrote:

[2016-11-23 04:19] jeff-regier commented on #425
Done! To reduce runtime and memory consumption, I estimated runtime with a metric different than number of active pixels. Instead, I computed a "hardness" score by multiplying the number of sources to optimize by the number of RCFs in each box. Since there's an upper bound on the of active pixels per source-rcf pair this is not a bad approximation, and it's much faster. Not every source appears in

[2016-11-23 04:19] #425 closed, assigned to jeff-regier

[2016-11-23 04:51] rcthomas commented on #425
Plotting them up, the vast majority of patches look like they are under 500,000 Regier units.
![screen shot 2016-11-22 at 8 51 08 pm](https://cloud.githubusercontent.com/assets/78920/20551465/733eb3a2-b0f5-11e6-998b-3c277ec9ee74.png)

[2016-11-23 07:23] jeff-regier commented on #425
Nice graph! We can subdivide the larger tasks into quarters (recursively, if necessary) to keep any task from taking too long.

[2016-11-23 16:55] rcthomas opened #430 "large-scale read and write tests on datawarp"
59 TB of SDSS data have been staged to the burst buffer.  We ought to ensure that large-scale reads perform well, and that we can write catalog-style output from Celeste.

[2016-11-23 18:23] rgiordan commented on #357
Closed in https://github.com/jeff-regier/Celeste.jl/pull/419

[2016-11-23 18:23] #357 closed, assigned to rgiordan

[2016-11-23 18:26] rgiordan commented on #356
The convolution functions have tests, but I will still need to incorporate the PSF into all the standard ELBO tests.

Note that ForwardDiff cannot differentiate through the FFT, which is written on C++, which will affect a lot of tests.  I need to look into going back to numeric differentiation.

[2016-11-23 18:27] rgiordan commented on #87
I merged a version of this in https://github.com/jeff-regier/Celeste.jl/pull/419.  I'd prefer to keep this open until I've done more validation.

[2016-11-23 18:32] rgiordan opened #431 "Compare the performance of Gaussian mixture vs convolution PSF code"

[2016-11-23 23:33] jeff-regier commented on #384
It's no longer necessary for Cyclades manage work for multiple nodes with the red-black approach to node-level parallelism.

[2016-11-23 23:33] #384 closed, assigned to agnusmaximus

[2016-11-23 23:34] jeff-regier commented on #307
We're no longer so concerned about large connected components, with the latest red-black approach to node-level parallelism, and Cyclades for thread-level parallelism.

[2016-11-23 23:34] #307 closed, assigned to nobody

[2016-11-23 23:39] jeff-regier commented on #359
@rgiordan -- I'm not sure I understand this issue. Is this something you'd like me to work on? Now that, to avoid memory allocations, we're storing `ElboIntermediateVariables` instances in the `ElboArgs` instance, should we get rid of  `ElboIntermediateVariables` and put those pointer in `ElboArgs`? (Is that what you had in mind?)

[2016-11-24 02:35] #388 closed, assigned to gostevehoward

[2016-11-24 21:27] #422 closed, assigned to jeff-regier

[2016-11-25 21:35] jeff-regier opened #433 "don't generate a new matrix patches for every target light source"

[2016-11-26 22:23] gostevehoward commented on #293
This has been gradually completed over many other issues; there is more that can be done but I think it's fair to close this.

Users can get started with the [README here](https://github.com/jeff-regier/Celeste.jl/blob/master/benchmark/galsim/README.md).

[2016-11-26 22:23] #293 closed, assigned to gostevehoward

[2016-11-27 23:53] jeff-regier commented on #293
@gostevehoward  Any chance there's an issue with the units (pixels vs arc seconds or something) that explains the misfit of half-light radius here:
[code]
I know our model has some issues with half-light radius, but what I don't get is how brightness, angle, and axis ratio can all be so accurate while the radius is off by so much (nearly 80% too big). IIRC, a galaxy with a much larger radius but t

[2016-11-28 00:58] Keno commented on #391
I've ported [rr](https://github.com/mozilla/rr) to Cori/KNL (https://github.com/mozilla/rr/issues/1904). For any segfaults, etc. capturing such a problem in rr and keeping the trace would allow me to easily diagnose. I suspect it won't work with MPI out of the box, but looking at that is on my todo list for the end of next week.

[2016-11-28 02:40] jeff-regier commented on #157
We probably want to implement a source-detection method like this one:
http://cosmo.nyu.edu/hogg/research/2014/05/02/coadd.pdf

Or if not, we at least want to be familiar with the method in the paper.

[2016-11-28 04:50] #405 closed, assigned to agnusmaximus

[2016-11-28 09:53] jeff-regier commented on #337
Done in #436

[2016-11-28 09:53] #337 closed, assigned to jeff-regier

[2016-11-28 18:46] gostevehoward commented on #293
I agree, it doesn't make sense that half-light radius is off by so much and
everything else is dead on. Something must be off either in the galsim
generation script or the Celeste code. I would like to look into it further.

On Sun, Nov 27, 2016 at 3:53 PM Jeffrey Regier <notifications@github.com>
wrote:

[2016-11-28 18:48] gostevehoward opened #437 "Debug why half-light radius is off in GalSim benchmarks"
For example (pasted from #293):

[code]

[2016-11-28 18:48] gostevehoward commented on #293
I made #437

[2016-11-28 18:49] gostevehoward commented on #157
Thanks, I'll take a look at that paper.

[2016-12-01 04:20] gostevehoward commented on #437
I think I figured this out. You might know much of this already but I'll write up everything I figured out so we're on the same page/for posterity.

First of all, I added a test case with a perfectly round galaxy (minor/major axis ratio = 1). This case has the same axis ratio (configured in GalSim) as "angle_and_axis_ratio_1" and "angle_and_axis_ratio_2"; the former has an axis ratio of 0.2, the l

[2016-12-01 08:01] jeff-regier commented on #437
This is great news! And the units issue you discovered with galsim data may apply to our stripe 82 validation also. Let's compare the half-light radii in units based on Galsim's area-preserving transform. The Celeste definition of half-light radius made sense to me at the time, but apparently it isn't the standard definition. I'll try scaling by `sqrt(a)` in the code for scoring Celeste on stripe

[2016-12-01 17:57] gostevehoward commented on #437
OK, I'm not sure which fix you prefer---

1. an internal change to Celeste's handling of `e_scale`, or
2. a change in the `GalsimBenchmark.jl` script to scale up Celeste's `e_scale` value before comparing it with the GalSim value (and we would want to document this particular interpretation of `e_scale`), or
3. a change in the GalSim image generation script to shrink galaxies in generated images s

[2016-12-01 19:33] andreasnoack opened #440 "LLVM assertion error on KNL in fft test"
Running `JULIA_NUM_THREADS=32 julia/julia .julia_cori/v0.6/Celeste/test/runtests.jl fft` gives

[code]
This is with the versions of Julia and LLVM mentioned in https://github.com/jeff-regier/Celeste.jl/issues/391

cc: @Keno

[2016-12-01 19:57] jeff-regier commented on #437
I think 2 is best --- a change to Celeste would be invasive, and it's no problem if Celeste's internal representation of parameters differs from what we report, so I prefer 2 to 1. For reporting, we might as well use units astronomers are familiar with, so I prefer 2 to 3, though that doesn't matter too much.

[2016-12-02 01:00] jeff-regier commented on #410
Done!

[2016-12-02 01:00] #410 closed, assigned to jeff-regier

[2016-12-02 01:02] jeff-regier commented on #348
Solved by @gostevehoward along with #437 .  Fixed in PR #441.

[2016-12-02 01:02] #348 closed, assigned to rgiordan, jeff-regier

[2016-12-02 01:08] jeff-regier commented on #430
It works well! During a 512-node run (8 processes / node), I observed tasks taking no longer that when run alone.

[2016-12-02 07:42] jeff-regier opened #443 "review logs from the full-SDSS run to see where estimated runtime differed from actual runtime"

[2016-12-03 19:45] andreasnoack commented on #440
The error is not triggered with inlining is off.

[2016-12-03 23:38] Keno commented on #440
I've extracted the llvm code responsible. Looks like a bad optimization (i.e. it's not LiveVariable's fault). I'll try to write some code to get a minimal reproducer.

[2016-12-04 00:40] Keno commented on #440
Pure LLVM reproducer:
[code]
Input file is here: https://gist.github.com/Keno/4d617a6b42926f0c121c74a1e4ce076f

[2016-12-04 01:05] Keno commented on #440
LLVM's bug reduction tool ran into at least three distinct bugs here. I'll have to probably work through them all before getting to the original one. First one is:
`opt bugpoint-reduced-simplified.bc -tbaa -sroa -loop-rotate -loop-vectorize -instcombine`
[code]

[2016-12-04 05:17] Keno commented on #440
Bug report for first crash is here: https://llvm.org/bugs/show_bug.cgi?id=31250
Patch is here: https://reviews.llvm.org/D27389

[2016-12-04 05:25] Keno commented on #440
Second bug:
[code]

[code]

[2016-12-05 00:10] jeff-regier commented on #157
If after doing the match filter initialization we think there's room for improvement, we may want to consider doing something with convolutional neural networks. I think that could work really well  But it's possible just finding all the peaks after applying the matched filter will solve the problem.

[2016-12-05 00:29] Keno commented on #440
Bug report for second issue: https://llvm.org/bugs/show_bug.cgi?id=31251
Patch for second issue: https://reviews.llvm.org/D27397

[2016-12-05 01:14] Keno commented on #440
With these two patches applied to LLVM, I can no longer reproduce the original problem. I'll try to get these patches into upstream quickly.

[2016-12-05 05:32] agnusmaximus opened #446 "Assertion Error : 0 < scale on Joint Infer"
I get an assertion error: "@assert 0 < scale" on this line of the code: https://github.com/jeff-regier/Celeste.jl/blob/joint_infer_assertion_error/src/bivariate_normals.jl#L18

Steps to reproduce:

1. Pull the joint_infer_assertion_error branch.
2. run "julia ./test/runtests.jl joint_infer"
3. After about a minute of optimization the program should exit with the error.
    - The error is caught on

[2016-12-05 21:37] Keno commented on #440
Second bug fixed upstream as https://reviews.llvm.org/rL288705.

[2016-12-06 05:00] #437 closed, assigned to gostevehoward

[2016-12-06 10:28] rgiordan opened #449 "Fix ids and lidx"
The ```fsm_util``` code uses ```lidx``` indices, even though it is used both by DeterministicVI and the LogProbability modules.  This design relies on the ```ids``` parameterization and the ```lidx``` parameterization having the same indices as one another for all parameters that are touched by ```fsm_util.jl```.  Besides being brittle, we don't document what these different parameterizations mean

[2016-12-06 20:46] gostevehoward commented on #227
@jeff-regier You still feel good about FactCheck? You mentioned it in #90 and I'll use it for these GalSim-based unit tests unless you've changed your mind.

[2016-12-06 20:50] andreasnoack commented on #227
The trend has generally been to use http://docs.julialang.org/en/release-0.5/stdlib/test/#working-with-test-sets instead of FactCheck. They are very similar but the former is part of Base.

[2016-12-06 20:51] gostevehoward commented on #227
@andreasnoack OK, thank you! I'll go that route.

[2016-12-06 21:27] gostevehoward commented on #227
@jeff-regier Here is a list of all unit tests which use stamps via `SampleData.jl`, organized by which entry point they use:

Unit tests:
* Using `gen_three_body_dataset`
    * `test_derivates.test_box_derivatives`
    * `test_derivates.test_box_simplex_derivatives`
    * `test_derivates.test_fs0m_derivatives`
    * `test_derivates.test_fs1m_derivatives`
    * `test_derivates.test_galaxy_cache_com

[2016-12-07 06:18] rgiordan commented on #227
you think.  IIRC you only really need to reproduce the functionality of a
few functions in SampleData, i.e.

gen_sample_star_dataset
gen_sample_galaxy_dataset
gen_two_body_dataset
gen_three_body_dataset
gen_n_body_dataset (the randomness is not necessary)
true_star_init

and then maybe also

verify_sample_star and
verify_sample_galaxy

Given what you've already done, I think reproducing that funct

[2016-12-07 06:37] jeff-regier commented on #227
Let's make this issue about adding new tests based on galsim rather than about deleting old tests that rely on stamps. I agree with Ryan that deleting stamps is not as bad as it sounds, but other issues may give us more benefit. Let's reassess once the galsim unit tests are in place.

[2016-12-08 00:17] gostevehoward commented on #227
PR #452 I just sent moves `GalsimBenchmark.jl` into `src/` and adds a simple "unit test" that exercises the GalsimBenchmark code for two GalSim test cases and checks the results aren't way off.

On the one hand I could write more detailed tests of Celeste's internals using GalSim images, or port the existing ones, but it sounds like the call is that's not worth the time right now.

On the other ha

[2016-12-08 17:33] jeff-regier commented on #227
Hi Steve, It's probably best if you decide whether to add more tests or to move on to #157. If it's easy to make the tests way better then that could be worth doing while it's on your mind. Or you could open new issues so we get back to it in the future. Or we could close this issue if the low hanging fruit is gone and move on.

I'm glad to hear about the distinction between unit tests and integra

[2016-12-08 17:37] jeff-regier opened #453 "Calculate the ratio of observed flops to predicted flops"

[2016-12-08 17:37] #245 closed, assigned to kpamnany

[2016-12-08 18:31] Keno commented on #440
First bug fix committed as https://github.com/llvm-mirror/llvm/commit/83dc06334ff95ad18a951d0bb540290510f2f81a. This should be done.

[2016-12-08 19:17] andreasnoack commented on #440
Great. I'll try to rebuild and test (when Cori is up again.)

[2016-12-09 03:03] andreasnoack commented on #440
[code]

[2016-12-09 03:03] #440 closed, assigned to nobody

[2016-12-09 03:07] andreasnoack commented on #391
I've updated the SHAs to versions with Keno's fixes included. I've also rebuilt `/global/cscratch1/sd/noack/julia/julia` such that it includes the fixes. I'll recommend that you wait about 24 hours before you try anything with this binary since many packages need new tags after some changes to in Base's macro handling.

[2016-12-09 19:58] andreasnoack commented on #391
@kpamnany I've now managed to built with icc. See the top post for a link to the binary.

[2016-12-10 05:25] #403 closed, assigned to jrevels

[2016-12-10 05:25] jeff-regier commented on #403
Closed in #445.

[2016-12-10 05:32] #430 closed, assigned to nobody

[2016-12-10 05:36] jeff-regier commented on #446
Hi Max, What's the value of `scale` when the assertion is false? Is it `NaN` or something negative?

[2016-12-10 05:43] agnusmaximus commented on #446
I think it's NaN... I'm making sure by checking right now

[2016-12-10 05:45] agnusmaximus commented on #446
Update: yeah it's NaN

[2016-12-10 05:46] jeff-regier commented on #446
Thanks for checking. I suspect it originates in the `Transform` module. The optimizer takes a step in the unconstrained parameter space, but that step turns out to be huge in the constrained parameter space. I wonder why it's `NaN` and not `Inf`....

[2016-12-10 06:34] jeff-regier commented on #446
I followed the steps, but I don't get the assertion error. I just made a PR that attempts to catch the problem earlier, before `elbo` is called, by verifying that `vp` are all finite when constructing an `ElboArgs` instance. Does that stop the `0 < scale` error for you?

[2016-12-10 07:45] agnusmaximus commented on #446
Hmm dang, I think I made a mistake. I updated the Optim package just now and the error went away.

[2016-12-10 07:47] agnusmaximus commented on #446
Let my try some other stuff to make sure updating the package fixes everything

[2016-12-10 07:58] agnusmaximus commented on #446
Hmm, yeah sorry about this, I think this error was due to my Optim package being outdated. With the upgraded Optim package everything works fine.

[2016-12-10 07:58] #446 closed, assigned to agnusmaximus

[2016-12-10 09:32] jeff-regier commented on #446
No problem, glad it's working

[2016-12-13 22:52] rgiordan commented on #101
I understand Steve is working on this now.

[2016-12-13 22:55] rgiordan opened #456 "Flexibly specify the ELBO function and initialization"
I'd like to be able to flexibly specify alternative version of the ELBO function for stripe 82, the galsim benchmarks, and ordinary SDSS data.  Right now, the DeterministicVI ELBO is hard coded in a variety of places.

@jeff-regier , you have strong opinions about how to organize things, so I think it's best to let you handle this.  The ideal solution in my opinion would be a user-specifiable call

[2016-12-13 22:56] rgiordan commented on #431
Systematic checks depend on https://github.com/jeff-regier/Celeste.jl/issues/456

[2016-12-13 22:56] rgiordan commented on #368
David's interested to have me work on this and has convinced me that it's important.

[2016-12-13 22:57] rgiordan commented on #366
Depends on https://github.com/jeff-regier/Celeste.jl/issues/456

[2016-12-13 23:00] rgiordan commented on #356
Some basic tests were done in https://github.com/jeff-regier/Celeste.jl/pull/447.  As of right now, ```verify_sample_galaxy``` fails because the brightness is off by 3% rather than 1% (even though it gets a lower ELBO value than the MOG).

[2016-12-13 23:01] rgiordan commented on #358
I'm closing this -- I don't think we're going the mixture of Gaussians route for the PSF.

[2016-12-13 23:01] #358 closed, assigned to nobody

[2016-12-13 23:02] rgiordan commented on #87
The basics of this are done in https://github.com/jeff-regier/Celeste.jl/pull/455 and working on an array of test images.  The specifics that remain to be done have their own issues.

[2016-12-13 23:02] #87 closed, assigned to rgiordan

[2016-12-13 23:05] rgiordan opened #457 "Reduce the dimensions of FSM matrices"
Most of the 5x slowdown in the new rasterized PSF ELBO is in the FFT, and that can be made much faster by being a little bit smarter about the size of the matrices in ```FSMSensitiveFloatMatrices```. Jeff, you expressed interest in doing this.  Here are some ideas:

- The default size of the PSF matrix is probably bigger than it needs to be right now.  For most PSFs, most pixels are dark.
- The fs

[2016-12-14 09:45] jeff-regier opened #458 "Filter out saturated light sources from stripe 82 test set"
Currently our scores from `validate_on_stripe82.jl` don't look good for brightness / `mag_r`. I believe this is because of an error in the data rather than an issue with Celeste. The problem is some light sources are saturated, but they aren't labeled as saturated.

[2016-12-14 09:49] jeff-regier commented on #366
OK I'll work on it.

[2016-12-14 09:53] jeff-regier commented on #368
He convinced me too. Also to run on DECaLS I'd rather learn the psf than try integrate other people's stand-alone psf code. UQ may be more pressing for now though.

[2016-12-14 09:54] jeff-regier opened #459 "UQ benchmark, galsim"
Extend our existing galsim benchmark to report, wrt the variational distribution, how many standard deviations the ground truth for each parameter is from its mean.

[2016-12-14 10:23] jeff-regier commented on #356
OK if we close this issue then? Whether or not the tests are passing, they've been written, and that's all the title says.

Could the 3% be because the cubic interpolation isn't flux conserving? (Does the 3% figure drop as the PSF gets larger?)

[2016-12-14 10:27] jeff-regier commented on #303
The vast majority of cases have been resolved. The only ones left are documented in other issues: #414 and #415.

[2016-12-14 10:27] #303 closed, assigned to nobody

[2016-12-14 10:42] jeff-regier commented on #456
I'd prefer to remove the hard coded settings, and make them variables in `ElboArgs`, rather than making multiple versions of the source code. Then you'd initialize `ElboArgs` differently depending on whether you're running on stripe 82, galsim, or SDSS. (Since the point of the galsim/stripe82 benchmarks is to validate the code that we're using in production, we want to minimize differences between

[2016-12-14 11:05] jeff-regier opened #460 "Faint light sources"
We were misfitting very faint light sources at one point. Are we still?

[2016-12-14 11:36] jeff-regier opened #461 "field-sized galsim benchmark"
Generate a field-sized image (in all 5 bands) containing around 500 light sources. Get the parameters for these light sources by sampling from our prior distributions. Place the light sources uniformly at random in the image. Some should overlap. Modify the galsim benchmark so that it can run on just this image, maybe by specify the FITS file containing this data.

[2016-12-14 13:35] rgiordan commented on #456
Sorry, I think I wasn't clear.  I would like to run stripe 82 and the galsim data with my new PSF ELBO, which is both different from ```DeterministicVI.elbo``` and requires data not currently in ```ElboArgs```.

Here's how it seems to work now.  The stripe 82 validation function calls ```ParallelRun.infer_field```, which calls ```ParallelRun.one_node_infer```, which calls ```ParallelRun.parallel_i

[2016-12-14 14:41] rgiordan commented on #356
I'm not convinced that the FFT code is adequately tested.  The FFT ELBO wasn't optimizing at all on real examples until a few days ago for reasons we still don't completely understand, and it still doesn't pass the most basic galaxy test.  If nothing else, there are tests in ```test_elbo``` and ```test_optimization``` that should have FFT versions.

It is certainly possible that flux non-preservat

[2016-12-14 15:31] rgiordan opened #463 "Express galaxy locations by interpolating the PSF"
Currently, we first render the galaxy at the location given by the variational parameters and then convolve with the pixelated PSF.  For the same reason that we cannot get sub-pixel locations of stars without interpolating the PSF, this will make small galaxies will be difficult to locate accurately.

A better way would be to render the pre-convolution galaxy image at a fixed location and then con

[2016-12-16 01:53] andreasnoack commented on #391
On KNL, the memory allocation required by Julia's threads and LAPACK (eigenvalue problem in Newton's method) through OMP can collide such that Julia crashes. We should probably set `OMP_NUM_THREADS=1` when running on KNL.

[2016-12-16 15:00] jeff-regier commented on #391
I always set `OMP_NUM_THREADS=1` in the slurm scripts: https://github.com/jeff-regier/Celeste.jl/blob/master/nersc/infer.sl#L16  . I think @kpamnany does this too for runs on the supercomputer.

[2016-12-16 15:50] jeff-regier commented on #366
After closing #456, running `validate_on_stripe82.jl` without the `--fft` flag:
[code]

With the `--fft` flag:
[code]

The gap in run times isn't always so bad. The elbo values on stripe 82 seem to be consistently worse with fft though--maybe a bug?

[2016-12-16 23:12] rgiordan commented on #366
I ran this.  With the FFT, it's unfortunately consistently slower as well as worse except for the colors.  I think "bug" might be the wrong word -- the FFT model maybe still needs to be improved.

[code]

With the original code:
[code]

[2016-12-16 23:36] rgiordan commented on #457
Done in https://github.com/jeff-regier/Celeste.jl/pull/466

[2016-12-16 23:36] #457 closed, assigned to rgiordan

[2016-12-16 23:37] rgiordan opened #467 "Cache kernel functions"
A side effect will be caching the kernel values which could speed things up quite a lot.

[2016-12-17 20:16] gostevehoward opened #469 "In GalSim benchmarks, report error vs. posterior SD"

[2016-12-17 20:16] gostevehoward opened #470 "Report color accuracy in GalSim benchmarks; add cases w/ varying color"

[2016-12-17 20:17] gostevehoward opened #471 "Generate a field with ~500 sources from GalSim"
Use the same dimensions as SDSS images, and report how often parameters are off by >1 SD, etc.

[2016-12-17 20:18] gostevehoward opened #472 "Add GalSim test for many images of same source with different noise draws"

[2016-12-18 19:49] Keno commented on #391
Linking https://github.com/JuliaLang/julia/issues/19640

[2016-12-19 01:52] rgiordan commented on #456
I didn't realize this before, but you didn't implement this for ```one_node_joint_infer```.  I'll re-open the issue as a placeholder until you get a chance to do that.

[2016-12-19 01:57] rgiordan commented on #467
Turns out that the third-order polynomials are already normalized (I didn't realize that before).  However, caching will still be a big improvement, so I changed the title.

[2016-12-19 01:58] rgiordan commented on #463
It might be interesting to compare this to Dustin's idea of expressing the FFT of the pre-convolution MOG in closed form.  My intuition is that this will work better, but the proof will be in the pudding.

[2016-12-19 19:04] rgiordan opened #480 "Fix omitted ids, write tests."
At some point the usage of omitted ids got broken.  There are no unit tests, either.

[code]

[2016-12-19 19:44] gostevehoward opened #482 "GalSim noisy galaxy cases highly sensitive to `noise_fraction` in `load_active_pixels!`"
I noticed this past weekend that estimated brightness and HL radius are way off for noisy galaxy cases in the GalSim benchmarks:

[code]

I sadly hadn't noticed this before, but it's present in some [old benchmark results](https://github.com/jeff-regier/Celeste.jl/pull/435) (click the pastebin link). I spent a while manually tracking this down (git bisect wasn't possible because the benchmark harn

[2016-12-19 19:55] Keno opened #483 "Make sure bivariate_normals vectorizes properly"
The loops in bivariate_normals showed up as a hot spot in profiling. We should make sure the compiler takes adequate advantage of the constancy of the trip counts, etc.

I'll be using this as a benchmark:
[code]

[2016-12-19 20:17] Keno commented on #483
Current results:
On KNL: `36383.779 ns`
On 6 year old Westmere: `35935.601 ns`

[NOTE: Not actual numbers due to restriction of publication of performance numbers. See slack for how to derive actual numbers]

[2016-12-19 20:23] #469 closed, assigned to gostevehoward

[2016-12-19 20:46] rgiordan commented on #482
Just an idea: when Jeff got rid of tiles, he also changed the way we
decided on active pixels.  Previously, we would render a noiseless image at
its original parameters and select all the pixels that would be within some
proportion of the noise, he looked at the actual, noisy image, and selected
all the pixels that were brighter than some proportion of the noise.  I
think the new way induces selec

[2016-12-19 20:54] jeff-regier commented on #482
Yes, that's it. It adds selection bias unless `noise_fraction` is set conservatively. It's just a stop gap measure. We should do this properly---without an existing catalog, and in a way that is robust to selection bias---along with #157.  A rule like "the set of active pixels must be contiguous and convex" should do it.

[2016-12-19 21:09] jeff-regier commented on #480
@jrevels is work on refactoring Transform.jl now. I was thinking we'd get rid of `omitted_ids` and `keep_ids` because of the complexity, and because it doesn't seem as necessary any more. If we want to restore that functionality, the way to do it is probably to define another transform, like the box constraints or the simplex constraint that removes certain ids.

Are you using `omitted_ids` often?

[2016-12-19 21:32] #470 closed, assigned to gostevehoward

[2016-12-19 21:46] jeff-regier commented on #456
I'm working on it but let's make it a new issue. I already spent too long on this one :-(

[2016-12-19 21:46] #456 closed, assigned to jeff-regier

[2016-12-19 21:49] gostevehoward commented on #482
OK, hopefully I'll be able to solve this along with #157 then.

Why doesn't this affect SDSS results, or the stripe 82 benchmark?

[2016-12-19 21:50] andreasnoack opened #486 "Optimize convolve_sensitive_float_matrix!"
The orange bars right below the tall (and widest) towers in the profile image seem to be [this line](https://github.com/jeff-regier/Celeste.jl/blob/master/src/deterministic_vi_image_psf/sensitive_float_fft.jl#L48) and [this line](https://github.com/jeff-regier/Celeste.jl/blob/master/src/deterministic_vi_image_psf/sensitive_float_fft.jl#L54) which are loading floating point values into a buffer. Th

[2016-12-19 21:54] rgiordan commented on #480
Doing it through a transform would be fine, but I do think you should
implement it.

I spent some time digging into why the optimization problem is slow.  Part
of that was digging into why the ELBO Hessian so tightly couples the galaxy
and star parameters.  It turns out that the log term, per our intuition,
actually doesn't couple the parameters much, but the shared location
parameter does.

I the

[2016-12-19 22:16] Keno commented on #483
Ok, the problem here turns out to be that LLVM thinks those arrays may alias.

[2016-12-19 22:53] jeff-regier opened #487 "Relax the constraint that a single light source has the same center whether it is a star or a galaxy"
Suggested in #480.  Originally I constrained each light source to have the same center whether it's a star or a galaxy because otherwise a single light source might end up explaining bright spots in totally different parts of the image. But now that's not an issue: we're constraining light sources to remain within a pixel or so of where they are initialized, and I think that's the right way to do

[2016-12-20 00:06] gostevehoward commented on #482
For what it's worth I noticed the "probability of galaxy" estimate in the simple_star test is also thrown off by this issue.

[2016-12-20 01:30] jeff-regier commented on #482
I think it does affect SDSS and stripe 82, but not that much, in part because an 8x8 grid around the center of the source always gets included no matter how bright the light source is. Also, the `noise_fraction` is set pretty low--iirc any pixel 50% higher than the background gets included. Many sdss sources are quite a bit brighter than that.

[2016-12-20 01:50] jeff-regier commented on #157
I wrote some code awhile ago that implements the matched filter idea for finding peaks. I don't know if this is necessarily what we want to do, but it may be worth looking over.

https://github.com/jeff-regier/Celeste.jl/blob/a2199d497b3fc0ef57c3deab93b405368081578c/src/ModelInit.jl#L91-L158

[2016-12-20 16:53] jeff-regier commented on #486
@rgiordan -- There's a comment at the hot spot that suggests you've thought about avoiding the copy. Do you have ideas for how to do that? That loop and the one after it accounts for half the total runtime. The fft takes very little time in comparison.

[code]

[2016-12-20 18:56] rgiordan commented on #486
One somewhat invasive idea would be to make each element of a ```SensitiveFloat```'s Hessian matrix itself be a matrix of complex numbers (rather than a real, as it is now).  The ```populate_fsm_vec``` functions would set the real part of the appropriate elements of the Hessian, and then you could do run ```safe_fft!``` directly on each element of the Hessian.  Needless to say, as long as you're d

[2016-12-21 17:08] #404 closed, assigned to agnusmaximus

[2016-12-21 17:09] jeff-regier commented on #404
Seems like this is done even if the results weren't ideal.

[2016-12-21 17:11] jeff-regier commented on #461
Duplicate of #471

[2016-12-21 17:11] #461 closed, assigned to nobody

[2016-12-21 17:12] jeff-regier commented on #459
Duplicate of #469

[2016-12-21 17:12] #459 closed, assigned to nobody

[2016-12-21 17:16] jeff-regier opened #489 "test that gradient is 0 for joint inference in `validate_on_stripe82.jl`"

[2016-12-21 17:16] jeff-regier opened #490 "test that joint inference improves the elbo for `validate_on_stripe82.jl`"

[2016-12-21 17:18] jeff-regier opened #491 "joint inference should optimize the fft elbo"

[2016-12-21 17:46] jeff-regier opened #492 "ReverseDiff for Transform.jl"

[2016-12-21 19:22] #227 closed, assigned to gostevehoward

[2016-12-22 14:33] jeff-regier commented on #491
I think the easiest way is to pass a `use_fft` flag to `one_node_joint_infer`. If true, `one_node_joint_infer` should call `maximize_f` like it's done [here in `infer_source_fft`](https://github.com/jeff-regier/Celeste.jl/blob/master/src/DeterministicVIImagePSF.jl#L51-L54). @agnusmaximus -- Would you mind making this change?

[2016-12-22 20:19] gostevehoward opened #494 "Version the GalSim FITS file"
Right now the make/test system doesn't have any good way to know when it should download a new GalSim FITS file and an out-of-date FITS file can cause broken tests and other unexpected behavior which has already bitten us several times. Also, checking out old git commits doesn't work, because you can't easily get the correspding old FITS file. We could just add a Makefile dependency on, say, `test

[2016-12-22 21:20] jeff-regier commented on #494
Sounds like a good solution to me

[2016-12-22 23:31] agnusmaximus commented on #491
Sounds good, I'll do that

[2016-12-22 23:47] jeff-regier commented on #491
Thanks Max!

[2016-12-23 17:35] #381 closed, assigned to jeff-regier

[2016-12-26 23:56] #390 closed, assigned to jeff-regier

[2016-12-26 23:57] #458 closed, assigned to jeff-regier

[2016-12-27 00:02] jeff-regier commented on #424
Oops, duplicate of #374

[2016-12-27 00:02] #424 closed, assigned to nobody

[2016-12-27 00:03] jeff-regier commented on #343
Subsumed by #406

[2016-12-27 00:03] #343 closed, assigned to nobody

[2016-12-27 14:42] agnusmaximus commented on #490
Hmm, I'm writing tests for checking that the gradient is around 0. For some reason the gradient doesn't get close to zero even for a small test case with 4 sources.

Some values are very close to zero while others are somewhat large, for example
[code]
(This is the result of DeterministicVI.elbo(...).d for 4 sources)

Some parameters are definitely going to zero, but others are not changing at all

[2016-12-27 15:35] jeff-regier commented on #490
There might be two things going on here. First, these parameters may have different scales, so "close to zero" means different things for different parameters. Think of the function `x^2 + 1000000y^2`. At `(0.001, 0.001)` we're pretty close to the minimum, but the partial derivative wrt `y` is much greater.

You might try adjusting for the scales of the parameters by dividing the gradient by the d

[2016-12-27 15:50] agnusmaximus commented on #490
I see, thanks!! I'll check this out

[2016-12-27 16:05] andreasnoack commented on #490
Aren't we computing the Newton update `H\s` for each iteration anyway? Wouldn't `dot(s,H\s)` then be a good and cheap metric to use?

[2016-12-27 16:48] jeff-regier commented on #490
We never explicitly form the Hessian `H` for the whole objective function, just for blocks of the Hessian `H_i` along the diagonal. (Each block corresponds to the parameters for one source. Our optimization method is block coordinate ascent, with blocks updated by Newton steps.) The entries of the Hessian off the block diagonal not all zero. So computing `H \ s` may not be straightforward. I'd hav

[2016-12-28 00:59] #494 closed, assigned to gostevehoward

[2016-12-28 01:27] agnusmaximus commented on #490
Hmm, just to clarify, there are 32 values for each set of parameters and 4 sources. So the hessian will be 128x128 (32x4). If `Diag` is the diagonal of the hessian (length 128), then `Diag[1:32]` is the scaling factor for the parameters of the first source, `Diag[33:64]` is the scaling factor of the parameters of the second source and so on?

It seems like after scaling, there are only a few large

[2016-12-28 02:56] jeff-regier commented on #490
Yes, that's what I was proposing, except that I thought you'd make one source active at a time, to compute its block of Hessian. That way you could check all ~500 sources optimized by `validate_on_stripe82.jl`. But for just 4 sources your way works just fine. Actually, with only 4 sources you might try doing what Andreas suggests.

Would you try your test with just 1 light source (rather than 4)?

[2016-12-28 03:38] agnusmaximus commented on #490
Hmm, yeah I tried individually calculating the gradient and it's not really 0. For each set of parameters, a lot of values are super tiny, but there are a few that are .5 and one or two that are >1.

e.g:
[code]

[2016-12-28 03:41] agnusmaximus commented on #490
With more iterations the gradient does go closer to 0, but after a certain point it doesn't get any closer

[2016-12-28 04:33] jeff-regier commented on #490
With just that one light source, do you get the same results with joint inference as with single infer?

It's also possible that this is what machine precision looks like for our problem, because of how we transform the constrained optimization problem to an unconstrained problem. I'd wonder about that if single infer also finds "optimizers" whose gradients have large norms.

[2016-12-28 04:38] jeff-regier commented on #490
You might try setting the tolerance lower too when you call `maximize_f`, e.g. `xtol_rel=1e-8` and `ftol_abs=1e-7`.

[2016-12-28 04:46] agnusmaximus commented on #490
Ah the previous parameters were still from optimizing 4 light sources. With optimizing only one light source:

joint_infer
[code]

Single infer
[code]

[2016-12-28 04:48] agnusmaximus commented on #490
Seems like the larger values are close to each other. The difference may be that with single infer 20 newton steps are performed all at once, while with joint infer, multiple updates of 5 newton steps are taken.

I'll try tweaking xtol_rel and ftol_abs

[2016-12-28 05:15] jeff-regier commented on #490
For single infer, with one light source, what value do you get back from `dot(g, H \ g)`, where `g` is the gradient and `H` is the Hessian?

In joint infer, you might also try setting `max_iters=50` everywhere you call `maximize_f`. I'll need to think more about how to make the algorithm converge for sure with fewer iterations. There's an issue with each source having it's own trust region radius

[2016-12-28 05:36] agnusmaximus commented on #490
for single infer, `dot(g, H \ g)` gives me -2435.586519212405

I get a similar value with joint infer with max_iters=50

Update, yeah with max_iters the results from joint infer and single infer on one light source gives nearly the same results:

single_infer
[code]

joint_infer (max_iter=50)
[code]

[2016-12-28 05:49] jeff-regier commented on #490
I think figured it out...I should have thought of this earlier. The gradient isn't supposed to be 0 because some of the constraints are active. The `Transform` module converts the constrained optimization problem to an unconstrained optimization problem, and it's the latter problem that should have a nearly 0 gradient, not the former. If you look at optimizer (for the constrained problem), I'm pre

[2016-12-28 05:55] agnusmaximus commented on #490
I see, that makes sense. Maybe instead of testing the gradient, would it be equivalent to just check that all the sources have converged via the return value of the optimizer? (The optimizer returns whether the optimized source converged or not, which was how I was determining when to stop optimization).

[2016-12-28 05:55] agnusmaximus commented on #490
For now I'll look into getting the gradient of the unconstrained problem

[2016-12-28 19:24] andreasnoack commented on #490
This is a norm so it ought to be non-negative-ish. Is the Hessian almost singular?

Update: Just realized that we are maximizing so `H` is negative definite, right? Sorry for the noise.

[2016-12-28 22:03] jeff-regier commented on #490
That's it, I think

[2016-12-28 23:26] jeff-regier commented on #489
@agnusmaximus  You can get the gradient for the unconstrained problem from the `last_sf` variable stored here:

https://github.com/jeff-regier/Celeste.jl/blob/master/src/deterministic_vi/maximize_elbo.jl#L36-L37

I think it's going to be easier to use that one directly, rather than map `elbo.d` back to the unconstrained parameterization.

[2016-12-28 23:37] jeff-regier commented on #489
Actually it isn't so easy to access `last_sf` outside of the scope of `maximize_f`. You might just declare your own variable like `last_sf` in your tests, and then more-or-less duplicate lines 44 and 47 in your test:
https://github.com/jeff-regier/Celeste.jl/blob/master/src/deterministic_vi/maximize_elbo.jl#L44-L47

On line 44, `f` is the function `DeterministicVI.elbo`. Line 47 loads the `last_sf

[2016-12-29 01:14] gostevehoward commented on #471
For reference, from #461 (my bad making the duplicate):

Generate a field-sized image (in all 5 bands) containing around 500 light sources. Get the parameters for these light sources by sampling from our prior distributions. Place the light sources uniformly at random in the image. Some should overlap. Modify the galsim benchmark so that it can run on just this image, maybe by specify the FITS fil

[2016-12-29 01:17] gostevehoward commented on #471
@jeff-regier: did you want to draw these from prior defined in `Model.load_prior()`? It has 99% prior probability of being a star, which it sounds like has been set artificially high to counteract the flexibility of the galaxy model? Do you want to bring that down for the purposes of generating this field? Or instead of drawing from the distribution did you want to just sample rows from a catalog

[2016-12-29 02:06] jeff-regier commented on #471
Ah, no, I'll find a better way to encode a "penalty" for not having parameterization-invariant priors on the galaxies' parameters. For now, please just hard code in your script `a = [0.28, 0.72]`, i.e. 28% stars and 72% galaxies.

[2016-12-29 02:14] jeff-regier commented on #471
I haven't list priors yet for `e_fracdev`, `e_angle`, and `e_axis`. For `e_angle`, uniform on [0,180] is a reasonable prior. For `e_axis`, let's go with Beta(2,2) for now. For `e_fracdev`, maybe Beta(0.5, 0.5). I'll add more exact values to `Model.prior` in the future.

[2016-12-29 14:50] agnusmaximus commented on #489
Sorry for the late reply, was a little out of it yesterday. Using the last_sf method like in maximize_f worked.  On the 4 sources test case the gradients do get very close to zero.

I've just tried it out on the stripe 82 test case and for some sources the gradients are not zero, failing the check. The gradients do go closer to zero though with more iterations. I'm currently looking into how to im

[2016-12-29 17:24] jeff-regier commented on #290
I think it will be fine to just optimize each light source fully at each step (of the block coordinate ascent routine), setting max_iters to 50 or 100. Then there's no doubt the algorithm converges: each step makes as much progress as possible.

It would seem more reasonable to do just a few Newton iterations at each of these step. Why optimize one block of coordinates all the way to machine preci

[2016-12-29 17:24] #290 closed, assigned to jeff-regier

[2016-12-29 21:01] agnusmaximus commented on #490
Cool, so I checked the objective value achieved by both single infer and joint infer on stripe82 and joint infer achieves the better score.

[code]

[2016-12-29 21:59] rgiordan commented on #359
Sorry I didn't reply to this.  For an example of what I'm talking about, take a look at ```add_elbo_log_term!```.  We pass in an entire ```ElboIntermediateVariables``` object, which contains quite a lot of stuff, in order to access a small number of pre-allocated memory for temporary storage, e.g. ```combine_grad``` and ```combine_hess```.  Where I needed to (like ```calculate_var_G_s!```) I just

[2016-12-30 03:23] gostevehoward commented on #471
FYI the galsim image generation code currently doesn't have any support for `e_dev`, it generates all galaxies using a pure exponential profile. We can make an issue to add that support and add some appropriate test cases.

[2016-12-30 19:05] jeff-regier commented on #359
I worked on making `ElboArgs` a type parameterized by the type of the PSF, so that code general to both PSF methods runs on either type of `ElboArgs`, and code specific to each PSF method ("MOG" or "FFT") has all the values it needs (and allocates no extra memory for the other type of PSF). It isn't easy doing this retroactively, unfortunately. I think the piecemeal approach with a bunch of extra

[2016-12-30 19:12] jeff-regier commented on #471
Is it galsim that doesn't support De Vaucouleurs galaxy profiles? Or you is it your Python code that only generates exponential galaxies? If the latter, what's involved in generating De Vaucouleurs galaxies too?

[2016-12-30 19:13] jeff-regier commented on #490
That's great news!

[2016-12-30 19:13] #490 closed, assigned to agnusmaximus

[2016-12-30 19:33] #491 closed, assigned to agnusmaximus

[2016-12-30 19:47] jeff-regier commented on #489
You might try implementing the serial version of the algorithm that Cyclades parallelizes. The serial version of the algorithm could iterate through the light sources in order, repeatedly, calling `maximize_f` on each with `max_iters=50` (or `max_iters=100` even), terminating after 10 passes or so through all the light sources.

If that doesn't find a stationary point, something is probably off wi

[2016-12-30 20:28] agnusmaximus commented on #489
Ah that's a good idea, I'll try that

[2016-12-30 20:34] rgiordan commented on #489
Sorry to jump in late with an obvious observation, but since I don't see it
above I'll say it just in case: there are three different termination
conditions that optim uses: size of the gradient, change in the function
value, and change in the parameters themselves.  Which condition terminated
optimization is available in the optimization results, which Celeste
returns.  You can control the optimi

[2016-12-30 20:39] agnusmaximus commented on #489
Interesting, I didn't know that! I'll try poking around and see if most are terminating due to gradient being close to 0 and whether that matches what I'm seeing with the unconstrained gradient.

[2016-12-30 20:47] jeff-regier commented on #489
That's worth keeping in mind though I think Max is seeing the gradient go to 0 with single infer, but not joint infer. If the issue where how Optim is called, I'd think it would affect both single and joint, though I can imagine exceptions to that.

[2016-12-30 21:15] agnusmaximus commented on #489
Hmmm sorry about the confusion, the gradient of each source does get closer to 0 with joint infer, but some never really "reach" it (by reach I mean the norm(gradient of source i) < x where x is some constant. In my tests it's 1).

It does seem that joint infer gets closer to 0 than single infer (as indicated by its better objective value) though.

[2017-01-02 07:22] jeff-regier opened #504 "stars misclassified as galaxies"
Celeste (following PR #505, called with `validate_on_stripe82.jl --fft`) confidently misclassifies 11 "stars" (according to `coadd`) as galaxies, yet `primary` labels them stars. This issue is to understand why we got each of them wrong.

[code]

These 11 misclassified stars appear below.

**some idea why we missed these**
- [1237663784734490856](http://skyserver.sdss.org/dr10/en/tools/chart/navi.

[2017-01-02 21:06] gostevehoward commented on #471
The latter. GalSim supports the [de Vaucouleurs profile](https://github.com/GalSim-developers/GalSim/blob/releases/1.4/galsim/base.py#L2665) the same as it supports the [exponential profile](https://github.com/GalSim-developers/GalSim/blob/releases/1.4/galsim/base.py#L2568). Adding support is easy, just add another field to [`Galaxy`](https://github.com/jeff-regier/Celeste.jl/blob/master/benchmark

[2017-01-02 21:27] jeff-regier commented on #471
Good question. It's a mixture weight, not a probability. Many galaxies are composites, somewhat like a dev galaxy and somewhat like an exp galaxy.

[2017-01-03 19:11] jeff-regier opened #506 "joint inference with FFT requires 60 GB of memory"
Running `validate_on_stripe82.jl --joint --fft` takes 60 GB of memory! Not sure if it's those fsm matrices or what.

[2017-01-03 19:41] jeff-regier commented on #504
With #505, after running `validate_on_stripe82.jl -fft`, just 11 stars are confidently classified as galaxies.

[code]

They are
[code]

[2017-01-04 17:48] gostevehoward opened #508 "Support `e_dev` in GalSim benchmarks"
That is, generate galaxies with varying mixture weights between exponential and de Vaucouleurs profiles, and report the ground truth and estimated `e_dev` in the benchmark script.

[2017-01-04 18:56] andreasnoack commented on #391
I've updated the top comment with the extra info for building with the Intel compilers.

[2017-01-04 19:53] kpamnany commented on #391
Building with Intel compilers, I get:
[code]
Any ideas?

[2017-01-04 20:08] andreasnoack commented on #391
This must be a version of Julia with https://github.com/JuliaLang/julia/pull/17057. I don't know why it wouldn't work on KNL but we are still adjusting to that change. If you want something running now, I'd try to build 374c3d6b3c3e15c00f7d3df8b5cb7c8a763aa746 instead of latest master.

[2017-01-04 23:00] jeff-regier opened #510 "unify `GalsimBenchmark` and `Stripe82Score`"
Maybe call the unified module something like `AccuracyBenchmark`.

We'd like to be able to pick arbitrary combinations of 1) a ground truth catalog (either `coadd`, or a synthetic catalog drawn from the Celeste model), 2) an image generation routine (either galsim, `test/Synthetic.jl` or SDSS), and 3) prediction catalog (`primary`, Celeste MOG, or Celeste FFT).

It's tempting to make the synthetic

[2017-01-04 23:07] #413 closed, assigned to agnusmaximus

[2017-01-04 23:16] jeff-regier opened #511 "Learn WCS transforms from the Gaia catalog"
The Gaia dataset is an extremely accurate catalog of bright stars' locations. We can use them to learn the WCS transforms for each image rather than relying on the SDSS pipeline.

It's already stored on the NERSC file system.
[code]

In addition to getting more accurate WCS transforms, we might also hope to correct for a property of the CCD by calibrating with the Gaia catalog: photons from previo

[2017-01-04 23:34] jeff-regier opened #512 "model CCD saturation as censoring"
For bright stars and galaxies, the CCD can't record all the photons it receives. Pixels "fill up" around the brightest parts of the light source. Whether a light source saturates has to do with its brightness, of course, but also the effects of "seeing." (With a wider point spread function, photons are spread across more pixels, perhaps preventing saturation.) It's very easy to detect saturation b

[2017-01-05 20:02] jeff-regier commented on #510
@gostevehoward  We could go over the `Stripe82Score.jl` code tomorrow before or after the DESI meeting if you like. I'm sure you could figure it out too. The basic idea is that there's a function to load each type of catalog (i.e., primary, coadd, celeste) into a data frame having a common format. These functions are called `load_primary`, `load_coadd`, and `celeste_to_df`. (The first two read fro

[2017-01-08 20:47] jeff-regier commented on #366
With #505 the FFT version appears to be doing well except for on `mag_r`. Anyway, this issue was just to get it running on a whole field, so I think it's done, but maybe I'll open an issue about `mag_r` as a placeholder.

[2017-01-08 20:47] #366 closed, assigned to rgiordan

[2017-01-08 20:53] jeff-regier opened #513 "FFT version of Celeste misestimates brightness"
With #505, the Celeste FFT point estimates look very good except for on `mag_r`, the brightness in the r band. (The number of galaxies misclassified as stars increases too, but primary makes most of these mistakes too, so it's not necessarily a bad sign.)

[2017-01-11 16:36] rcthomas opened #514 "multi-node Celeste run"
Run Celeste using O(10) Cori-KNL nodes.

[2017-01-11 16:37] rcthomas opened #515 "a 100-node Celeste run"
Submit a Celeste job to Cori-KNL and have it run/complete before the hackathon.

[2017-01-11 16:44] rcthomas opened #516 "initial single-node FLOPS measurements"
Make a FLOPS measurement at the beginning of the hackathon.

[2017-01-11 16:44] rcthomas opened #517 "final single-node FLOPS measurement"
Measure FLOPS on a single Cori KNL node and compare it to the initial one.  Did we make progress?

[2017-01-11 16:47] rcthomas opened #518 "a 1000 node Celeste run"
By the middle of February we need to have a 1000-node Celeste run on Cori-KNL under our belt.  We want to identify any scaling/network/infrastructure issues that could be addressed by filing tickets with vendors, especially Cray.  Doing this in the middle of February gives us a chance to identify such issues and give Cray a month to work on them before our first hero runs in March.

[2017-01-12 00:49] jeff-regier opened #520 "parallel GC for memory not shared among threads"

[2017-01-12 01:47] jeff-regier commented on #515
@rcthomas -- Does this need to done before the hackathon? I thought this is what we'd be doing during it.

[2017-01-12 16:05] rcthomas commented on #515
My thinking is that if a simple 2- or 4-node run can be done before the hackathon and it works, we should just go ahead and change -N to 100 and submit such a run without the time pressure of having it complete during the 2-day window of the hackathon.  Why wait.

Put another way, we want to be doing *lots* of 100 node runs during the hackathon with quick turnaround under reservation, we better ma

[2017-01-12 21:54] rcthomas commented on #288
Meeting with Kaylan Wednesday is set, what's the path to the TaskFarmered SDSS catalogs?

[2017-01-12 23:52] jeff-regier commented on #288
The catalog is stored in
[code]
That directory contains ~180,000 files in the `jld` format. Please see PR #496 for how to convert them to `fits` files.

[2017-01-13 15:29] agnusmaximus commented on #506
Cool, I think reallocating during optimization reduces the memory (if I'm interpreting it right). Here's a result from a `julia validate_on_stripe82.jl --joint --fft` run:

[code]

The process does take a very long time though (this is 10 iters)... and the GC time is pretty high (maybe since it's doing a bunch of the same allocations over and over).

Maybe there's a julia way to mark the fsm_mat a

[2017-01-13 15:35] agnusmaximus commented on #506
Hmm, the results look a bit worse than with single infer for some reason... looking into that...

[2017-01-13 16:43] agnusmaximus commented on #506
Hmm, I seem to get some errors with `Pkg.update` (`GitError(Code:ERROR, Class:Merge, There is no tracking information for the current branch.)`), has anyone seen this before?

[2017-01-13 20:05] jeff-regier commented on #506
I'm not sure about the git error. Maybe try updating from the command line
with git rather than going through the Julia repl. At worse you can delete
the Celeste directory and clone a fresh version.

Looks like it's mainly position that is off. It's off by a lot though. Is
the final elbo value higher with the --joint flag than without it?

How many threads were you using? That is pretty high GC ti

[2017-01-13 20:35] agnusmaximus commented on #506
I was using 1 thread. I still have to try running without the --joint flag (currently I get some sort of assertion error when I run without --joint, but I think this is related to the `Pkg.update` error).

[2017-01-13 21:52] agnusmaximus commented on #506
Hmm, I seem to get an assertion error `ERROR: LoadError: AssertionError: all(param .>= sb.lb)` when running with just `--fft`.

[2017-01-13 23:17] jeff-regier commented on #506
That's issue #415 ... I suspect it has to do with Transform.jl . I was thinking of working on that once PR #519 is merged, if the issue persists.

In the meantime, if you
[code]
beforehand, then the error will get caught and them problematic light source will be excluded from the score.

[2017-01-13 23:26] agnusmaximus commented on #506
I see interesting. I ran into that problem with `-joint-infer -fft`, but got around that by using the default optim params. I'll see if the same trick works with just `-fft`. The issue could be deeper than that though, so this might not be a viable fix.

[2017-01-13 23:42] agnusmaximus commented on #506
hmm yeah, nvm the same trick (using default optim params), doesn't work with just -fft for some weird reason..

[2017-01-14 00:25] jeff-regier commented on #506
I think I've partly figured out the `position` error. When you run with the `--joint` flag, the positions are farther off than should be possible:
[code]

That's over 10 pixels off. At that distance, it's not even finding the same star as it was initialized to.  For single infer (both mog and fft), the error is never more than 1.5 pixels. That's because I set the default `loc_width=1e-4` in `maxim

[2017-01-14 00:33] agnusmaximus commented on #506
Hmm does that happen regardless of whether the `--fft` flag is added or not?

[2017-01-14 00:42] agnusmaximus commented on #506
I'll see if this is related to using the default julia optim params (probably not, but I'll check just in case).

[2017-01-14 00:52] jeff-regier opened #523 "for joint infer, position isn't constrained to remain near its initial position"
For joint infer, **each** call to `maximize_f` may change the position by as much as `1e-4` degree (= 0.92 pixels) in any direction. That adds up over multiple iterations---we may end up with a fitting a different astronomical object than we initialized to.

Instead I think we want to reuse the value returned by [`constrain_model!`](https://github.com/jeff-regier/Celeste.jl/pull/519/files#diff-d18

[2017-01-14 16:35] rcthomas commented on #288
@jeff-regier can you confirm these should indeed be zero-sized?  Otherwise I think I got the conversion done.

[code]

[2017-01-14 18:50] jeff-regier commented on #288
Yes, that's fine if a few are zero sized. Glad to hear the conversion went smoothly.

[2017-01-14 22:31] jeff-regier opened #524 "replace wget with curl"
mac os x has curl installed by default but not wget

[2017-01-14 23:50] jeff-regier opened #526 "joint_infer tests take > 10 minutes on travis"
The `joint_infer` tests are back to taking >10 minutes on travis. Ideally they'd all finish in 1 or 2 minutes. Tests that can't be made fast without ruining the test can use `test_long_running` flag. (See `test_infer.jl` for an example.)

[2017-01-15 00:35] #524 closed, assigned to jeff-regier

[2017-01-15 01:01] #526 closed, assigned to agnusmaximus

[2017-01-15 17:15] agnusmaximus commented on #489
Ok, for the stripe82 test set, with no termination criteria, I ran for 1000 iterations (taking 24016.404752231 seconds ~ 6.6 hours with 8 threads), and the unconstrained gradient does get pretty much to 0 (within a norm of 1). I think with even more iterations it can get arbitrarily close to 0, but it just takes a super long time.

[2017-01-15 17:17] agnusmaximus commented on #489
Should I even add this test to the long-running tests for joint_infer? It'll take > 7 hours with a single thread.

Also, does https://github.com/jeff-regier/Celeste.jl/issues/523 affect anything here?

[2017-01-16 20:59] jeff-regier commented on #489
That's good hear, that it gets very close to 0 after enough iterations on a realistic test case. I feel confident now that the joint inference code is doing what we want. Thanks for validating the code. We should be able to claim now in the paper that we're finding a stationary point, at least to some precision. 7 hours is a long time even for the long running tests, so probably better not to incl

[2017-01-16 20:59] #489 closed, assigned to agnusmaximus

[2017-01-16 21:04] #506 closed, assigned to agnusmaximus

[2017-01-16 21:16] jeff-regier commented on #506
Nice. It runs on my machine without using more than 6 GB now.

[2017-01-16 22:17] agnusmaximus commented on #506
Great! The high garbage collection time is probably related to doing these repeated allocations. I wonder if there's a Julia method to mark a piece of memory as delete immediately (couldn't find anything by looking online). I'll bring this up during our Wednesday meeting.

[2017-01-16 22:41] jeff-regier commented on #523
@agnusmaximus -- Right now in `joint_infer` you're calling the version of `maximize_f` that doesn't take a `transform` as an argument. Instead, you might pre-allocate a vector of transforms before calling `maximize_f` at all, the same way you create `ea_vec` ahead of time now. Basically duplicate [this call](https://github.com/jeff-regier/Celeste.jl/blob/master/src/deterministic_vi/maximize_elbo.j

[2017-01-16 23:33] agnusmaximus commented on #523
Great, yeah that makes sense. I'll probably get around to trying this later tonight or tomorrow. I'll let you know if I have any other questions!

[2017-01-17 00:43] rgiordan opened #528 "Stripe 82 fft parameter out of bounds"
```validate_on_stripe82.jl``` is no longer working with fft.  I'm not sure what changed, and I was under the impression that @jeff-regier could run it.  Any ideas?

[code]

[2017-01-17 00:46] rgiordan opened #529 "Galsim fft does not work"
Galsim's fft fitting doesn't work.  I'm surprised, since I could run this before break.  I've spent a while trying to see what's going wrong, and so far I haven't been able to find anything.

Can other people run this?  Any ideas what changed in the last few weeks that could have made this happen?

[code]

[2017-01-17 00:46] rgiordan commented on #529
@jeff-regier @gostevehoward

[2017-01-17 00:49] jeff-regier commented on #528
If you run with it with more than 1 thread, it will skip the problematic
light source rather than throwing an exception. Not an ideal solution, but
it works.

On Mon, Jan 16, 2017, 4:43 PM Ryan <notifications@github.com> wrote:

[2017-01-17 00:50] jeff-regier commented on #528
Duplicate of #415

[2017-01-17 00:50] #528 closed, assigned to nobody

[2017-01-17 01:17] rgiordan commented on #324
Did I understand from the last call that Andy is off the project?  If so, what's the plan for this issue?

[2017-01-17 01:38] jeff-regier commented on #529
It doesn't work for me either now. Looks like it started throwing that error 2.5 weeks ago, with commit [3c15a3b0a6060ce5f6a499da5ddf673575c3ef74](https://github.com/jeff-regier/Celeste.jl/commit/3c15a3b0a6060ce5f6a499da5ddf673575c3ef74).

[2017-01-17 02:43] rgiordan commented on #529
I'll assume you're on it?  A unit test may be advisable, too.

[2017-01-17 02:48] jeff-regier commented on #529
Yeah, I'm on it. I don't think there's anything wrong with that commit though. Optim shouldn't be throwing the non-posdef errors ever. I thought I fixed them in a previous commit to Optim.jl.

Can you just skip the first galsim case in the meantime? The rest still work, right?

[2017-01-17 18:08] jeff-regier commented on #529
I submitted a bug fix to Optim.jl. Until it's merged and tagged, you may want to use my fork.

[code]

[2017-01-17 18:08] #529 closed, assigned to jeff-regier

[2017-01-17 18:11] jeff-regier commented on #285
I'm not sure this is worth doing any more. VI is working quite well now, so there isn't much room for improvement. Also, MAP estimation would require discrete optimization--a hard assignment of each light source as either a star or a galaxy.

[2017-01-17 18:11] #285 closed, assigned to andymiller, rgiordan

[2017-01-17 19:23] jeff-regier commented on #513
Setting `max_iters=200` seems to help with the `simple_star` galsim test case, but not with `validate_on_stripe82.jl --fft`. Not that I'm working on this issue, just figured I'd mention it.

[2017-01-17 22:26] rgiordan commented on #513
Looking at the galsim cases today, it appears that the FFT version is not finding a good optimum.

It would be useful if the ```omitted_ids``` functionality were restored (https://github.com/jeff-regier/Celeste.jl/issues/480).

[2017-01-17 22:47] rgiordan opened #531 "inferred_values should be posterior expectations?"
@gostevehoward , I noticed that ```inferred_values``` in ```GalsimBenchmark.jl``` uses ```exp(r1)``` for the brightness estimate.  I think the correct value would be the posterior mean, which for a lognormal is ```exp(r1 + 0.5 * r2)```.  A similar comment extends to the colors.

I understand the temptation to use ```exp(r1)``` as the "zero-variance" estimate of the brightness.  Or perhaps you inte

[2017-01-18 00:26] jeff-regier commented on #531
We're reporting L1 loss on the galsim dataset, so we return the median, since that minimizes L1 loss. (The mean minimizes L2 loss.)

[2017-01-18 02:01] rgiordan commented on #531
I see, makes sense.

[2017-01-18 02:01] #531 closed, assigned to nobody

[2017-01-18 02:29] #14 closed, assigned to jeff-regier

[2017-01-18 02:29] #16 closed, assigned to jeff-regier

[2017-01-18 04:18] #480 closed, assigned to jeff-regier

[2017-01-18 17:05] #523 closed, assigned to agnusmaximus, jeff-regier

[2017-01-18 18:40] gostevehoward opened #534 "Restore GalSim unit tests"
Right now, three out of the five cases exercised in [`test_galsim_benchmarks.jl`](https://github.com/jeff-regier/Celeste.jl/blob/master/test/test_galsim_benchmarks.jl) are commented out because they're not working. I think I had all benchmark cases working well at some point but they weren't in unit tests so (as was inevitable) they got broken, and then when new cases broke they simply got comment

[2017-01-18 19:21] gostevehoward commented on #534
For what it's worth, I am seeing the `simple_star` benchmark working just fine on current master; are you seeing otherwise?

[code]

[2017-01-18 23:22] gostevehoward commented on #534
Well the `simple_star` and `star_with_noise` benchmarks seem to be passing for me on current master (after Jeff merged #507). `galaxy_with_noise` fails but, as I now recall and as was commented in the code, it's a result of the bias from `load_active_pixels!`, issue #482. The solution is supposed to be the shiny new component-detection/initialization system in #157, which is a larger project.

My

[2017-01-18 23:42] rgiordan commented on #534
Definitely better than commenting out test cases, but not as good as having test cases that actually work.  Sorry if this is a question already answered elsewhere, but I've been out of the loop: if noise biases GalSim results so badly, why do we believe our results on actual catalogs?

https://github.com/jeff-regier/Celeste.jl/issues/157 is a good idea, but it seems like it might take a while.  Is

[2017-01-18 23:50] rgiordan commented on #534
Yes, after rebasing I now see the correct galaxy probability estimates.  That's good!  I don't quite see how https://github.com/jeff-regier/Celeste.jl/pull/507 could have fixed it, though, do you @gostevehoward ?

[2017-01-18 23:52] gostevehoward commented on #534
For what it's worth, I don't have a lot of context on this and don't know
the right answer; I currently don't have an opinion on either the new way
or the old way.

I did ask why this doesn't affect SDSS/stripe82 in #482 and Jeff said (see
last comment):

I think it does affect SDSS and stripe 82, but not that much, in part
because an 8x8 grid around the center of the source always gets included n

[2017-01-18 23:57] rgiordan commented on #534
@jeff-regier , any reason these arguments about stripe 82 don't apply equally to GalSim?  If not, why do you think the GalSim results are biased?  (Disclaimer: I haven't run these tests myself, so I'm just taking everyone's word that they are failing because of ```load_active_pixels```.)

[2017-01-18 23:58] gostevehoward commented on #534
I don't know if or why #507 "fixed" it, no. It might be that Celeste finds
one of two minima, one for the galaxy fit and one for the star fit, and
that which minimum gets found is very sensitive to minor details right now
on this case. That is, the problem is masked by #507 but not really fixed.
(Or maybe another commit slipped in close to #507; I didn't look.)

On Wed, Jan 18, 2017 at 3:51 PM Ste

[2017-01-19 00:40] jeff-regier commented on #534
It's possible that `load_active_pixels!` introduces some bias. But I'd expect that to affect the mog version of Celeste too, not just the FFT version.

To prevent any bias, when you call `get_sky_patches`, pass it the argument `min_radius_pix=50`, if 50 is large enough to contain all the pixels that could possibly be relevant. (By default `min_radius_pix=8`.)

[2017-01-19 02:00] rgiordan commented on #513
With the mysterious fix mentioned in https://github.com/jeff-regier/Celeste.jl/issues/534, the FFT is now doing pretty well on GalSim again.  I'm running stripe 82 and will check it tomorrow.

So far, I've seen big gains with the FFT by optimizing for a star first and then the star and galaxy parameters together -- sometimes 2-3x speedups in numbers of iterations, comparable ELBO values, and occas

[2017-01-19 02:11] rgiordan commented on #14
I'm confused -- did quasars get added?

[2017-01-19 02:21] jeff-regier commented on #14
Yes, but there are still just two types of light sources: point sources (i=1) and galaxies (i=2). Point sources includes both quasars and stars. That's reflected in the new prior. (the `.jld` file) in the `cfg` directory.

[2017-01-20 01:54] jeff-regier commented on #443
It's mostly the worst case that matters. The box with the longest run times was
[code]
It finished in
[code]

It's estimated hardness was
[code]
which wasn't far from the limit (100,000). Had it exceeded 100,000, it would have been divided into smaller boxes. Instead it appeared in the top 6% of boxes.

The second most long-running task also appears in the top 6% of boxes according to estimated ru

[2017-01-20 01:54] #443 closed, assigned to jeff-regier

[2017-01-20 02:24] jeff-regier commented on #514
@kpamnany -- I've placed a list of square regions of the sky for you in
[code]
These boxes are sorted by expected runtime. The most difficult ones appear first.

[2017-01-20 21:31] jeff-regier commented on #516
Duplicate of #453, more or less. @andreasnoack please post a pre-hackathon measurement of single-node flops here once you have it.

[2017-01-21 21:35] andreasnoack commented on #516
I'll do what I can but Celeste is still not running on Julia master. We have many dependencies which are more or less broken right now. So far, I've fixed `StatsBase`, `Distributions`, `PDMats`, `DataStructures`, `FITSIO` and I'm working on `StaticArrays` right now.

[2017-01-25 00:26] kpamnany commented on #514
The first box alone (354.5, 355.0, -2.5, -2.0) has 8983 primary sources after the MIN_FLUX cut. At 2 seconds per source (which we aren't at yet I think?), that's 30 minutes of runtime, given 8 threads. If each box has roughly similar, the load imbalance is likely going to be this much or more. This seems too much?

[2017-01-25 03:00] jeff-regier commented on #514
I can make them smaller, but then we're going to have to load the data more times. Quarter square degree is really a good size as far as data loading goes. If we use sixteenth square degree regions then we have to load twice as much image data. Can we use all 288 threads on each node for one process once @keno has a Julia branch that supports local memory allocation / parallel GC?

[2017-01-25 03:04] jeff-regier commented on #514
In the meantime, @kpamnany, you might use the `tac` command line utility to reverse the order of the list. Then the boxes will be sorted by computational difficulty in ascending order.

[2017-01-25 17:24] kpamnany commented on #514
272 threads, on Cori. And it is unlikely. Even for C/Fortran codes, not many can be made to scale that high with threads. And while Keno's change will hopefully help, it is not clear how much it will help.

Let's go with this for now and see what happens.

[2017-01-25 17:35] kpamnany commented on #443
As I said in the other issue, I'm concerned that these boxes are too large for effective load balance. A single task with a runtime of ~3.75 hours is pretty crazy. If the task granularity is, in fact, too coarse, then we'll have to shrink the boxes, and we can consider improving the difficulty estimate at that point.

[2017-01-25 18:12] jeff-regier opened #537 "improve task-difficulty estimation"

[2017-01-25 20:30] gostevehoward commented on #471
Closing as done by #501; the `e_dev` issue is in #508 and debugging the accuracy will come after #510.

[2017-01-25 20:30] #471 closed, assigned to gostevehoward

[2017-01-26 03:43] #534 closed, assigned to gostevehoward

[2017-01-26 03:44] gostevehoward commented on #534
Fixed by #538

[2017-01-26 03:45] gostevehoward commented on #482
#538 is kind of a hacky fix but the real fix is #157 which is a substantial project

[2017-01-26 03:45] #482 closed, assigned to gostevehoward

[2017-01-26 03:45] gostevehoward commented on #508
Fixed in #539

[2017-01-26 03:45] #508 closed, assigned to gostevehoward

[2017-01-26 16:42] andreasnoack commented on #391
I've updated and tagged most packages to work and not show warnings on Julia master. The main exception is `StaticArrays` where my PR is still under review. Therefore you should use the master branch of my fork https://github.com/andreasnoack/StaticArrays.jl. Hopefully, we'll be able to get it reviewed and merged today but I don't have commit access to that repo.

A minor problem is DataFrames and

[2017-01-26 18:23] Keno commented on #483
https://github.com/JuliaLang/julia/pull/20257 has a WIP for this.

[2017-01-27 00:20] jeff-regier commented on #514
Done yesterday

[2017-01-27 00:20] #514 closed, assigned to kpamnany

[2017-01-27 00:56] jeff-regier commented on #414
I haven't been able to recreate this issue with the FFT version of Celeste.

[2017-01-27 00:56] #414 closed, assigned to nobody

[2017-01-27 02:15] jeff-regier commented on #460
We're not! Scores on faint light sources look very good now---better than on bright sources even (relative to primary).

[2017-01-27 02:15] #460 closed, assigned to jeff-regier

[2017-01-27 18:09] andreasnoack opened #544 "~4-5x slowdown in benchmark_one_light_source on Julia 0.6"
In short
### 0.5
[code]
### 0.6
[code]
The timings are recorded on my Mac with Celeste 1ad5402f4f7635568ab10af5e90e75a7b2e00533
See full profile output in https://gist.github.com/andreasnoack/45a11627c198dcb681fc1fbf4961a444

[2017-01-27 19:35] andreasnoack commented on #544
## Julia 0.5

<img width="1203" alt="screen shot 2017-01-27 at 2 34 14 pm" src="https://cloud.githubusercontent.com/assets/505001/22384778/ccd36cba-e49d-11e6-9a67-590bb8ee492e.png">

## Julia 0.6
<img width="1203" alt="screen shot 2017-01-27 at 2 32 53 pm" src="https://cloud.githubusercontent.com/assets/505001/22384735/9f3b4656-e49d-11e6-8229-d00486812bd2.png">

[2017-01-27 19:54] Keno opened #546 "Set up performance tracking CI"
We should set up CI to track how we're doing on performance over time. Julia Computing has compute resources for both Xeon and KNL that this could run on. cc @tanmaykm @nkottary. Let's start with setting this up on anubis. Basically all I want is running the benchmark scripts and recording execution times for now. Once that works, we should also automatically generate flame graphs.

[2017-01-27 22:42] Keno commented on #544
Do you have updated flame graphs after your fix? Also, just to be sure that you know about @shashi's branch of ProfileView that's a lot faster.

[2017-01-27 23:23] #544 closed, assigned to nobody

[2017-01-28 00:40] andreasnoack commented on #544
This is with @shashi's branch. I have given up on the official version. Too slow. Sad! I think I'll create an issue with a flame graph on the one-source-benchmark and update it as we optimize the code. Creating the graph is a little cumbersome, though. I couldn't use load the profile data from the JLD file on 0.5 because the representation of `StackFrame` has changed so I had to rebuild a version

[2017-01-28 02:10] andreasnoack opened #548 "One light source profile"
At least until https://github.com/jeff-regier/Celeste.jl/issues/546 is running, I'll try to make a flame graph for `benchmark_one_light_source` here.

18 February 2017
<img width="1205" alt="screen shot 2017-02-18 at 2 44 33 pm" src="https://cloud.githubusercontent.com/assets/505001/23096375/30e19252-f5e9-11e6-973c-5980c958f642.png">

[2017-01-29 23:20] jeff-regier commented on #548
Very interesting! A 10x speed up seems possible if we can avoid all the memory allocation / filling hessians with zeros / rearranging memory order for convolutions.

[2017-01-29 23:21] #359 closed, assigned to nobody

[2017-01-30 17:54] andreasnoack commented on #516
I’m still trying to figure out how to correctly account for the masked operations on KNL so, meanwhile, I’ve done a count based on a Haswell run. According to Intel’s documentation, the total number of operations should be the same across architectures so the number should give us an indication of where we are. I’ve estimated the peakflop count from Julia’s `peakflops` function which is based on `

[2017-01-30 19:42] andreasnoack commented on #516
Without fft, the rate on Haswell is 2.38 Gflops (~7% of peak)

Floating point counts for `benchmark_one_light_source` on Haswell without fft.
[code]

[2017-01-30 19:43] Keno commented on #516
We probably need to rebuild FFTW against the native arch. Try `MARCH=native` in Make.user and then rebuild FFTW

[2017-01-30 19:48] andreasnoack commented on #516
We use Intel's FFT library, not FFTW.

[2017-01-30 19:49] Keno commented on #516
Ah, never mind then.

[2017-01-30 19:49] Keno commented on #516
Can we confirm that the fft call itself has decent flops?

[2017-01-30 20:00] jeff-regier commented on #516
I think by "without fft", Andreas means `benchmark_one_light_source.jl` with `using_fft=false`. (Is that right?) That runs a whole different version of Celeste, a version that does a lot of exponentiation and doesn't use an FFT. So these latest results don't suggest that the FFT is bringing down our FLOPS average. (In fact, it's probably the only think keeping the FLOPS average up, when `using_fft

[2017-01-30 21:01] andreasnoack commented on #516
How large are the arrays on which the fft is applied to?

[2017-01-30 22:44] rgiordan opened #550 "NaN in VP transform"
This occurs in objid ```1237663784734490687``` and is an example of a source that causes the stripe 82 tests to fail.

The cause is in the transform of the k variable.  The optimization method puts a large weight on one component, e.g. something like

[code]
What we want to happen after the transform is

[code]

But instead we get ```k_2_1 = NaN```.  The reason is that ```constrain_to_simplex``` d

[2017-01-30 23:01] rgiordan commented on #431
This now works.

[2017-01-30 23:01] #431 closed, assigned to rgiordan

[2017-01-30 23:04] rgiordan commented on #356
I'm going to leave this to the long-term maintainers of the Celeste package.  If the FFT version is going to be the default, the bulk of the unit tests should be using it, in my opinion.

[2017-01-31 01:36] andreasnoack commented on #516
Posting the fft results here as well. For a 2048x2048 `Matrix{Complex{Float64}}` I got about 7.44 Gflops for the 2d fft on Haswell which is about 20% of peak. For non-power-of-two arrays, the rate was significantly lower but that might be because of a more extensive plan calculation.

[2017-01-31 18:27] #550 closed, assigned to jeff-regier

[2017-02-01 20:13] jeff-regier commented on #513
What's happening here? This object is very bright -- 16 star magnitude is about right. It's a galaxy but it has a small radius. Therefore `star_mag_r` and `gal_mag_r` should be about the same. Yet `gal_mag_r` is 22.6--off by a lot.

[code]

Seems like it must be a bug. Hard to imagine that it's a local minimum---any increase in galaxy brightness should improve the likelihood term by a lot.

[2017-02-01 20:20] jeff-regier commented on #513
Looks like a pretty typical bright light source.

![16mag](http://legacysurvey.org/viewer/jpeg-cutout/?ra=0.5257&dec=0.5038&zoom=16&layer=sdssco)

http://legacysurvey.org/viewer?ra=0.5257&dec=0.5037&zoom=16&layer=sdssco

[2017-02-01 20:28] jeff-regier commented on #513
SDSS has it as a star. Coadd has it as a galaxy. DeCALS has it is multiple light sources.

http://skyserver.sdss.org/dr10/en/tools/explore/summary.aspx?id=0x112d10a7a0770164&spec=&apid=

Kind of interesting, but regardless, seems like 22.6 gal mag can only be because of a bug.

[2017-02-01 22:19] #516 closed, assigned to andreasnoack

[2017-02-01 22:21] jeff-regier commented on #517
Final flops are reported in #516 . Andreas fixed some type stability during the hackathon that gave us a 5x or 10x speed up on knl.

[2017-02-01 22:21] #517 closed, assigned to nobody

[2017-02-01 22:28] jeff-regier commented on #453
Duplicate of #517

[2017-02-01 22:28] #453 closed, assigned to andreasnoack, kpamnany

[2017-02-01 22:42] gostevehoward commented on #510
Here are the pieces that need to be put together, I think:

- [x] `load_coadd_catalog(filename) -> DF` (already done in [load_s82](https://github.com/jeff-regier/Celeste.jl/blob/master/src/Stripe82Score.jl#L93), I've made some refactorings). The DF this already returns will become the common catalog DF format throughout this benchmark module.
- [x] `generate_catalog_from_celeste_prior(num_sources,

[2017-02-02 18:54] rgiordan commented on #513
Yes, I agree it's doing something strange.  If you increase the function convergence tolerance, the FFT code drives the galaxy brightness even further to zero.  Let's keep this issue open.

Could you explain again why you think you need to use the FFT version for GB?

[2017-02-02 19:34] jeff-regier commented on #513
Long term everyone thinks FFT is the way to go. We want to spend our time between now and GB optimizing code that we can use for the long term---not optimizing the MOG code. Secondarily, I'm hopeful that the FFT will improve how well we discriminate btw stars and galaxies once the bugs are fixed.

[2017-02-03 01:02] rgiordan commented on #513
On this source, at least, changing the kernel parameter to the (more principled) -0.5, together with setting ```f_tol_rel``` to ```1e-10``` and increasing ```max_iters``` to 200, fixes this problem.  (The advantage of having the kernel parameter at 0.0 was that it was strictly positive, the advantage of -0.5 is that is matches to higher order.)

Looking at an animation of the fitting process, it's

[2017-02-03 01:40] rgiordan commented on #374
Most of this is already done in ```CelesteEDA.jl```.

[2017-02-03 01:41] jeff-regier commented on #513
If the problem is that the probability of "galaxy" is too low for it to make progress, would it work to fix `vs[ids.a] = 0.5` for the first 10 iterations? It's surprising though that that's necessary since we already don't let the galaxy probability fall below 0.5%. (0.5% of a lot is still a big number compared to machine precision). Is the change in the ELBO for when the brightness parameters is

[2017-02-03 01:41] rgiordan commented on #260
I think this is not going to happen.

[2017-02-03 01:41] #260 closed, assigned to nobody

[2017-02-03 01:50] rgiordan commented on #513
Recall that as soon as one TR step is below the threshold, the algorithm terminates.  At the beginning, the Newton steps don't appear to be principally in the brightness direction.  In any case, this is what is happening with this source.

```Optim.jl``` only supports relative tolerance for functions last I looked.

I'll let you experiment with tweaking the optimization if you like.  It is easy to

[2017-02-08 19:28] gostevehoward commented on #510
@jeff-regier I do have some questions after all:

1. [This code](https://github.com/jeff-regier/Celeste.jl/blob/master/src/Stripe82Score.jl#L23) seems to treat the magnitudes in the coadd catalog as "Pogson magnitudes", using the formula
    ![pogson](http://mathurl.com/jhjzp3z.png)
    (The functions [`fluxes_to_color`](https://github.com/jeff-regier/Celeste.jl/blob/master/src/Stripe82Score.jl#L1

[2017-02-08 21:29] jeff-regier commented on #510
Stripe 82 and primary have similar, but different, formats. One is in flux,
one is magnitude. Both are SDSS, but the stripe82 numbers come to us from
the casjobs web app:
http://skyserver.sdss.org/CasJobs/

(I was stumped for days once figuring out that one of these two sdds
catalog reports galaxy angle in degrees counterclockwise while the other
reports it in degrees clockwise. What a nightmare.)

[2017-02-08 21:37] jeff-regier commented on #510
Also, I wonder if we should be using cModelMag instead of picking between
devMag / expMag for galaxies, or whether it matters. I read now that
there's something called petroMag too.

On Wed, Feb 8, 2017, 1:29 PM Jeffrey Regier <regier@gmail.com> wrote:

[2017-02-08 21:39] gostevehoward commented on #510
I'll mention it in my email to David.

[2017-02-08 21:47] rcthomas commented on #510
The asinh magnitudes are the luptitudes I mentioned on Slack.  All SDSS results are reported in these so if you look at magnitudes in the low S/N regime to compare to SDSS you will want to compute them.

[2017-02-08 21:56] gostevehoward commented on #510
Thanks, Rollin. I explicitly CC'd you on the email just now. (If the matter is closed, Jeff, you can just ping that thread.)

[2017-02-14 17:49] jeff-regier commented on #546
Any progress with this issue @keno? We only have about a month to work on optimizing the code before GB, so building a dashboard might not be worth doing if it can't be done quickly.

[2017-02-14 18:12] jeff-regier opened #560 "scaling beyond 8 threads"
We see almost no improvement in the runtime of `benchmark_sixteenth_degree.jl` when we increase the number of threads from 8 to 16, even though the reported time spent in GC doesn't change. Even beyond 4 threads the scaling numbers start getting bad. Are some threads going idle, waiting for other threads to finish?

[2017-02-14 18:30] jeff-regier commented on #483
@Keno @andreasnoack Is this going to be ready in time for GB? There's only about a month left for doing all the runs.

[2017-02-15 18:29] jeff-regier opened #561 "analytic measurement of floating point ops"

[2017-02-15 23:59] jeff-regier opened #562 "excessive neighbors: 309.0 309.5 45.5 46.0"

[2017-02-16 04:45] #562 closed, assigned to jeff-regier

[2017-02-17 18:55] jeff-regier opened #566 "new flame graph for some benchmark"

[2017-02-17 18:55] jeff-regier opened #567 "upgrade Celeste to julia 0.6"

[2017-02-17 18:56] jeff-regier opened #568 "confirm that pixel-scale is nearly constant across declinations"

[2017-02-17 18:57] jeff-regier opened #569 "measure GC time for `benchmark_sixteenth_degree.jl` with 16 threads"

[2017-02-18 19:50] andreasnoack commented on #566
See https://github.com/jeff-regier/Celeste.jl/issues/548 for an updated version of the one light source benchmark. It is made on Haswell.

[2017-02-18 20:30] jeff-regier commented on #548
Looks about right, no surprises here. The likelihood calculation takes almost all of the time. There are 3 hot spots in the likelihood calculation.

[2017-02-18 20:31] jeff-regier commented on #548
Thanks Andreas for making the graph!

[2017-02-19 23:23] jeff-regier opened #571 "store galaxy effective radius in arc seconds, not pixels"
Apparently pixels are not all 0.396 arc seconds in height and width. It depends on `cosd(declination)`, and the orientation of the image. Therefore there's no single galaxy radius in pixel units. To fix this problem, let's store the galaxy radius in `vp` in arc seconds.

[2017-02-20 17:19] rcthomas commented on #571
Pixel scale is fixed by the detector manufacturing and the telescope optics, it doesn't know where the telescope is pointing.  So that's not the explanation, I think you just don't mean "pixel scale."  A clue is that there is "no single galaxy radius" in any units, not sure what you mean here.  But ultimately, just store it in arc-seconds, it probably fixes whatever's wrong.

[2017-02-20 18:20] jeff-regier commented on #571
OK, I think I got it now: pixels *are* all 0.396 arc seconds in height and width. But that doesn't mean that if you compare the ra/dec coordinates of the adjacent corners of a pixel, either ra or dec will differ by 0.396 arc seconds. The latter statement will hold near the equator, for axis aligned images, but it doesn't hold in general.

@rcthomas -- Is this right? These units issues are pretty t

[2017-02-20 18:33] rcthomas commented on #571
Yes that is right.  And the units are tricky for astronomers too.

[2017-02-21 05:55] hsseung commented on #391
Regarding the build info of 26 January 2017,
The Julia checkout returns the error message "fatal: reference is not a tree:"
The LLVM checkout works fine.

[2017-02-21 19:00] andreasnoack commented on #391
I've just updated the commit hashes to the versions we use now. Could you try them instead?

[2017-02-21 19:47] hsseung commented on #391
Thanks! This time I have the opposite problem. Julia checks out fine but LLVM does not.

[2017-02-21 19:54] andreasnoack commented on #391
Hm. Just checked and it looks right. It is this commit https://github.com/llvm-mirror/llvm/commit/72258b42b0805337ea2d0d042454d2a8c173fcf4

[2017-02-21 23:48] hsseung commented on #391
I tried again with a virgin git clone of the repo, but the second checkout doesn't work. Am I doing something wrong?

$ make -C deps get-llvm

[output omitted]

$ git checkout 3181500e361991b25a0ed8d63a821eb3c7a2e4bf
Note: checking out '3181500e361991b25a0ed8d63a821eb3c7a2e4bf'.

You are in 'detached HEAD' state. You can look around, make experimental
changes and commit them, and you can discard a

[2017-02-22 00:35] andreasnoack commented on #391
Maybe there is an issue with the make target. Try to `cd` into `deps/srccache/llvm-svn` and do a `git fetch origin`. If that doesn't work then try checking the status of the llvm repo.

[2017-02-22 15:22] hsseung commented on #391
The LLVM repo was two commits behind, so I did a git pull and then was able to checkout.  Compilation worked. Thanks!

`peakflops(10000)` is almost 1.5 teraflops, about 20x faster than my MacBook Pro. This is encouraging! Performance is presumably limited by MKL for KNL? Theoretical max is 6 teraflops for my KNL, I believe.

Transcendental functions are 4x slower though...

[2017-02-22 16:13] kpamnany commented on #391
You're now getting the same performance with Julia on KNL that we are. Andreas and Keno have been working to improve things (see the issue Keno linked above), but it's going to be a moving target for some time.

[2017-02-22 16:23] andreasnoack commented on #391
I'd expect MKL's gemms to be close to what you can possibly get. Isn't the 6 teraflops for `Float32`s? Julia's `peakflops` measures `Float64` performance.

If you are not already doing it, you should try to make vectorized calls to VML for transcendental functions. I see a 50x difference between using Julia's `exp` and VML's `exp` for vectors of `Float32`s.

[2017-02-22 17:20] hsseung commented on #391
Ah you're right. The analog of `peakflops` for `Float32` yields 3.6 teraflops, which is getting close to theoretical max.

I'm puzzled by your 50x number.  I tried
[code]
VML.jl gave me 4x speedup on my MacBook but only a few percent on KNL.  Only a single thread is used on both machines.

[2017-02-22 20:59] andreasnoack commented on #391
Did you change the path to the library as described in https://github.com/JuliaMath/VML.jl#using-vmljl? It should point to the `avx512_mic` version. I guess that should give you 4x because the default is just AVX. Also, I timed the non-allocating version, i.e. `AVX.exp!(y,x)`.

[2017-02-23 14:33] #492 closed, assigned to jrevels

[2017-02-23 23:18] gostevehoward opened #575 "Start implementing configuration system and restore GalSim unit tests"
The GalSim unit tests depend on overriding `min_radius_pix` in `load_active_pixels!`. There's not an easy way to do this, since `load_active_pixels!` is several layers beneath the Celeste interface. I outlined a general "configuration system" approach to fixing this problem which would have side benefits, in PR #538. (This got verbal approval from Keno during the "hackaton".) There, I implemented

[2017-02-24 06:34] jeff-regier commented on #575
The default arguments to `load_active_pixels!` ideally would work for both the galsim tests and the actual images. The problem isn't so much that the default `min_pixel_radius` is too small for galsim tests; it's that we aren't selecting active pixels in a smart way. #157 fixes that.

I hope someday we won't have both single and joint infer, and both mog and FFT point spread functions.

We probabl

[2017-02-24 18:35] gostevehoward commented on #510
Remaining tasks:

- [x] debug differences between `validate_on_stripe82.jl` and the new AccuracyBenchmark implementation, fix until the new implementation's results are "close enough" to the old one's

Broken out in separate issues:
- [ ] bring back `error_sds` field in galsim benchmarks output -> #617
- [ ] implement asinh magnitudes as described above (never heard back from anyone on the email t

[2017-02-28 07:01] #515 closed, assigned to kpamnany

[2017-02-28 17:15] #537 closed, assigned to jeff-regier

[2017-03-06 20:35] Keno commented on #569
The action item here was finding out whether the reported GC time is accurate with threading. It is.

[2017-03-06 20:35] #569 closed, assigned to Keno

[2017-03-07 04:13] #575 closed, assigned to gostevehoward

[2017-03-07 05:47] Keno opened #585 "Cut down on allocations"
Here's the current worst offenders (after some low hanging fruits are picked off that I'll PR shortly):
[code]

[2017-03-07 07:05] jeff-regier commented on #561
I got the output below from SDE for a call to `elbo_likelihood` with just one pixel active, and without computing the gradient or the hessian. These numbers are quite a bit higher than what I counted manually.

[code]

[2017-03-08 04:00] Keno commented on #585
We've had amazing success here. Neither GC nor allocations show up on the profile anymore. Not merged on master yet, but I'll consider this closed.

[2017-03-08 04:00] #585 closed, assigned to andreasnoack, Keno

[2017-03-08 04:13] Keno opened #588 "Investigate hotspot loops"
The following are the non-vetorized hot spots that could benefit from loop vectorization or adjustments to their memory access patterns. For each one of these, we need to figure out what the primary bottleneck is (memory bandwidth, cache locality, ipc throughput, etc):
- calculate_var_G_s!
- calculate_source_pixel_brightness!
- combine_sfs_hessian!
- fill!
- first_quad_form!
- add_sources_sf!

The

[2017-03-08 18:19] andreasnoack commented on #588
Thanks for the hotspot list. However, these are mainly associated with Hessian computations which Jarrett and Jeff are trying to remove right now so we'll need to make a new hotspot list once their changes are ready.

[2017-03-08 18:22] Keno commented on #588
Yes, we will. However I think we should go ahead and start optimizing these, because most of these will have similar problems, so we should start finding out what those are.

[2017-03-10 00:14] jeff-regier commented on #588
The `cg2` branch is works, but it's 4x slower while only having 3x as many floating point operations. I think it's better to stay to leave it unmerged until after GB. The `cg2` branch needs some algorithmic work  ("preconditioning") to be ready.

[2017-03-10 00:22] jeff-regier commented on #588
I'll add a new benchmark (`benchmark_elbo_likelihood.jl`) that profiles a typical evaluation of the `elbo_likelihood` function. The vast majority of runtime for a real execution of Celeste should be in `elbo_likelihood` (and the functions it calls), including all the hotspots identified in this issue.

[2017-03-10 00:25] Keno commented on #588
That's not quite what we need. We do actually want a different benchmark (can be in the same file), for each of these hot spot functions a few thousand times with made up data. The purpose of that is to amplify performance differences as we make them in each of the hot spots.

[2017-03-10 01:57] Keno commented on #560
With the newest optimization, we can get from 130s to 80s by going to 16 threads.

[2017-03-10 02:26] jeff-regier opened #597 "instrument code to count the # of (active-source, pixel) pairs and the number (inactive-source, pixel) pairs"

[2017-03-11 16:32] gostevehoward opened #601 "Write a small set of unit tests for AccuracyBenchmark.jl"

[2017-03-11 19:45] jeff-regier opened #603 "remove allocations from elbo_likelihood"
Running
[code]
shows that the lines below allocate memory every time the likelihood is evaluated.

This benchmark starts recording memory allocations after loading the images and after creating an `ElboIntermediateVariables` instance--those operations just need to be performed once per thread during large-scale runs of Celeste.

Any of these allocations can be avoided them by moving the allocation

[2017-03-11 19:55] jeff-regier opened #604 "revising `ElboMaximize` to use a thread-indexed pool of `ElboIntermediateVariables{Float64}` instances"
...rather that allocating an `ElboIntermediateVariables` instance every time the objective function is called, or even every time `maximize!` is called.

[2017-03-11 20:19] jeff-regier commented on #603
[code]

@andreasnoack Is this allocation OK because it's a stack allocation? (Is it a stack allocation? I thought that was idea behind `StaticArrays`, but I also thought `--track-allocations` only counted heap allocations.) Would it be better to make `t` a field of `ElboIntermediateVariables`?

[2017-03-11 20:33] jeff-regier opened #606 "recompute `epsilon` as needed, rather than interpolating `epsilon_mat` for the whole sky"
Every time we load an image, we also create a matrix the same size as the image to store the background intensity for each pixel of the image. That effectively doubles the size of the image data in memory. Instead, we can (re)compute the background intensity at a particular pixel whenever we need it---should only require a few floating point operations per pixel.

[2017-03-11 21:37] Keno commented on #603
You need to benchmark this with some patches to julia to do more aggressive inference and eliminate some allocations. However, for now, let's hold off on memory allocations. @andreasnoack and I were able to cut them down enough that they don't show up in the profile anymore. There is a greater risk of moving code around trying to rid ourselves of allocations than we would benefit at the moment.

[2017-03-13 05:51] #606 closed, assigned to jeff-regier

[2017-03-14 18:58] Keno opened #615 "Missed optimization opportunity in SLP Vectorizer"
transform_bvn_derivs! makes repeated use of a pattern that looks somewhat like this at the LLVM level:
[code]
The SLP vectorizer currently dislikes the doubled use of `load10` and `load11` and generates suboptimal code:
[code]
The optimal LLVM IR would look like:
[code]
Note that the x86 backend can still pattern match this into the optimal assembly for this small example, but that is not true for

[2017-03-14 20:43] Keno commented on #615
There is some on-going work to allow vector shuffles in the SLP vectorizer. Putting this on hold for now while that's being designed.

[2017-03-14 21:00] jeff-regier commented on #415
No longer happening

[2017-03-14 21:00] #415 closed, assigned to nobody

[2017-03-14 21:01] #406 closed, assigned to nobody

[2017-03-14 21:01] #603 closed, assigned to nobody

[2017-03-14 21:02] #560 closed, assigned to Keno

[2017-03-14 21:03] jeff-regier commented on #571
OK now that I understand the issue, it isn't really so bad to store the radius in pixel units.

[2017-03-14 21:03] #571 closed, assigned to nobody

[2017-03-14 21:05] jeff-regier commented on #510
Closed by #602 ?

[2017-03-14 21:07] jeff-regier commented on #568
It isn't. That's no longer assumed in the code.

[2017-03-14 21:07] #568 closed, assigned to jeff-regier

[2017-03-14 21:07] #567 closed, assigned to andreasnoack

[2017-03-14 21:07] #548 closed, assigned to nobody

[2017-03-14 21:07] #566 closed, assigned to andreasnoack

[2017-03-14 21:08] #518 closed, assigned to kpamnany

[2017-03-14 22:27] gostevehoward commented on #510
Sure, I'll break out individual issues for the above three unchecked tasks.

[2017-03-14 22:27] #510 closed, assigned to gostevehoward

[2017-03-14 22:29] gostevehoward opened #617 "Bring back `error_sds` in AccuracyBenchmark output"
The benchmark evaluation code from `GalsimBenchmark` included the error of each parameter divided by the posterior SD (for parameters with a posterior distribution). I dropped this in the new `AccuracyBenchmark` implementation, since I was going for parity with `Stripe82Score`, but we should bring this feature back, because it's useful. Broken out from #510.

[2017-03-14 22:32] gostevehoward opened #618 "Implement asinh magnitudes in `AccuracyBenchmark`"
In scoring accuracy of reference band brightness, we look at error in units of both flux (nMgy) and mags (Pogson magnitudes). There seems to be some consensus that comparing on asinh magnitudes would be better. See #510 for some comments and [this page](http://www.sdss.org/dr12/algorithms/magnitudes/) for definitions and discussion.

[2017-03-14 22:34] gostevehoward opened #619 "Script to generate FITS images from a catalog using `Synthetic.jl`"
That is, drawing images from the Celeste likelihood model. An alternative to `benchmarks/galsim/galsim_field.py`. Broken out from #510.

[2017-03-16 01:24] jeff-regier commented on #520
Not necessary after all.

[2017-03-16 01:24] #520 closed, assigned to Keno

[2017-03-21 17:44] jrevels commented on #604
closed by #614

[2017-03-21 17:44] #604 closed, assigned to jrevels

[2017-03-22 02:33] #617 closed, assigned to gostevehoward

[2017-03-22 18:03] gostevehoward opened #625 "Tracking issue for SC17 scientific results"
@jeff-regier

For the new SDSS results, should I just pick any random RCF from Stripe 82 other than 4263/5/119? Was there some logic behind that choice to begin with?

Did you have any thoughts on the results from #624? Is that the kind of numbers you'd like to see in the paper? It looks like errors are fat tailed, with more than expected (for a gaussian) falling within 1/2 SD and more than expect

[2017-03-22 20:03] jeff-regier commented on #625
Hi Steve, 4263/5/119 was arbitrary. Any other RCF should be fine.

The Stripe 82 uncertainties look better than the galsim ones for color. Ideally 68%/95%/99% of color point estimates would be within 1/2/3 sds. I'd say those proportions are holding up pretty well for all but 6%--8% of the light sources. Those light sources are likely misfit by the model. The `within_half_sd` values seem kind of hi

[2017-03-23 01:18] #597 closed, assigned to jeff-regier

[2017-03-23 01:19] #561 closed, assigned to jeff-regier

[2017-03-24 03:31] gostevehoward commented on #625
I was already taking the log of reference band flux in computing errors; my bad for not labeling it correctly.

In a move of extreme stupidity I forgot to take abs() of the errors in the above summary tables. Sorry! Here are corrected tables (though maybe there's still a serious bug somewhere):

For Stripe82:

[code]

For galsim (on a field drawn from the Celeste prior):

[code]

Here are correspo

[2017-03-24 03:53] jeff-regier commented on #625
Thanks for the updates. Yes, those `log_reference_band_flux_nmgy` uncertainties are pretty far off--hopefully a bug. It would be useful to have another table like these for synthetic data drawn from the Celeste model too. Should make it easier to catch bugs, and to assess how much error is from model misfit (none in the case of synthetic data drawn from our model) rather than from variational infe

[2017-03-24 03:57] gostevehoward commented on #625
OK, I'll need to implement #619 then, hopefully won't take too long.

I'll also generate a GalSim field from the Stripe82 ground truth so that we have a better apples-to-apples comparison. That is at least something I already have implemented.

[2017-03-24 17:50] gostevehoward commented on #625
For what it's worth, here's output for GalSim imagery generated from the Stripe 82 coadd ground truth catalog, with joint inference enabled. It's a bit better than the Celeste prior catalog (especially `color_log_ratio_ug` but still a lot worse than the real imagery.

[code]

Q-Q plots: [s82_galsim_joint_plots.pdf](https://github.com/jeff-regier/Celeste.jl/files/868752/s82_galsim_joint_plots.pdf)

[2017-03-26 21:16] gostevehoward commented on #625
@jeff-regier I'm confused about image dimensions in Celeste.

Consider `test/data/4263/5/119/frame-r-004263-5-119.fits`. When I open in `fv`, it calls the image 2048 x 1489:

![image](https://cloud.githubusercontent.com/assets/1097616/24335160/e6712fb0-122c-11e7-8350-918cfff9ea74.png)

Plotting in POW puts DEC on the x-axis and RA on the y-axis:

![image](https://cloud.githubusercontent.com/assets

[2017-03-26 21:48] gostevehoward commented on #625
I think I figured out one piece of the puzzle I hadn't recognized, which is that SDSS FITS files set up the WCS so that the first world axis (which we call RA) increases along the second image axis (which we call Y), and the second world axis (which we call Dec) increases along the first image axis (which we call X). So if you think of world coordinates as a tuple (ra, dec) and image coordinates a

[2017-03-26 22:16] jeff-regier commented on #625
Part of the issue may be that Julia's 2d arrays are column-major rather than row-major, whereas the fitsio library that FITSIO.jl wraps is C or C++.

[2017-03-27 03:33] gostevehoward opened #629 "Errors from Julia type inference?"
I'm trying to run the GalSim benchmarks script `benchmark/galsim/run_galsim_benchmarks.jl` and getting some strange errors from julia with very long backtraces:

[tmux-0-0-1-20170326T202810.log.zip](https://github.com/jeff-regier/Celeste.jl/files/871421/tmux-0-0-1-20170326T202810.log.zip)

Not sure what to do about that. I tried downloading the latest Julia nightly, removing `~/.julia/v0.6`, re-ad

[2017-03-27 17:05] gostevehoward commented on #625
Having investigated many possible leads (and there are many more I haven't looked at), I suspect our old friend `min_radius_px` might be behind some of the problem with `log_reference_band_flux_nmgy` errors being way too large.

Compare this plot, made with single inference on a Synthetic.jl version of 4263/5/119 (code for that image generation forthcoming),

[s82_synthetic_single.pdf](https://git

[2017-03-27 17:47] jeff-regier commented on #625
That seems like pretty strong evidence that small `min_radius_pix` throws off the brightness uncertainties--nice discovery. And it makes some sense. Uncertainties could easily be more susceptible to bias (from `min_radius_px` in this case) than the point estimates, so the point estimates could be fine while the uncertainties are off.

It occurred to me, for real data, model misfit could effect bri

[2017-03-27 18:49] gostevehoward commented on #629
For what it's worth, I was able to work around this by putting the code from `run_galsim_benchmark.jl` into a `Sandbox.jl` module and `reload`ing it in a Julia interpreter. No errors then. So, not an urgent blocker, but obviously something is broken here.

[2017-03-27 22:09] #618 closed, assigned to gostevehoward

[2017-03-27 22:09] #619 closed, assigned to gostevehoward

[2017-03-27 22:19] gostevehoward commented on #625
Here's an example of SDSS imagery (left) and Synthetic.jl imagery (right) generated from the corresponding coadd catalog. This is for RCF 3325/5/110, which I'm planning to use for SC17. (An arbitrary choice.)

![image](https://cloud.githubusercontent.com/assets/1097616/24380502/84727d08-1300-11e7-97e1-542035cebb33.png)

Note many of the brightest sources on the left (true image) are not present in

[2017-03-27 22:43] gostevehoward commented on #625
Here are some results for 3325/5/110. All predictions are using joint inference. All google drive spreadsheets are in [this folder](https://drive.google.com/open?id=0BzFj9pY3RKMcMmJIdG5IUHhRYlE).

## SDSS catalogs

* [Coadd catalog](https://docs.google.com/spreadsheets/d/1XQrVXsenlNjvrCN5p6oNNuU_40vIlzNntNhorvc3O74/edit?usp=sharing)
* [Primary catalog](https://docs.google.com/spreadsheets/d/1oH31S

[2017-03-27 23:17] jeff-regier commented on #625
Very interesting, seeing the coadd image and the synthetic image side-by-side. Probably `SDSSIO` isn't the right place to filter out saturate/bright/large light sources any longer. We'd rather render them in the synthetic data, I think. It's really just in `AccuracyBenchmark` that we'd want to filter them out for comparison because the coadd catalog isn't accurate for saturated light sources.

[2017-03-27 23:23] gostevehoward commented on #625
Looks like, on 3325/5/110, with the latest code, setting `min_radius_pix=40` didn't improve the posterior error fit so much, though it did reduce most of the large errors in flux estimation and generally improved estimation accuracy for most variables.

[2017-03-27 23:24] jeff-regier commented on #625
The sky background looks quite a bit less variable for `synthetic` than for `coadd`. I've computed the sample variance for groups of pixel in real images away from light sources before: the sample variance really is pretty close to the mean of those pixels in those cases. (As one would expect with a Poisson rv.) So I'm kind of surprised the backgrounds look different here. Is the background actual

[2017-04-05 19:44] Keno opened #639 "GB LLVM Optimization tracker"
As we approach GB, the majority of the remaining optimizations will happen at the LLVM IR level. I'll keep a list of issues here and update as a go along.

## Working on hotspots
It's useful to try LLVM improvements in isolation. For that, we can split out the objective function like so:
[code]

# Current build script

[code]

# List of issues

- [x] After IPO fix, combine_hessian pointers don't L

[2017-04-12 17:39] gostevehoward opened #654 "Keep saturated sources in coadd catalog, filter out in scoring only"
Right now we filter out some oversaturated sources in the [CasJobs query](https://github.com/jeff-regier/Celeste.jl/wiki/About-SDSS-and-Stripe-82) we use to get coadd data, and some in the code to load the "primary" catalog (`AccuracyBenchmark.load_primary`). Per Jeff's comment in #625, it probably makes sense to keep all sources in catalogs and filter them out just when we're doing scoring. For e

[2017-04-12 17:40] gostevehoward opened #655 "Examine background variability in synthetic imagery"
Jeff noted in #625 that the variability for background pixels looks maybe off in synthetic imagery.

[2017-04-12 17:41] #625 closed, assigned to gostevehoward

[2017-04-12 17:55] gostevehoward commented on #625
I'm not sure if I recorded this somewhere, but here's the exact query I used for the coadd catalog for 3325/5/110 used here:

[code]

It's the same as the one in the [wiki page](https://github.com/jeff-regier/Celeste.jl/wiki/About-SDSS-and-Stripe-82) (currently), but with different ra/dec bounds.

[2017-04-12 18:37] gostevehoward commented on #654
New side-by-side of real and synthetic imagery for 3325/5/119 (compare #625):

![image](https://cloud.githubusercontent.com/assets/1097616/24973564/21cf5cf4-1f74-11e7-94ab-37f32b06dd40.png)

Here the images are much more similar, since bright sources are now present in the synthetic image.

[2017-04-15 12:04] #588 closed, assigned to andreasnoack

[2017-04-15 12:04] #639 closed, assigned to nobody

[2017-04-16 14:53] Keno commented on #615
No longer relevant. This entire function is getting loop vectorized by hoisting it up several levels in the call tree.

[2017-04-16 14:53] #615 closed, assigned to nobody

[2017-04-16 18:41] #391 closed, assigned to andreasnoack

[2017-04-16 18:42] jeff-regier commented on #280
It's probably faster to recompute these than to cache them.

[2017-04-16 18:42] #280 closed, assigned to nobody

[2017-04-16 18:52] jeff-regier commented on #380
This is done on the `jcr/cg` branch. It works well.

[2017-04-16 18:52] #380 closed, assigned to jeff-regier

[2017-04-16 18:57] jeff-regier commented on #472
I'm pretty happy with using `Synthetic.jl` to validate our variational approximation, and Q-Q plots on real data to validate our model. I'm not sure what drawing GalSim data with noise adds.

[2017-04-16 18:57] #472 closed, assigned to gostevehoward

[2017-04-16 19:00] jeff-regier commented on #249
This issue isn't so relevant any more. We're changing our algorithm so only Hessian-vector multiplies are necessary: we'll do those with ForwardDiff.jl. If we want to avoid coding gradients by hand, we'll use ReverseDiff.jl.

[2017-04-16 19:00] #249 closed, assigned to nobody

[2017-04-16 19:02] #256 closed, assigned to nobody

[2017-04-17 18:05] #654 closed, assigned to gostevehoward

[2017-04-19 01:16] gostevehoward commented on #472
This issue was never really tightly specified (my own fault), but one would imagine repeated draws from the same source parameters in isolated images to really check the frequentist properties of posterior uncertainty in a very focused manner. Whether it comes from GalSim or Synthetic.jl is somewhat orthogonal, really a question of which generative model you're validating against. The more importa

[2017-04-19 01:32] jeff-regier commented on #472
Makes sense, thanks for the clarification.

[2017-04-19 18:21] jeff-regier opened #663 "mean and sky-subtracted images for a particular SDSS frame"
Given a particular SDSS frame/image, generate a new image with the same format and metadata as the SDSS one, but, depending on a command-line argument, where each pixel's value is 1) mean brightness of the variational distribution (in nanomaggies), or 2) sky subtracted brightness (Celeste minus SDSS).

For a particular frame, it's first necessary to load the relevant part of the Celeste catalog, s

[2017-04-19 18:35] #601 closed, assigned to gostevehoward

[2017-04-19 18:40] jeff-regier commented on #663
@gostevehoward Does this issue make sense? Would you work on it when you have time?

[2017-04-19 19:00] gostevehoward commented on #663
I think it makes sense. What is a frame, exactly?

[2017-04-19 19:18] jeff-regier commented on #663
Let me quote the SDSS glossary so I'm not slightly off:

Basically, frame = `Image`. Or at least there's a 1-1 mapping between SDSS frames them Celeste `Image`s, and they contain mostly (entirely?) the same data. 5 frames per field (in SDSS). 5 images per RCF (in Celeste).

[2017-04-19 19:30] gostevehoward commented on #663
I see, so RCF + band specifies a frame, then?

[2017-04-19 19:41] jeff-regier commented on #663
Yes, that's it.

[2017-04-20 01:43] gostevehoward commented on #655
I had to spent some time untangling the puzzle of gain, calibration, photo-electrons, counts, data numbers, nanomaggies, iota, epsilon, etc., in order to actually attack this problem. I documented it all [here](https://github.com/jeff-regier/Celeste.jl/wiki/About-SDSS-and-Stripe-82) and added pointers to the [glossary](https://github.com/jeff-regier/Celeste.jl/wiki/Glossary-and-guide-to-Celeste-pa

[2017-04-20 03:20] jeff-regier commented on #655
Glad you were able to figure it out. I regret introducing Celeste-specific variables epsilon and iota into the Celeste code, with their own definitions, rather than just sticking with the SDSS conventions throughout. It seemed like a good idea at the time.

I'm still a little fuzzy about the distinction between count and `nelecs`. They differ by a factor of around 4 usually (the gain). They can't

[2017-04-20 19:59] jeff-regier opened #664 "parameterize galaxy flux at its center, not its total flux"

[2017-04-20 22:22] gostevehoward commented on #655
To be honest I'm not sure about the scientific meaning of "counts" (DNs) vs. nelecs (number of photo-electrons). The SDSS docs are unambiguous, however, about the fact that "the number of photo-electrons is the quantity that is statistically Poisson distributed": https://data.sdss.org/datamodel/files/BOSS_PHOTOOBJ/frames/RERUN/RUN/CAMCOL/frame.html (that's the page I linked to in the new wiki entr

[2017-04-20 23:05] jeff-regier commented on #655
Oh that's right, nelecs it is. No idea what counts are then, but maybe it
doesn't matter. Dark variance is supposed to be small, and getting smaller in
future surveys, so we ignore it. But it could explain why we underestimate
variance by 10% or so.

[2017-04-23 20:46] hsseung commented on #391
Oops forgot to say that this did solve my problem.  Thanks!

[2017-04-26 18:06] gostevehoward opened #665 "Can't import Celeste, TypeError: SizedArray: in S, expected S<:Tuple, got Tuple{Int64,Int64}"
@jeff-regier I can't import Celeste on latest Julia 0.6. I ran Pkg.update(). Error is

[code]

Not sure how to debug that. Line 517 doesn't seem to have relevant code. Full log:

[code]

[2017-04-26 18:09] Keno commented on #665
With recent versions of StaticArrays, you may have to spell those as `SizedArray{Tuple{2,2},...` rather than `SizedArray{(2,2),...`, etc.

[2017-04-26 20:20] gostevehoward commented on #665
Thanks @Keno. There are several weird things going on here.

First, I narrowed the source of the problem down to the [six `SizedMatrix` types in the declaration of `BivariateNormalDerivatives`](https://github.com/jeff-regier/Celeste.jl/blob/master/src/bivariate_normals.jl#L50).

The master version of `bivariate_normals.jl` includes declarations in both styles: it has [`SArray` types with the `Tupl

[2017-04-26 20:46] Keno commented on #665
StaticArrays was switched over gradually. SArray was first, but I think SizedArray was switched over now as well.

[2017-04-28 00:28] jeff-regier commented on #665
@andymiller is reporting this problem too. Is there a workaround?

[2017-04-28 17:19] gostevehoward commented on #665
In addition to #666, the following patch to StaticArrays master fixed it for me:

[code]

I submitted a [PR to StaticArrays](https://github.com/JuliaArrays/StaticArrays.jl/pull/151). I have no idea if it's the right fix or what. But it gets Celeste working again.

[2017-04-30 20:14] jeff-regier commented on #665
Thanks for fixing this Steve. @andymiller let us know if you're having trouble still. Celeste master works for me now if I run
[code]

[2017-04-30 20:14] #665 closed, assigned to nobody

[2017-05-01 00:55] andymiller commented on #665
Works for me --- thanks!

[2017-05-01 02:20] jeff-regier commented on #288
@rcthomas Is this still something you're working on? It would help us to publicize the GB results. We'll also have "model" images once #663 is done.

[2017-05-01 17:52] rcthomas commented on #288
Hi @jeff-regier no, I won't have time for this anymore sorry.  Kaylan's got all the info that's needed to ingest catalogs, but you will need to think about how to do the image modeling, I never looked at the viewer code.

[2017-05-03 00:15] gostevehoward commented on #663
@jeff-regier So this script should take an RCF and band, e.g., 325/5/110 "r", and then

* download the frame FITS from the SDSS server, e.g., `frame-r-003325-5-0110.fits`
* load the corresponding Celeste catalog(s) from `celeste-*.jld`,
* generate a new FITS containing the same four extensions as the SDSS frame file, where everything is the same except the pixel values in the first extension,
* an

[2017-05-03 00:33] jeff-regier commented on #663
Yes, that all sounds right. It may be better to generate the whole field (all 5 frames) at once for a particular RCF, rather than just one frame. So the user specifies `325 5 110` on the command line but not "r".

To download the SDSS data, use the makefile in `test/data`. You can just download everything for the field. (Includes all 5 frames, and some other stuff.)

I think there's only the `cele

[2017-05-03 00:36] gostevehoward commented on #663
Got it, thanks :)

[2017-05-03 02:11] gostevehoward commented on #655
Resolved by #667, I think

[2017-05-03 02:11] #655 closed, assigned to gostevehoward

[2017-05-08 20:20] gostevehoward commented on #663
I'm failing to find catalog files for some sky regions. Here's the `field_extents.fits` row for RCF 3325/5/110:

[code]

This would require the files `celeste-0.2500-0.5000-0.2500-0.5000.jld` and `celeste-0.2500-0.5000-0.5000-0.7500.jld`. I can't find the second:

[code]

Am I doing something dumb again?

[2017-05-08 20:48] jeff-regier commented on #663
The "missing" box may actually be multiple boxes. (The boxes aren't all 0.25 x 0.25.)
[code]

[2017-05-08 20:52] gostevehoward commented on #663
Ah ha, thanks.

[2017-05-14 01:44] gostevehoward commented on #663
This is coming along (code [here](https://github.com/gostevehoward/Celeste.jl/blob/write_expectations/bin/write_celeste_expectation.jl)), here's a side-by-side of a noiseless expectations image (left) and a true frame (right):

![screenshot from 2017-05-13 18-37-32](https://cloud.githubusercontent.com/assets/1097616/26030569/d568640e-380b-11e7-8365-9b05e6141ef5.png)

There are a lot of these weird

[2017-05-14 18:15] jeff-regier commented on #663
That is weird. It could be that the catalog was generated with an old version of Celeste. Would you mind adding a flag to the script that causes it to regenerates the relevant part of the Celeste catalog rather than uses the (potentially stale) Celeste catalog? Feel free to decline if you're out of time. I believe it's just a matter of calling `one_node_joint_infer` after invoking the makefile in

[2017-05-14 22:35] gostevehoward commented on #663
No problem, `benchmark/accuracy/run_celeste_on_field.jl` already does that. I'll have to do a little file format finagling but shouldn't be a big deal.

[2017-05-15 00:39] gostevehoward commented on #663
Seems to be working reasonably well now:

![screenshot from 2017-05-14 17-24-06](https://cloud.githubusercontent.com/assets/1097616/26039024/28cfc0e2-38ca-11e7-8c01-763edf74d4c2.png)

This is from Celeste initialized with coadd data:
[code]

If you wanted Celeste initialized with primary data, substitute these first two commands:
[code]

[2017-05-15 00:50] gostevehoward commented on #663
Here is Celeste expectation minus SDSS value:

![screenshot from 2017-05-14 17-49-48](https://cloud.githubusercontent.com/assets/1097616/26039278/d629f098-38cd-11e7-978b-32ab1f419d38.png)

[2017-05-15 04:35] jeff-regier commented on #663
Very nice, Steve. That's pretty much what we'd expect the sky-subtracted images to look like.

Would you add documentation to the wiki for this script too,if you haven't already?

[2017-05-15 04:35] #663 closed, assigned to gostevehoward

[2017-05-16 21:05] gostevehoward commented on #663
Documented here: https://github.com/jeff-regier/Celeste.jl/wiki/Rendering-Celeste-posterior-expectations

[2017-05-18 19:47] #329 closed, assigned to nobody

[2017-06-02 05:01] jeff-regier commented on #325
The great3 challenge actually isn't a great test for Celeste because 1) there's a lot more information about each galaxy than in a real image set, and 2) neural networks are a much more direct way to solve the problem.

[2017-06-02 05:01] #325 closed, assigned to nobody

[2017-06-07 16:24] jeff-regier commented on #330
Also, expand "1 letter" variables names, e.g.  change`D` and `B` to `num_color_components` and `num_bands`.

[2017-06-07 17:22] jeff-regier opened #671 "use Documenter.jl for code-level documentation"

[2017-06-22 18:16] jeff-regier opened #675 "Jupyter integration"
For any particular bounding box,
- [ ] display a color image of the region
- [ ] display Celeste's rendering
- [ ] display sky-subtracted images
- [ ] visually compare Celeste's catalogs to other catalogs
- [ ] print table of average error

A script that shows how to do a lot of this has already been implemented for issue #663.

[2017-07-06 05:57] jeff-regier commented on #295
The methods paper is online: [Fast Black-box Variational Inference through Stochastic Trust-Region Optimization](https://arxiv.org/abs/1706.02375)

However, it's going to be quicker to use first-order stochastic methods for now.

[2017-07-06 05:57] #295 closed, assigned to jeff-regier

[2017-07-06 06:07] #629 closed, assigned to nobody

[2017-07-06 21:11] #416 closed, assigned to nobody

[2017-07-11 23:23] hayatoikoma commented on #391
Is there any status update of this topic after the release of Julia v0.6? I am trying to build Julia v0.6 on KNL with Intel's compiler, but I still haven't been able to build it. It would be great if you can update the information provided above.

[2017-07-12 00:36] andreasnoack commented on #391
Julia 0.6 doesn't support KNL out the box. You can use Julia 0.6 on KNL but you'll need a more recent LLVM. I think building *Julia* with the Intel compilers works fine but I gave up on building LLVM with the Intel compilers. GCC worked fine. Notice that you can use MKL without building Julia with the Intel compilers.

[2017-07-12 01:22] hsseung commented on #391
I did not yet build 0.6 for KNL, but I did manage a MKL build for a regular Intel CPU. As Andreas says, LLVM does not build properly with Intel's icc. I think I got an error message about linking to `libirc.a`. Building with gcc worked, but I had to manually set the environment variables MKLROOT and LD_LIBRARY_PATH. I couldn't use the Intel script compilervars.sh because it evidently sets some inc

[2017-07-12 01:38] hayatoikoma commented on #391
Thank you, @andreasnoack  and @hsseung.

I have managed to compile Julia and LLVM with GCC. I used the commits suggested on the first Andreas's comment. However, I haven't been able to compile the released v0.6 even with the GCC compiler.

[2017-07-12 02:11] andreasnoack commented on #391
Which version of LLVM are you using? The problem is that LLVM's API changes over time so Julia has to be adjusted a bit every time the LLVM version changes.

[2017-07-12 06:08] hayatoikoma commented on #391
I have checked out the commit you suggested on the first comment for LLVM and checked out the release-v0.6 for Julia. Which version would you suggest for LLVM?

[2017-07-12 16:20] hayatoikoma commented on #391
After trying out different versions of LLVM, I was able to compile the release-0.6 of Julia with release-40 of LLVM! Thank you for your help!

[2017-07-20 19:38] #546 closed, assigned to Keno

[2017-08-03 21:46] #347 closed, assigned to nobody

[2017-08-03 21:51] #374 closed, assigned to jeff-regier

[2017-08-03 22:11] #504 closed, assigned to jeff-regier

[2017-08-07 19:04] #483 closed, assigned to Keno

[2017-08-11 23:01] kbarbary opened #680 "RFC: Change e_scale parameter and CatalogEntry.gal_scale from pixels to degrees"
Nearly all the parameters of the model and `CatalogEntry` are given in world coordinates, independent of image pixel scale or WCS. For example, the position is given in (RA, Dec), not (x, y) pixel position. This makes sense because a single source may occur on multiple images, potentially with different pixel scales.

However, `CatalogEntry.gal_scale` seems to be an exception, being given in pixel

[2017-08-16 21:50] #330 closed, assigned to jeff-regier

[2017-08-17 20:14] jeff-regier opened #685 "refactor PSF.jl and remove Transforms.jl"
Modify PSF.jl not to use Tranforms.jl, and then at last delete Transforms.jl. In PSF.jl we can directly solve for all 11 parameters: 1 mixing weight in [0,1], 2 unconstrained mean parameters per bivariate Gaussian, and 3 unconstained parameters for the Cholesky decomposition of the covariance.

[2017-08-17 20:16] jeff-regier opened #686 "greedy approach to joint inference"
See the `jcr/greedy_infer` branch. It's an alternative to all our joint inference code.

[2017-08-17 21:02] jeff-regier opened #687 "merge Config and read_settings_file()"

[2017-08-18 22:28] jeff-regier opened #688 "set `active_pixel_bitmap` in a better way"

[2017-09-10 22:31] kbarbary commented on #332
This seems much nicer than the current approach. One could simplify this slightly using the `Val` type from Base instead of `ParamIndexes`: define, e.g.  `getindex(sp::SourceParams, ::Type{Val{:u}})`, and index like `sp[Val{:u}]`. Terser than `sp[ParamIndexes{:u}()]`.

I assume there is some reason (possibly performance) that we want all parameters in a contiguous vector in memory, precluding a de

[2017-09-10 23:37] jeff-regier commented on #332
Correct, we want to keep the parameters contiguous in memory.  @keno has  a branch of Celeste that does away this `ids`, I think. I believe he used function calls to get the relevant ranges of the parameters vector.

@keno What branch is it? Can it be merged?

[2017-09-16 00:34] jeff-regier opened #695 "fix stars classified as galaxies"

[2017-09-16 21:10] jeff-regier opened #697 "fix WARNING: eval from module Main to Model"
[code]

[2017-09-16 21:12] jeff-regier opened #698 "require FITSIO v"0.11""
Once it's tagged, or whatever version of FITSIO it is that gets rid of all the warnings, e.g.,

[code]

[2017-09-16 21:15] jeff-regier opened #699 "unit tests for AccuracyBenchmark.jl"
We've only got 43% coverage here, and it's been a problem having it break.

[2017-09-16 21:16] jeff-regier opened #700 "unit tests for ParallelRun"
We're only at 40% coverage currently. Getting rid of all the timing code will boost coverage somewhat.

[2017-09-18 18:12] #697 closed, assigned to giordano

[2017-09-18 19:55] #699 closed, assigned to nobody

[2017-09-18 20:17] jeff-regier opened #704 "restore Mac OS X support"
SEP doesn't build on OS X because `make` doesn't accept the `-D` flag on OS X.

[2017-09-18 21:42] kbarbary commented on #704
From Slack:

The SEP C library is tested on Mac. But, the make install command is not tested, and there appears to be something wrong on mac: I guess install doesn't have a -D option there? On linux, it means
[code]
Is there an equivalent option on mac?

[2017-09-18 22:04] jeff-regier commented on #704
I don't think so:

[code]

[2017-09-18 22:05] jeff-regier commented on #704
Does `mkpath` in Julia do the same thing as `make -D`?

[2017-09-18 22:24] kbarbary commented on #704
I'll just change the sep makefile to use `mkdirs -p` followed by `install` (with no `-D` option).

(Doing it in Julia in the build script in Celeste is an option as well, but I should fix the sep makefile anyway).

[2017-09-19 01:36] kbarbary commented on #704
Oh, also I just noticed that you answered the question for `make -D`, but I was asking about options to the `install` command. What does `install --help` say on OS X?

[2017-09-19 03:38] jeff-regier commented on #704
From the man page for `install` on mac:

[code]

[2017-09-19 17:11] #700 closed, assigned to jeff-regier

[2017-09-20 19:45] #704 closed, assigned to kbarbary

[2017-09-21 00:16] jeff-regier commented on #695
Closed by #708

[2017-09-21 00:16] #695 closed, assigned to jeff-regier

[2017-09-21 00:55] jeff-regier opened #709 "exclude saturated light sources from AccuracyBenchmarks"

[2017-09-28 07:33] giordano commented on #698
Version 0.11 of FITSIO.jl, with all those warnings cleared, has been tagged a few hours ago.  Is it necessary to require the latest version or can we close the ticket?

[2017-09-28 14:31] kbarbary commented on #698
Not yet tagged in METADATA, but hopefully will be soon.

[2017-10-01 22:13] jeff-regier commented on #709
Closed by #711

[2017-10-01 22:13] #709 closed, assigned to jeff-regier

[2017-10-02 05:10] #467 closed, assigned to nobody

[2017-10-02 05:17] #356 closed, assigned to nobody

[2017-10-03 03:36] #324 closed, assigned to andymiller

[2017-10-03 03:36] #387 closed, assigned to andymiller

[2017-10-03 06:30] #698 closed, assigned to giordano

[2017-10-06 01:59] kbarbary opened #720 "segfault in MCMC test_infer with multiple threads"
Looks like there's some printing in the MCMC code that might be causing a problem with threads.

[code]

[2017-10-06 02:56] jeff-regier commented on #720
I've always run the tests single threaded since they don't really parallelize. We should probably get the print statements removed though since we do want to use multithreading for mcmc.

[2017-10-06 03:32] andymiller commented on #720
Ok, I can incorporate that into the branch I'm working on.  I'll add a `verbose` flag to turn off printing.

[2017-10-06 03:46] kbarbary commented on #720
If we need logging there, I guess the Celeste mini-logging module is thread-safe?

[2017-10-06 03:53] jeff-regier commented on #720
Yeah, `Log.info` is thread safe. @andymiller You just have to add `import ..Log` to the MCMC header--the `Log` module is part of Celeste.

[2017-10-06 12:59] mrkite92 opened #721 "incremental compilation broken on Mac"
Hi Celeste gurus,

Atom: 1.20.1 x64
Electron: 1.6.9
OS: Mac OS X 10.12.6

Stack trace on Atom while using command using Celeste:

Precompiling module Celeste.
WARNING: eval from module Main to Model:
Expr(:curly, Expr(:., :Core, :Tuple)::Any, Expr(:., :Core, :Float64)::Any, Expr(:., :Core, :Float64)::Any)::Any
  ** incremental compilation may be broken for this module **

ERROR: LoadError: LoadErr

[2017-10-06 13:07] giordano commented on #721
The "incremental compilation may be broken for this module" warning is already fixed on master, see #697.  Instead, I have no idea what's causing the error.

[2017-10-06 14:32] mrkite92 commented on #721
OK, thanks for immediate answer. Latest master pulled, tests went smoothly until:

ti profile:
prep: 7.983e-06 (7983)
fork: 0.000137581 (387.659 - 339.201)
user: 1.7804e-05 (217.781 - 27.2226)
join: 9.35e-07 (4.334e-06 - 1.619e-06)

signal (11): Segmentation fault: 11
while loading /Users/marquett/.julia/v0.6/Celeste/test/test_infer.jl, in expression starting on line 9
Assertion failed: (uv__has_a

[2017-10-06 15:07] kbarbary commented on #721
The directory `/Users/osx/...` is just a directory on the machine where libuv was compiled. If you had compiled Julia from source, you'd see a directory on your machine.

Do you know if you're running with julia threads? This seems similar to #720.

[2017-10-06 17:50] #157 closed, assigned to kbarbary

[2017-10-09 03:43] jeff-regier commented on #721
I tried it on my mac laptop. Installation seems to go smoothly.

[code]

I'll try the unit tests shortly, once nersc.gov is back up....

[2017-10-09 03:45] jeff-regier commented on #721
However, I see the same error message you're reporting on JuliaCIBot here:

https://github.com/JuliaLang/METADATA.jl/pull/11501
https://juliarun-ci.s3.amazonaws.com/d1c4c7ed0a2f23b4abdc4e36632f4107c122a6d1/current_release_of_Celeste_on_julia_0_6.log

This may be an issue with static arrays, that gets fixed in few days (?) by the release of Julia 0.6.1.

[2017-10-09 20:20] #720 closed, assigned to nobody

[2017-10-28 00:03] #375 closed, assigned to andymiller

[2017-10-29 18:37] jeff-regier commented on #721
I don't get any error with the sequence of commands below on a Macbook. I'm using Julia 0.6.1 here---that could have helped. Please reopen the issue if the commands below, with Julia 0.6.1, still lead to an error message.

[code]

[2017-10-29 18:37] #721 closed, assigned to nobody

[2017-11-02 23:22] kbarbary commented on #688
As background, here's an illustration of how active pixels are set currently:

In the images below, the circles indicate the SkyPatch radius for each object. (They also serve to show where the objects are). The pixel outlines show the active pixels for each object.

#### With no minimum radius (`Config(0.0)`)

![active-pixels-no-min-radius](https://user-images.githubusercontent.com/970135/32354369

[2017-11-03 00:25] jeff-regier commented on #688
Sounds good. Minor point: Since the sky patch is a square, we're using the term "radius" kind of loosely for it. Here "radius" denotes the radius of an L_\infty ball, i.e. a square with edge length 2 * radius.

[2017-11-30 01:36] kbarbary commented on #688
Update: I finally had an implementation I was happy with a week and a half ago, but have since been working through a test failure that I've now finally gotten to the bottom of. I should have a PR ready in the next couple days.

[2017-11-30 02:35] jeff-regier commented on #688
Great! I'm looking forward to the PR.

[2017-12-01 20:49] #688 closed, assigned to kbarbary

[2018-09-14 19:39] giordano opened #737 "Celeste relies on case-insensitive names of columns"
In `FITSIO.jl` we changed the default behavior of `fits_get_colnum` to be case-sensitive (see https://github.com/JuliaAstro/FITSIO.jl/issues/98 and https://github.com/JuliaAstro/FITSIO.jl/issues/99), but this can be controlled with the new `case_sensitive` keyword to `fits_get_colnum` and `read`.

`Celeste.jl` relies on the old case-insensitive behavior and in `src/SDSSIO.jl` it asks for the "rnro

[2018-09-23 09:45] KZiemian opened #739 "Package compatibility caps"
Ref: https://discourse.julialang.org/t/package-compatibility-caps/15301

[2018-11-27 21:11] aramirezreyes commented on #391
Hi. I am using Julia on Cori. Currently on Haswell (downloaded binaries for julia 1.0.2). Is there a way to get your compile script for julia on KNL?

[2018-11-27 21:42] andreasnoack commented on #391
Have you tried just to run Julia 1.0.2 on a KNL node? We have upgraded LLVM in the meantime so I believe Julia should just run on KNL now. You might want to build a custom system image to the KNL, see PackageCompiler.jl and you most likely would like to use MKL, see what I'm doing in https://github.com/JuliaComputing/MKL.jl. The current trick is to adjust the paths in `build_h.jl` to point to `lib

[2019-05-26 00:10] jeff-regier commented on #704
![](https://github.trello.services/images/mini-trello-icon.png) [test](https://trello.com/c/jEnsjsey/1-test)

[2019-09-04 15:16] KristofferC opened #740 "Info about upcoming removal of packages in the General registry"
As described in https://discourse.julialang.org/t/ann-plans-for-removing-packages-that-do-not-yet-support-1-0-from-the-general-registry/ we are planning on removing packages that do not support 1.0 from the General registry. This package has been detected to not support 1.0 and is thus slated to be removed. The removal of packages from the registry will happen approximately a month after this issu

[2019-10-09 08:33] #740 closed, assigned to nobody

[2021-01-31 02:47] giordano commented on #737
Fixed by https://github.com/jeff-regier/Celeste.jl/commit/41c4897dde496ce5a8593593670d2e798a2a6076

[2021-01-31 02:47] #737 closed, assigned to nobody