[2015-02-21 22:12] jeff-regier opened #2 "set good patch sizes"
A patch is the region of images affected by a source. The code currently allows the user to specify the size of the patch for each source. But there isn't code yet that picks a good size patch, based on estimates of the brightness and size of the source.

[2015-02-21 22:16] jeff-regier opened #3 "learn the point spread function"
The SDSS pipeline doesn't approximate the PSF exclusively with Gaussians, so we need to fit a Gaussian mixture model ourselves. [GaussianMixtures.jl](https://github.com/davidavdav/GaussianMixtures.jl) looks useful.

[2015-02-21 22:19] jeff-regier opened #4 "WCS coordinates, not pixel coordinates"
Encode source locations in WCS coordinates, not pixel coordinates. Stamps are pixel aligned, so pixel coordinates were fine before. Frames in different bands aren't exactly pixel aligned.

[2015-02-21 22:26] jeff-regier opened #5 "Find celestial bodies in all of stripe 82"
Test Celeste on all of stripe 82, not just on stamps from it.

[2015-02-21 22:28] jeff-regier opened #6 "Recreate results from ICML submission using exact Hessians."
Using exact Hessians, recreate the results from the ICML submission for the test dataset of 51x51-pixel stamps.

[2015-02-21 22:38] jeff-regier opened #7 "Decide how to compute exact Hessians"
We should decide how to compute exact Hessians. Hessians may be computed either 1) manually, 2) automatically, by JuMP/ReverseDiffSparse, or 3) automatically, by forking JuMP and modifying it to parse a BUGS-like specification of our model. To decide, it'd helpful to understand whether our objective function can be written in the current JuMP modeling language.

[2015-02-21 23:28] rgiordan commented on #7
I think as a first step it might be worth trying BFGS preconditioning with only the diagonal of the true Hessian to get the problem "scale" right.  That will be easy to calculate by hand.

[2015-02-21 23:31] rgiordan opened #9 "Remove hard-coded constants"
Some model quantities are currently hard-coded (e.g. the number of PSF and galaxy components).  Others have global constants defined but hard-coded values are sometimes still used (e.g. the mu values in the VB parameters object).  With two of us making changes, it'll be less error prone to go through the code and encode all these as global constants.

[2015-02-21 23:32] rgiordan opened #10 "Implement unconstrained parameterization"
Change the constrained parameterization to an unconstrained one and update the analytic derivatives.

[2015-02-21 23:32] rgiordan opened #11 "Function Documentation"
Document the inputs and outputs of the core functions in Celeste.

[2015-02-22 00:15] jeff-regier commented on #11
What do you think of using [Docile.jl](https://michaelhatherly.github.io/Docile.jl/manual/) for documenting functions?

[2015-02-22 00:18] jeff-regier commented on #7
Great idea!

[2015-02-22 01:09] rgiordan commented on #11
Oh, cool.  I saw that docstrings would be added in 0.4 and thought that
meant there wasn't any way to put them in yet.  I can do that before or
after the current merge, doesn't make any difference to me.

On Sat, Feb 21, 2015 at 4:15 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-02-22 19:53] jeff-regier opened #12 "add code coverage statistics to the project home page"

[2015-02-22 20:39] rgiordan commented on #11
I couldn't get Docile to work and posted on stack overflow
http://stackoverflow.com/questions/28662958/example-usage-of-docile-jl-in-julia-0-3.
For now I'll just keep documenting with comments.

On Sat, Feb 21, 2015 at 5:09 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2015-02-22 21:55] jeff-regier commented on #12
Done! 91% test coverage.

[2015-02-22 21:55] #12 closed, assigned to jeff-regier

[2015-02-23 05:50] jeff-regier opened #14 "add quasars to the model"
The objects at the following ra-dec coordinates are quasars in our dataset of "stamps".
- 5.0820, 0.9728
- 5.0075, 0.9102
- 5.2982, 0.0274
- 5.6378, 0.1212
- 5.0161, 0.1945
- 5.1439, 0.0885

[2015-02-23 07:33] jeff-regier opened #15 "compute the Hessian manually"
I added a field `h` to `SensitiveFloat` (defined in `CelesteTypes.jl`). It has the same dimension as the first derivative `d`. We can store the 2nd derivatives (i.e. the diagonal of the Hessian) there.

For testing, I suggest modifying `test/test_derivs.jl` to also test these new 2nd derivatives. We can either extend `test_by_finite_differences` to also test second derivatives, or make a new funct

[2015-02-23 19:28] jeff-regier commented on #7
On second thought, if you manually compute the diagonal of the Hessian, convert a bounded optimization problem to an unbounded one, and call BFGS with preconditioning, you've actually done a good chunk of the work needed to manually compute the exact Hessian and use Newton's method. If it's only going to take a week or so to get diagonally preconditioned BFGS running, you might as well just go for

[2015-02-24 19:38] rgiordan commented on #7
I think right now it might take me a week just because I'm still getting
used to the basics of Julia, which won't be mitigated by looking into JuMP.

On Mon, Feb 23, 2015 at 11:28 AM, Jeffrey Regier notifications@github.com
wrote:

[2015-02-25 02:27] jeff-regier commented on #7
That's fine, it sounds to me like more than a week of work, even if you were familiar with Julia. My point was just that JuMP + IpOpt and manually computed second derivatives + BFGS are alternatives...makes sense to at least consider whether JuMP could work before spending a lot of time on a competing (and likely tedious) approach. I could spend some time later this week or next week evaluating wh

[2015-02-25 21:56] rgiordan commented on #7
Learning about JuMP sounds like more fun than computing second derivatives,
so if you think it's best to start there I'll check it out before doing any
calculations of my own.

On Tue, Feb 24, 2015 at 6:27 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-02-26 06:48] rgiordan commented on #7
I spent some time learning about JuMP (and how to debug Julia package install errors) today.  I am tentatively optimistic that it would be possible to do Celeste in JuMP, but based on the basic documentation at least I suspect it would not be a quick re-write of the existing code.  But maybe I've missed something or you can think of some meta-programming tricks.

The problem as I see it is how to

[2015-02-26 07:32] jeff-regier commented on #7
I spent a bit of time looking at JuMP too...don't want to step on your toes here....just wanted to make sure we're going the right direction while you're getting started. Check out this toy program:

[code]

It's amazing...like 5--15 iterations until it converges, all in less than 1 minute on a very old laptop. The toy problem above is simple, but it's not unlike our actual objective function: a s

[2015-02-26 07:35] jeff-regier commented on #7
That Fortran compiler issue was a nightmare for me too. On linux (and probably on mac too), it's solved by deleting `lib/julia/libgfortran*` from your julia directory. Compiling Julia from source, rather than downloading the binaries also solves the problem.

[2015-02-26 07:54] rgiordan commented on #7
Hm, I just tried deleting libgfortran.dylib and that didn't fix the
problem.  (I'm pretty sure it's using the library in /usr/lib anyway
because one of the earlier problems was it being unable to find that
library.)

If your'e curious, I opened an issue
https://github.com/JuliaOpt/Ipopt.jl/issues/30#issuecomment-76127699 with
more information.

On Wed, Feb 25, 2015 at 11:35 PM, Jeffrey Regier noti

[2015-02-26 08:02] rgiordan commented on #7
Ok, cool.  I like the idea of JuMP if we can get it to work.  I'm hamstrung
until I can get Ipopt installed (though I'm optimistic that my linux laptop
will be easier).

I made a JuMP branch on the repo with some screwing around.  Maybe we can
both use that branch.  I'll be more convinced if we can do something like
least squares in the following way.

@defVar(m, beta[1:k])

function SetResidual(i

[2015-02-27 00:39] rgiordan commented on #7
With Ipopt in hand, I got some working examples.  I'd like you to take a look, though.  Consider the code below, which doesn't work.  The error is shown -- eps_squared is not actually being defined inside the function.  Note that if this had been done in the main body of the code, i.e. not inside the function, this would have worked fine.  (See other examples in the haphazardly organized JuMPExamp

[2015-02-27 00:54] rgiordan commented on #7
One more concern is whether JuMP objects make a deep copy of the data that is used to construct them.  Consider this, for example:

[code]

You can see that big_transform still contains all the data from big_data.  If you were to define another expression that used big_transform, maybe it, too, would contain a copy of big_data.  My Julia chops are not strong enough to check this directly, though,

[2015-02-27 01:21] jeff-regier commented on #7
Unlike `@defVar`, etc., `@defNLExp` doesn't take model `m` as it's first argument. So if you put a call to `@defNLExpr` in a for loop, it won't mutate anything outside of the body of the for loop.

Here's working code:

[code]

Everything else worked once I fixed that. Nicely done!

[2015-02-27 01:32] jeff-regier commented on #7
I was concerned that JuMP wouldn't do things in efficient manner too, but I'm much less so now that I've run that toy example with 5,000,000 pixels that I posted yesterday. It finished as fast as my hand coded derivatives, on a laptop with only 2 GB of RAM. 2x or even 10x too much memory isn't so bad....it's the O(n) memory inefficiencies, where n is the number of pixels, that I worry most about.

[2015-02-27 01:41] rgiordan commented on #7
So if you cant define an NLExpr in a function, do you think the ELBO can be
cleanly written as a sequence of sums without using any functions?

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Feb 26, 2015 5:21 PM, "Jeffrey Regier" notifications@github.com wrote:

[2015-02-27 02:02] jeff-regier commented on #7
I think the code above is cleaner without the one line function, because it only gets called once. I'm not sure about the ELBO, but less nesting could be better. A lot of quantities are just sums of something else: the elbo is the sum a likelihood and a kl. The likelihood is a sum over 5 band-specific likelihood. Each band specific likelihood is a sum over tiles. Each tile is a sum over pixels. Al

[2015-02-27 02:03] rgiordan commented on #7
So _if_ it's making a deep copy (and it very well may not be) it seems to
me that the memory problem is on the order of number of pixels \* amount of
prior data \* # of intermediate expressions, and that would be a problem.

For example, each pixel's color ELBO term is a function of the pre-computed
color priors.  If you put that ELBO term in an intermediate expression, and
JuMP stores that expres

[2015-02-27 02:07] rgiordan commented on #7
Without functions the ELBO in JuMP would look much different than it does
now.  Of course, you're much more familiar with it than I am so your
intuition about what's easy and what's not is surely better than mine.

[2015-02-28 01:08] rgiordan commented on #7
Good news, it looks like JuMP is not being as wasteful as I was worried
about.  The amount of memory allocated by JuMP (above and beyond the
original dataset) increases linearly with the amount of data, but adding
extra @NLExpr definitions doesn't increase that memory usage.

The graph shows two models optimizing sum(exp(alpha \* x[i])), one of which
has two NLExpr definitions (one for alpha \* x[

[2015-02-28 08:02] rgiordan commented on #7
I wrote and checked in a JuMP implementation of a toy version of the model (1-d, point galaxies, one band, single gaussian psf).  I do think it looks promising.

I came across two issues.  One is the lgamma() function doesn't seem to be supported or at least have an error in it.  The other is stranger, and I have posted an issue about it:
https://github.com/JuliaOpt/JuMP.jl/issues/406

[2015-02-28 19:59] jeff-regier commented on #7
This is great progress! And I'm glad the issue you posted about got fixed so quickly...the JuMP maintainers have been really helpful.

I think I see how to get the `lgamma` function working. JuMP loads differentiation rules from `Calculus.jl`. `Calculus.jl` lists `digamma(x)` as the derivative of `lgamma(x)`, but it doesn't list a derivative for `digamma(x)`, so JuMP doesn't know that `polygamma(1

[2015-02-28 20:07] rgiordan commented on #7
Oh, awesome.  Do you mind if I post your response to the issue in JuMP.jl
https://github.com/JuliaOpt/JuMP.jl/issues/407?

I guess this should be a pull request to Calculus.jl.  Do you want to do
that or let the JuMP guys do it?  Or should I give it a shot?  (I may have
to tap you if there are questions but I'd be happy to give it a go.)

On Sat, Feb 28, 2015 at 11:59 AM, Jeffrey Regier notificati

[2015-02-28 20:12] rgiordan commented on #7
In the meantime, thanks to JuMP's quick fix, a rudimentary likelihood
maximizer on this toy problem (sans priors or entropy due to the lgamma
problem) is working JuMPGammaPoisson.jl in the JuMP branch of the repo.
Want to check it out?  I don't yet have an intuitive sense of how fast
something like this should be, but on my laptop it can do 5k points in
about 10 minutes.

I think I need to work on

[2015-03-12 21:39] jeff-regier opened #16 "more mixture components for color priors"
According to spectrographs, the objects at
- 5.1439, 0.0885
- 5.5156, 0.1048
- 5.7299, 0.0265, and
- 5.5853, 0.1438

are red dwarfs in our collection of stamps that Celeste incorrectly labels galaxies. Presumably our current color prior---a 2 component mixture model---doesn't have enough components to adequately model stars outside of the main sequence (e.g. red dwarfs).

http://skyserver.sdss.org

[2015-04-09 00:39] #7 closed, assigned to rgiordan

[2015-04-24 23:09] jeff-regier opened #22 "introduce sampled parameters to the elbo calculation"
Not just variational parameters now

[2015-04-24 23:10] jeff-regier opened #23 "revise KL"
use new KL library & new prior names, and compute KLs for the 5 new latent random variables

[2015-04-24 23:11] jeff-regier opened #24 "code SGD"
with reparameterizations, rather than projection

[2015-04-24 23:11] jeff-regier opened #25 "SGD based on natural gradients"

[2015-04-24 23:11] jeff-regier opened #26 "SGD with momentum"

[2015-05-01 02:08] #11 closed, assigned to rgiordan

[2015-05-06 17:43] jeff-regier opened #27 "log-normal brightness priors and variational distribution"
rather than a gamma distribution

[2015-05-06 19:51] rgiordan commented on #9
This was fixed in 94aeee35e882279f318056c95c0f3481021b3ba8

[2015-05-06 19:51] #9 closed, assigned to rgiordan

[2015-05-06 22:50] rgiordan commented on #4
I started a "wcs" branch to work on this.

Just a few questions to get started:
- I should be looking at the files in dat/sample_field, right?
- Is there a reason load_field is commented out?
- What does this comment mean: "# temporary, until dustin gets back to me"?
- What does this one mean: "# this doesn't look right...way too small"?
- Anything else I should know?

[2015-05-06 23:16] rgiordan commented on #3
I think this will require both loading a field and a catalog.  The load_catalog function seems to be out of date, or at least doesn't match the file calibPhotomGlobal-003900-6.fits in the sample_field directory -- can you point me to some reading about how to fix it up?

[2015-05-07 01:31] jeff-regier commented on #4
Yes, start with `dat/sample_field`.

"load_field" is commented out because I never finished writing it. I made some progress, but I stopped when I realized that I'd need to fit the PSF myself, and just used stamps for ICML.

The lines immediately following "temporary..." read in metadata from the stamps instead of fields, just as a placeholder. I hadn't figured out how to populate those values for

[2015-05-07 01:33] jeff-regier commented on #4
It looks like FITSIO.jl has some new high-level routines for reading FITS tables, added after I wrote `load_field`. You'll probably want to use them instead of doing it the way I did.

https://julia-fitsio.readthedocs.org/en/latest/api.html#table-operations

[2015-05-07 01:42] jeff-regier commented on #3
Yeah, "calibObj-..." is different than "calibPhotomGlobal-...". I wrote `load_catalog` with the former in mind. I might have excluded "calibObj-..." from github because it's large.

http://data.sdss3.org/datamodel/files/PHOTO_SWEEP/RERUN/calibObj.html

I found some calibObj files here:

http://data.sdss3.org/sas/dr12/boss/sweeps/dr9/301/

These are the ones you want for `sample_field`:

http://dat

[2015-05-08 01:33] #23 closed, assigned to jeff-regier

[2015-05-08 01:33] #24 closed, assigned to jeff-regier

[2015-05-12 18:47] jeff-regier commented on #10
I need this functionality for SGVB too. It's not debugged or fully implemented yet, but I have a version of it in the "sgvb" branch. https://github.com/jeff-regier/Celeste.jl/blob/sgvb/src/Transform.jl

[2015-05-13 04:37] rgiordan opened #29 "FITSIO v0.6.0 breaks SDSS.jl"
I'll fix this, I'm in there anyway.

[2015-05-13 17:25] rgiordan opened #31 "Add pixel mask to ElboDeriv.jl"
In order to read real frames which sometimes have bad pixels, we need to be able to assign zero weights to certain pixels in ElboDeriv.

[2015-05-13 18:39] #29 closed, assigned to rgiordan

[2015-05-13 18:50] jeff-regier commented on #31
How about storing `NaN` in the image as the value for corrupted pixels? (The type of `NaN` is `Float64`.) That way we don't need a separate data structure to store whether pixels are good or bad.

[2015-05-13 19:09] rgiordan commented on #31
That's a great idea.  Let's leave this issue open because we'll still need to add the NaN checking to ElboDeriv.

[2015-05-13 21:56] rgiordan commented on #3
For reference, there is an issue reading in the psField files:
https://github.com/JuliaAstro/FITSIO.jl/issues/33

[2015-05-13 22:28] jeff-regier commented on #3
I think I was able to read in variable length fields using the low level table interface. There may be an example of how to do it the `load_field` function.

[2015-05-13 22:50] rgiordan commented on #3
That may be true, though all the "field*.fits" fields currently load fine with the high-level FITS library, so I suspect a problem may remain.  I asked that in the other thread.  Let's see what the FITS guys say.

[2015-05-13 22:56] rgiordan commented on #10
Ok.  Just in case you didn't see it, the free_transform in the master branch has all of these except for the mu "box constraints"  (it also uses a (mean, variance) parameterization of the gamma distribution).  FYI, I was getting problems with NLOpt and the free transform, though.

The transform remake looks cool.  Do you want to maybe merge that with the master separately from the sgd stuff?

[2015-05-14 20:57] rgiordan opened #32 "Matrix-valued iota and epsilon"
Since in real images the sky background and calibration vector vary across the image, perhaps these quantities should be matrix-valued, not scalar-valued, in ElboDeriv.

I think iota should definitely be matrix-valued, since it varies quite a lot across the sky.  We can pass around a CoordInterpGrid object instead of the full matrix, since that's all that's saved in the FITS file anyway.

The cali

[2015-05-15 02:21] #31 closed, assigned to rgiordan

[2015-05-15 02:25] jeff-regier commented on #32
I'm not sure whether the intra-image variation in calibration vector ever matters....Let's ask Dustin about this tomorrow.

[2015-05-15 02:39] rgiordan commented on #32
How about the sky background?  If we store the whole background as a full-sized matrix, we double the amount of data in memory, but if we only store the bilinear object, we need to compute a bilinear interpolation for every point for every ELBO calculation.  I'm inclined to store the whole matrix and save on CPU, but I'd be interested to hear what you think is best.

[2015-05-15 03:58] jeff-regier commented on #32
Another option is computing the sky background once per tile, rather than once per pixel.

Either way---as you note---we have to decide whether to pre-compute it for each tile/pixel, or to recompute it for one pixel each time we evaluate the ELBO at a pixel. It probably won't be a memory or a CPU bottleneck either way, at least unless it's much faster to compute the interpolation for every point a

[2015-05-15 21:24] rgiordan commented on #3
It turns out that, like iota and epsilon, the PSF varies over the image, which opens the question of how to store and read it.

I think the right way is to store the Gaussian parameters in a coarse grid and use linear interpolation.  At the start of an ELBO evaluation, I'll evaluate the PSF at our current beliefs of the source locations, so that for the purpose of the ELBO, the each source will ha

[2015-05-16 02:00] jeff-regier commented on #3
How about estimating the PSF at each known star in the catalog (or some
subset of them...say, the brightest, most isolated stars) and then using a
Gaussian Process to interpolate the PSF at points in between them?

On Fri, May 15, 2015, 2:24 PM Ryan notifications@github.com wrote:

[2015-05-16 02:28] rgiordan commented on #3
That seems a bit heavy-handed.  I think you need a Gaussian Process if you are uncertain about points in between your observation -- we have a data structure parameterizing SDSS's belief about the true PSF for every point in the image*.  The only question is how to to store it.
- The way they actually store the PSF is a bit different from how you described it to me, so maybe that's the source of t

[2015-05-16 20:31] jeff-regier commented on #3
Isn't SDSS's representation of the PSF a mixture of 2 Gaussians and a power
distribution? I thought we needed to learn the PSF ourselves (from the
known stars), because we model the PSF as a mixture of 3 Gaussian. (?)

On Fri, May 15, 2015 at 7:29 PM Ryan notifications@github.com wrote:

[2015-05-16 20:41] rgiordan commented on #3
There may be multiple versions of the PSF floating around in SDSS files, and some of them might be mixtures of two Gaussians and a power law.  However, the psField files contain information necessary to reconstruct "images" of the PSF, in the sense that they tell you what a picture of a point source, taken through the optics, would look like at any point in the image.

These images are 51 x 51, an

[2015-05-16 20:57] jeff-regier commented on #3
I see...sounds like we should fit a mixture of 3 Gaussians for each source
then, as you suggest. It might be worth checking with Dustin first though.
For the stamps, I thought he fit the PSF using known stars rather than
using SDSS "eigenimages". There might be a reason he did that. (Or I could
be mistaken about what he did.)

On Sat, May 16, 2015 at 1:41 PM Ryan notifications@github.com wrote:

[2015-05-25 23:55] jeff-regier commented on #10
I finished debugging and testing the version of "Transform.jl" in the "sgvb" branch. It supports arbitrary `D` and arbitrary `Ia`. The free_transform code just works for `D` = `Ia` = 2, right?

The version of Transform.jl in sgvb, however, is for a somewhat different model than the master branch uses---all quantities are random. Probably better to put off merging it into master (or to manually cop

[2015-05-25 23:59] jeff-regier opened #34 "improve on ICML scale/brightness results for stamps"

[2015-05-26 01:07] rgiordan commented on #3
This is resolved in 1ae4487d7e45403d7a08bf5ee4e494c50e865281 (modulo issue

[2015-05-26 01:07] rgiordan commented on #3
Sorry, I accidentally closed this -- I see that putting the multiple values in the Image type is also part of this issue.

[2015-05-26 01:35] rgiordan commented on #10
Yes, that's right.  Making it work for general D and Ia wouldn't be too
much work, though, and not worth doing a big tricky merge just for that.

[2015-05-26 01:37] rgiordan commented on #3
Actually, I'm going to close this and make the non-constant PSF a separate, lower-priority issue since it'll be a bookkeeping headache.  I suspect that for now just using a constant PSF chosen from the middle of the image will do.

[2015-05-26 01:37] #3 closed, assigned to rgiordan

[2015-05-26 01:38] rgiordan opened #36 "Represent a non-constant PSF"
The PSF varies across an SDSS field, and should be represented somehow (e.g., each source could have its own PSF learned at its catalog location).

[2015-05-26 02:09] rgiordan opened #37 "Read SDSS catalog into Celeste"
Jeff -- what do you think about just writing a simple python wrapper around tractor to read in the existing catalog and write to a Celeste-readable csv or something?

You can take a look at what it does in [tractor/sdss.py/_get_sources](https://github.com/dstndstn/tractor/blob/f1d92f0569e61f920932635b469222a2ac989ed7/tractor/sdss.py#L217).  It mostly looks like bookkeeping.  This would also let us

[2015-05-26 03:16] jeff-regier commented on #37
I think we'll want to output a catalog in the SDSS format too, not just read one in. It's probably better to engage with the SDSS FITS format from the beginning, than to have to understand the Tractor format from the beginning, and then perhaps later the FITS format too.

I think we can limit ourselves to just the most recent SDSS data release. That appears to cut down the number of lines that wou

[2015-05-26 19:21] rgiordan commented on #37
That's a good point about eventually having to write it out, too.  I will do it in Julia.

_get_sources has the option to only read from a specified location, but at the end of the day it is reading a FITS catalog file that is indexed by run, camcol, and field, just like the image files.  We can just read the whole thing.

[2015-07-05 21:32] rgiordan commented on #37
Done with e7e8f76da4404ecb8d133ce3601808deb0054f41.

[2015-07-05 21:32] #37 closed, assigned to rgiordan

[2015-07-12 02:27] rgiordan commented on #32
This is done in https://github.com/jeff-regier/Celeste.jl/pull/39, though for now I am just pre-computing the whole thing.  We are currently definitely CPU bound, not memory bound.  It will not be hard to do something different later if we find that we need to.

[2015-07-12 02:27] #32 closed, assigned to rgiordan

[2015-07-12 02:28] rgiordan commented on #4
This is done in https://github.com/jeff-regier/Celeste.jl/pull/39 .

[2015-07-12 02:28] #4 closed, assigned to rgiordan

[2015-07-12 02:28] rgiordan commented on #27
Any progress on this?  It will be Hessian time soon.

[2015-07-12 02:31] rgiordan opened #41 "Add unit tests and factor the SDSS utilities into a separate package."
There are at least a couple people in the AMPLab who want to use some of this functionality.

[2015-07-12 02:31] rgiordan opened #42 "Fit the PSF with least squares rather than EM."

[2015-07-12 02:32] rgiordan opened #43 "Create a utility for downloading all the necessary FITS files."

[2015-07-12 04:44] jeff-regier commented on #42
What happened with EM?

[2015-07-12 05:06] jeff-regier commented on #27
Unfortunately I haven't had time, and next week looks hectic too. Flying back from icml today, 3 lectures to plan, trying to detect a syntheric asteroid by Thursday.....Do you mind taking this over? I don't want to slow you down, and it's not a major change, though unit tests probably need to be modified too.

[2015-07-12 07:01] rgiordan commented on #42
See the thread on the inference mailing list.  EM is minimizing log loss, when what we really care about is squared error.

[2015-07-12 07:07] rgiordan commented on #27
Can you explain again why it is that you think the lognormal will be better
than the gamma?

On Sat, Jul 11, 2015 at 10:06 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-07-12 19:49] jeff-regier commented on #27
I fit a gamma and a log normal to a large catalog of stars (resp galaxies).
The fit log normal matches the empirical distribution quite well, at many
quantiles. The gamma really doesn't model the tails well as all, e.g. a
value that is the 99% quantile for the gamma is an 80% quantile for the
empirical cdf. (I don't remember the numbers exactly but that's the scale
of the misfit.)

Also a histogra

[2015-07-12 19:52] rgiordan commented on #27
Sorry if I'm confused, but the lognormal is supposed to be describing the
posterior uncertainty about the brightness for a single body, not the
marginal distribution of brightness across celestial bodies, right?  I'm
not clear what the marginal distribution has to do with the best posterior
approximation.

On Sun, Jul 12, 2015 at 12:49 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-07-12 19:57] jeff-regier commented on #27
No, I was referring to the prior. But if you make the prior lognormal you
probably want to make the variational distribution lognormal too.

On Sun, Jul 12, 2015, 12:52 PM Ryan notifications@github.com wrote:

[2015-07-12 20:10] rgiordan commented on #27
Ok, that makes sense.  I will add this to my plate.  On a related note,
could I ask you to put comments and documentation in KL.jl?

On Sun, Jul 12, 2015 at 12:57 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-07-12 20:16] jeff-regier commented on #27
Yes, will do

On Sun, Jul 12, 2015, 1:10 PM Ryan notifications@github.com wrote:

[2015-07-16 02:23] rgiordan opened #45 "Write unit tests for the SDSS functions"

[2015-07-25 00:13] rgiordan opened #47 "Mysterious NLOpt Failures"
I came across an NLOpt failure using the free transform and spend a lot of the afternoon tracking it down with autodiff.  I managed to find a discrepancy between the hand-coded and forward autodiff derivatives.  The discrepancy was actually due to a numerical error in the autodiff, not in in the hand-coded derivatives.  However, the source of this error could manifest in subtle ways in the numeric

[2015-07-25 03:21] rgiordan opened #48 "VB Solution is not invariant to a"
The test `test_elbo_invariance_to_a()` actually contains an extremely particular set of parameters that allow the test to pass, and the VB solution is not at all invariant to `a` in general.  For example, changing the fluxes in the unit test to 1000 rather than 100 times the sample fluxes causes `test_elbo_invariance_to_a()` to fail.

For an even more dramatic failure, try fitting only the star pa

[2015-07-25 16:51] rgiordan commented on #48
If you have a Poisson model for a single pixel, and you observe x electrons, then the MLE for y_1 in

[code]

is of course not invariant to a_1 -- per our intuition, the optimal value for a_1 y_1 will be the one that fits the residual between x and a_2 y_2.  The VB solution shouldn't be qualitatively different from this.  Can you explain again why you think it should be separable?

[2015-07-27 03:44] jeff-regier commented on #47
Might the numerical stability get better with #27 ?

On Fri, Jul 24, 2015, 5:13 PM Ryan notifications@github.com wrote:

[2015-07-27 03:55] jeff-regier commented on #48
The a_1 and a_2 shouldn't show up inside the log in our objective function,
unless you're using them to denote binary random variables.  Once you apply
iterated expectations the parameter to the Bernoulli star/galaxy parameter
(also called a) only appears outside the log.

On Sat, Jul 25, 2015, 9:51 AM Ryan notifications@github.com wrote:

[2015-08-03 00:35] rgiordan commented on #48
Got it, this makes sense, thanks for explaining (again).  That doesn't change the fact that (surely due to the Taylor series approximation to the log) the objective isn't invariant to a.

This might be making the optimization harder.  A possible solution would be the mixture of poissons we discussed a few months ago, though I'm not sure it's necessary.

[2015-08-03 01:28] jeff-regier commented on #48
I could be mistaken but I think the Taylor expansion only changes the
objective function for S > 1. Block coordinate ascent, with 1 block of star
params, 1 block of galaxy params, and one block of the other params, might
work well, at least when S = 1. And if it does, making it work for S > 1
seems doable.

On Sun, Aug 2, 2015, 5:35 PM Ryan notifications@github.com wrote:

[2015-08-05 16:31] rgiordan commented on #48
Why do you think it only holds for S=1?  For one thing, the poisson rate is a sum of quantities even for a single source.  For, another, consider the example that started this thread, which uses a single source.

[2015-08-06 20:09] jeff-regier commented on #48
Ah, I was mistaken about it holding for S=1. Rather, when S=1, and without background noise (background is effectively another light source), the taylor approximation isn't necessary to make E [ log F_{nbm} ] tractable.

[2015-08-13 22:21] jeff-regier commented on #27
I added documentation to KL.jl and committed it. Sorry for the delay.

[2015-08-23 02:53] rgiordan commented on #10
Done in https://github.com/jeff-regier/Celeste.jl/pull/51

[2015-08-23 02:53] #10 closed, assigned to rgiordan

[2015-08-25 17:02] rgiordan commented on #41
Jeff, I haven't split a git repo into two before.  I'm inclined to simply
- Create a completely new repo in which I add copies of the current files (so no git history)
- git rm the files from Celeste.jl (maintaining the history in Celeste.jl though the files are gone)
  Any objections to this?

[2015-08-25 17:03] rgiordan commented on #45
Done in https://github.com/jeff-regier/Celeste.jl/pull/52

[2015-08-25 17:03] #45 closed, assigned to rgiordan

[2015-08-25 17:04] rgiordan commented on #43
Done in https://github.com/jeff-regier/Celeste.jl/pull/52

[2015-08-25 17:04] #43 closed, assigned to rgiordan

[2015-08-25 17:48] jeff-regier commented on #41
Splitting off the SDSS stuff sounds reasonable. Might some of the commands
in the post below do what you're talking about in a more principled way
than deleting and adding?

http://stackoverflow.com/questions/359424/detach-subdirectory-into-separate-git-repository

On Tue, Aug 25, 2015, 10:02 AM Ryan notifications@github.com wrote:

[2015-08-26 23:05] rgiordan commented on #41
Done in https://github.com/jeff-regier/Celeste.jl/pull/53.  Still haven't pruned the package tree yet, though.

[2015-08-26 23:05] #41 closed, assigned to rgiordan

[2015-08-31 01:05] rgiordan commented on #36
Done in https://github.com/jeff-regier/Celeste.jl/pull/55.

[2015-08-31 01:05] #36 closed, assigned to rgiordan

[2015-08-31 02:45] jeff-regier commented on #42
OK to close this? (Is this something included in SloanDigitalSkySurvey.jl?)

[2015-08-31 02:50] rgiordan commented on #42
Not until a new issue is opened on the sdss package at least...

On Sun, Aug 30, 2015, 19:45 Jeffrey Regier notifications@github.com wrote:

[2015-09-06 20:50] jeff-regier commented on #48
Should we delete `test_elbo_invariance_to_a()` and close the issue? If that taylor approximation is any good (and it seems to be) the global optimum should be pretty close to invariant to `a`, but I guess it doesn't follow that the local optimum returned by l-bfgs will be roughly invariant to `a` too. (Is that our current understanding of this issue?)

[2015-09-06 20:52] jeff-regier opened #57 "Optimize with trust regions and Optim.jl"

[2015-09-06 20:54] jeff-regier commented on #47
Can we close the issue since we're switching to Optim.jl and trust regions?

[2015-09-08 23:10] rgiordan commented on #48
I think that's a good idea.  The tests are currently disabled.  Next pull request I'll delete those tests and close this issue.

[2015-09-08 23:10] rgiordan commented on #47
Let's leave it open until we actually make the switch.  The trust region approach isn't working perfectly yet.

[2015-09-11 23:47] rgiordan opened #58 "Make SkyPatch objects static"
As dynamic objects they contain too much information that needs to be internally consistent, and deviations are hard to debug.

[2015-09-15 23:49] rgiordan commented on #58
Resolved in https://github.com/jeff-regier/Celeste.jl/pull/59

[2015-09-15 23:49] #58 closed, assigned to rgiordan

[2015-09-15 23:51] rgiordan commented on #47
I'm going to close this. The trust region is working as well as BFGS on real images.  I haven't explored switching all the tests over to the trust region yet -- I suspect on the tests' toy problems TR might be slower, and I suspect that will be a fussy change -- but this is no longer a blocking issue for real applications.

[2015-09-15 23:51] #47 closed, assigned to rgiordan

[2015-09-15 23:53] rgiordan commented on #48
Tests deleted in https://github.com/jeff-regier/Celeste.jl/pull/59

[2015-09-15 23:53] #48 closed, assigned to nobody

[2015-09-15 23:53] rgiordan commented on #57
Done in https://github.com/jeff-regier/Celeste.jl/pull/59.

[2015-09-15 23:53] #57 closed, assigned to rgiordan

[2015-09-18 00:03] jeff-regier opened #60 "add neural network-based galaxy model to celeste"

[2015-09-18 00:26] #25 closed, assigned to jeff-regier

[2015-09-18 00:26] #26 closed, assigned to jeff-regier

[2015-09-25 06:37] jeff-regier opened #65 "switch to Julia 0.4"

[2015-09-29 02:25] jeff-regier opened #67 "restore performance of benchmark.jl"
Looks like `bin/benchmark.jl` is taking 6x as long now to compute the elbo as it did at the end of May. Deepcopy operations may be to blame:

[code]

[2015-09-29 22:04] rgiordan commented on #67
Testing the whole setup process is an unfair comparison -- in order to run on actual images, much more pre-processing must be done.  We should compare the amount of time to compute the ELBO.

Still, last I checked, the elbo evaluation had indeed slowed down.  The only deepcopy is in the addition of sensitive floats, which should only happen per tile.  If that's in fact the problem then it's an eas

[2015-09-29 22:15] jeff-regier commented on #67
It's just tests the speed of evaluating the ELBO. Certainly that's not the
only thing that matters---perhaps I should rename it "benchmark_elbo.jl".

On Tue, Sep 29, 2015 at 3:04 PM Ryan notifications@github.com wrote:

[2015-09-29 22:19] rgiordan commented on #67
As-is, the profiler profiles the whole thing, right?  Is that what you
attached here?  Easy enough to change.

So it used to be 20 seconds?

On Tue, Sep 29, 2015 at 3:15 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-09-29 22:26] rgiordan commented on #67
It would probably be helpful for me if the two of us went through this together sometime.  I ran the profiler myself, and if I'm reading it right the deepcopy operations indeed only cost about 5% of the total operation time.  It's not immediately obvious to me where to look next, and I know you have a lot more insight into this kind of thing than I do.

[2015-09-29 22:33] rgiordan commented on #67
So the bulk of the computation is still in `accum_galaxy_pos!` and `accum_star_pos!`.  The only change since May to those functions is that we now have

[code]

This is to change the location derivatives from pixel to world coordinates, which you didn't have to do before because you were just using stamps.  I guess I assumed that the compiler would optimize away these extra assignments which I add

[2015-09-30 00:17] rgiordan commented on #67
That turns out to make a difference, getting the elbo down to about 90 seconds.  Still looking to see where the rest might have gone.

[2015-09-30 00:53] rgiordan commented on #67
Jeff, could you take a look at the diff and see if you have any ideas?

`git difftool 34bb28d improve_benchmark src/ElboDeriv.jl`

Looking at the profiles, each still spends the bulk of its time in `accum_pixel_source_stats`, which are not too much changed except for the jacobian, which is unavoidable.  The different numeric type arguments don't make any difference since each type is compiled sepa

[2015-09-30 04:57] jeff-regier commented on #67
That's might understanding---each types get compiled separately. I should verify that the benchmark script hasn't changed substantially since the run at the end of May. I'll look into that tomorrow. If the Jacobian is getting calculated now, that could explain some of it. I didn't realize the deepcopy's were only taking a small fraction of the time---they just caught my eye when I was sending the

[2015-09-30 05:53] jeff-regier commented on #67
No substantive changes to the benchmark script that I see. Both generate blobs of images containing 100 sources, 1000x1000 pixels. I timed elbo evaluations for both after running the elbo once first, so as now to count time spend compiling the code (or to record memory use by the compiler).

May 27:

[code]

Now

[code]

Memory use is almost 10x higher now, so that's the problem. I've seen high me

[2015-10-02 01:01] rgiordan commented on #67
The remainder of the difference after the last two pulls is indeed entirely due to the memory allocation to do the reduce in the @parallel loop.  I stand corrected!  I'm surprised that something that occurs only once per tile is so expensive.

I'll look into darrays to start, it'll be good for me to learn about them anyway.

[2015-10-02 01:06] rgiordan commented on #67
Fixed with https://github.com/jeff-regier/Celeste.jl/pull/72

[2015-10-02 01:06] #67 closed, assigned to rgiordan

[2015-10-02 01:07] rgiordan opened #73 "Memory-efficient parallel tile computation"

[2015-10-02 01:34] jeff-regier commented on #67
Using darrays doesn't strike me as a very promising research direction...
Are you still aiming for VI workshop paper? Not a very promising dev
direction either---darrays only solve the problem of distributing the data,
not "reducing" the output of each worker. Threading is a lot more promising
but likely too experimental right now.

On Thu, Oct 1, 2015 at 6:06 PM Ryan notifications@github.com wrot

[2015-10-04 19:29] jeff-regier opened #74 "banish NLopt from our codebase"
...and replace it with the new trust-region-based method.

Benefits:
- Fixes the unit tests, which are failing now on Travis-CI because of some random NLopt problem
- Reuses the existing unit tests to validate the new Hessian-based way of optimizing
- I can finish #16 pretty quickly once we can set `D > 2`. The model should work much better once color doesn't misfit the data so badly.
- I can fini

[2015-10-04 20:23] rgiordan commented on #74
SGTM, but remind me what this has to do with D > 2?  Does that give the NLOpt failure more often for some weird reason?

[2015-10-04 21:05] jeff-regier commented on #74
I thought Celeste with NLopt only worked for `D == 2`, where D is the
number of mixture components of the color prior. That was the case back in
February at least. Are all the calls to NLopt now going through the
transform module by default, so that we can use any number of mixture
components (and have mixing weights constrained to sum to 1)?

On Sun, Oct 4, 2015 at 1:23 PM Ryan notifications@gith

[2015-10-04 21:19] rgiordan commented on #74
Yep, everything goes through transform now.

On Sun, Oct 4, 2015 at 2:05 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-10-16 00:07] #65 closed, assigned to jeff-regier

[2015-10-16 00:42] jeff-regier commented on #2
Hi @rgiordan , OK if we close this issue? I recall that for now you're setting the patch sizes conservatively. In the  `dat/sample_field` data all the sources look pretty far apart, except for one pair. Are there sources except for this pair that have overlapping patches? If not, the patch sizes are probably good enough as is.

[2015-10-19 07:18] rgiordan commented on #73
Done in https://github.com/jeff-regier/Celeste.jl/pull/77

[2015-10-19 07:18] #73 closed, assigned to rgiordan

[2015-10-19 07:19] rgiordan commented on #15
I'm assigning myself this for the task of hard-coding the actual Hessian, not just the diagonal.

[2015-10-19 07:21] rgiordan commented on #2
I'd like to leave this open for now.  What we have is a first step, but is ridiculously conservative and probably has pretty detrimental performance implications.  There are probably big gains to doing this right, and it is not currently done right.

[2015-10-24 06:08] rgiordan commented on #74
It's not quite banished, but with https://github.com/jeff-regier/Celeste.jl/pull/79 I think it's close enough.

[2015-10-24 06:08] #74 closed, assigned to rgiordan

[2015-11-11 22:48] jeff-regier opened #82 "fetch subsets of SDSS"
To run Celeste.jl on the whole SDSS dataset, we need a function that each task can call to fetch just the relevant parts of the dataset. As input, this function takes a task id and I guess the total number of tasks. It returns
1. a subset of the astronomical objects (stars and galaxies) in existing catalogs for this task to optimize,
2. all the "tiles'' (a.k.a. "super-pixels"---subimages that are

[2015-11-12 17:48] rgiordan commented on #82
This is a pretty good description.

Concretely, we need to transform the FITS files into Celeste-readable data structures.  I think it makes sense to do this as a pre-processing step since it's a little time-intensive and we should avoid doing it redundantly.

Concretely, before optimizing the model, we currently need to run `bin/preprocess_image.jl` on FITS files that have been downloaded for a g

[2015-11-12 17:49] rgiordan commented on #82
I'll also add that right now the whole `Polygons.jl` stuff is probably unnecessary complication.  I'll assign myself an issue to get rid of it and do it more simply.

[2015-11-12 17:53] rgiordan opened #83 "Get rid of Polygons.jl"
`Polygons.jl` is for finding the intersection of a circle with an arbitrary polygon.  That's how you need to match sources to tiles if you do it in world coordinates.

Note that the WCS mapping takes world circles to pixel coordinate ellipses, but that tiles are pixel coordinate tiled squares.  It will be much easier to get a conservative mapping from source to tile by mapping a world circle to a

[2015-11-13 23:58] rgiordan opened #84 "Use HDF5 rather than JLD"

[2015-11-14 00:28] rgiordan opened #85 "Convert ElboDeriv to use a linear array of tiles rather than a 2d array of tiles."
This will make it easier to create tiled blobs that contain only the data needed for a particular source and save passing around a lot of data.

[2015-11-15 21:41] jeff-regier opened #87 "rasterized psf"
Modeling the PSF in Celeste with rasterized "eigenimages" rather than a mixture-of-Gaussians. Use cubic or lanzos interpolation.

Advantages:
- More accurate---and we've heard from Dustin via David that the mixture of Gaussians doesn't  fit well.
- Faster to convert from the existing SDSS PSF format to a rasterized image than to fit a mixture of Gaussians.

At first, use the eigenimages (`RawPSF`)

[2015-11-15 21:50] jeff-regier commented on #82
On second thought, maybe the function should return a collection of sub-images rather than "tiles"---tiles are kind of a Celeste abstraction. This function should be general.

Seems like SciDB and MongoDB are the leading candidates for a place to store the data. Both support spatial indexing. I think we want that functionality.

[2015-11-16 04:24] rgiordan commented on #27
Could you also please comment up `gen_priors.jl`, too, particularly what sort of catalog file you expect `catalog.fits` to be?  (It seems easier to just ask you than to guess and chase stuff around.)

Also, could you say what's going on at line 46 of `Modelinit.jl`?  Where are those magic numbers from?  Why aren't you using the fit values?

[2015-11-16 06:44] jeff-regier commented on #27
Line 46 is blank in master. Right now the magic numbers on line 45 are the parameters for gamma priors on star and galaxy brightnesses. If you use `r_fit1` and `r_fit2` instead the magic numbers, you'll be using the log normal parameters rather than the gamma dist parameters.

I'll look over `gen_priors.jl` and add comments. I think you'd just need to know the format for `r_fit1` and `r_fit2`. The

[2015-11-16 06:50] rgiordan commented on #27
Yeah, but what catalog fits file do you run gen_priors.jl on?

On Sun, Nov 15, 2015 at 10:44 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-11-16 06:53] rgiordan commented on #87
The work for the Hessian will be very similar whether we do it this way or not, so we can investigate this in parallel.

[2015-11-16 06:53] jeff-regier commented on #27
Dustin sent me those catalogs awhile ago. They're big files, hundreds of megabytes. They might contain a lot of the objects contained in SDSS. You don't have them? They had names like `stars.fits` and `gals.fits`. Shall I share them with you through Dropbox?

A few notes on variables loaded in ModelInit.jl: `r_fit1` is for stars, and `r_fit2` is for galaxies. Each is a `2 x D` matrix---1 column pe

[2015-11-16 06:56] rgiordan commented on #82
Cool, let's plan to look into those database options.  You definitely need more than the Celeste `ImageTile` object.  The `preprocess_image.jl` file is probably the best reference for exactly what you do need.  Indexing the DB by (RA, DEC) would be a good idea, though indexing by (RUN, CAMCOL, FIELD) will also do, since we have the modestly sized `window_flist.fits` which maps between these two.

[2015-11-16 07:51] rgiordan commented on #27
Ah, no, I don't have them.  I'd like to, though.  I only have 400MB free on
my (non-paid) DropBox account, but I can accept them one at a time if
they're each smaller than that.

On Sun, Nov 15, 2015 at 10:53 PM, Jeffrey Regier notifications@github.com
wrote:

[2015-11-16 17:43] jeff-regier commented on #27
These links will expire, but for now you can get the catalogs here:

http://tempsend.com/85F7A1C8E6
http://tempsend.com/1DDE5A99BC

On Sun, Nov 15, 2015 at 11:51 PM Ryan notifications@github.com wrote:

[2015-11-16 18:02] rgiordan commented on #27
Done in https://github.com/jeff-regier/Celeste.jl/pull/88.

[2015-11-16 18:02] #27 closed, assigned to rgiordan

[2015-11-16 23:35] rgiordan commented on #15
Just curious, Jeff, do you have thoughts about what kind of data structure would be best for the Hessian object inside the `SensitiveFloat`?  You know much more about the performance of different julia data types than I do.

I'm planning to treat the Hessian of the brightness (G in the derivations) differently from the Hessian of the ELBO, because the Hessian of G is only nonzero within a source.

[2015-11-16 23:45] jeff-regier commented on #15
How about `H::Vector{Matrix{Float64}}`? The outer vector has one entry per
source. Each inner matrix is roughly 30x30, a dense matrix that stores the
block of the Hessian corresponding to a particular source.

An alternative is Array{Float64, 3}, but this is worse because until Julia
0.5 `H[:,:,s]` copies rather than returns a view without copying.

Another alternative is a sparse matrix. That's n

[2015-11-16 23:54] rgiordan commented on #15
Cool, good to know.  I had been using Array{Float64, 3} but I didn't realize that problem with copying.  I'll do Vector{Matrix{Float64}}.

Could I also ask you to comment up the parameter stuff starting around line 400 of `CelesteTypes.jl`?  I'm considering writing generic tools for taking functions of `SensitiveFloat`s.  To do that I will have to be able to define a `SensitiveFloat` of arbitrary

[2015-11-17 18:44] jeff-regier commented on #15
Hey Ryan, I'll add some comments but I can't get to it today. That block of
metaprogramming didn't turn out to be a slick as I'd hoped: you should feel
free to modify/delete it as you see fit. My aim was to use the type system
in Julia to control how different types of derivatives related to each
other, without any run time penalty, but now I think there must have been a
better way

On Mon, Nov 16

[2015-11-24 00:14] rgiordan opened #90 "Replace test stamps with images having a non-trivial WCS"
All the test images in `Synthetic.jl` use either an identity WCS or a symmetric one.  For testing purposes, we should replace them all with an actual asymmetric WCS.

[2015-11-29 05:52] rgiordan opened #92 "Use the BrightnessParams type for E_l_a and E_ll_a"

[2015-12-05 01:53] jeff-regier opened #93 "Remove GSL.jl dependency"
It won't compile easily on NERSC, and it's less accurate than ForwardDiff.jl anyway.

[2015-12-05 23:36] jeff-regier opened #94 "Remove NLopt from REQUIRE file (?)"
We've still have NLopt in the REQUIRE file, but presumably it would be easier to deploy our code on NERSC with fewer dependencies, and installing NLopt.jl takes compiling some C code.

@rgiordan , you were saying we still need NLopt for a couple of unit tests, right? Are those tests essential? If this is a problem with negative curvature, might the trust region method have the same problems on the

[2015-12-06 01:32] jeff-regier opened #95 "Script to evaluate Celeste on a single frame"
Through pre-processing, transform the SDSS dataset into "tasks", 1 per known astronomical object. The tasks are bundled into JLD files. Each bulkan/brick gets its own JLD file. For each astronomical object, the corresponding task contains everything necessary for processing that object, including
- the tiles/pixels relevant to it
- the parameters for this astronomical object from an existing SDSS

[2015-12-07 14:28] rgiordan commented on #94
The problems come up in unit tests that optimize only one variable (e.g. a) while keeping all others fixed.   TR methods can't handle problems that have /only/ positive eigenvalues, and that's only happening here because we're just looking at one variable.  The actual images will not have this problem.  Maybe these tests are not essential, certainly not in the short-run.  You can see easily see wh

[2015-12-07 14:29] rgiordan commented on #84
I'm going to close this -- per our discussion, JLD is just a flavor of HDF5 with Julia type metadata.

[2015-12-07 14:29] #84 closed, assigned to rgiordan

[2015-12-07 14:37] rgiordan commented on #95
You'll also want to include a local linearized world coordinate system.

I think we may need to treat large galaxies differently in more ways than subsampling.  Take Andromeda, for example, and imagine hypothetically that we had enough computing power to actually fit the ELBO jointly for it and all the celestial objects in front of it.  Our galaxy model is pretty primitive, and would not capture m

[2015-12-07 16:40] jeff-regier commented on #94
Great, let's remove then then. Down with dependencies!

On Mon, Dec 7, 2015, 6:28 AM Ryan notifications@github.com wrote:

[2015-12-09 01:59] jeff-regier commented on #95
I added linearized world coordinates to the list.

It's hard to predict exactly how large galaxies are going to give us trouble. How about we first try to optimize each object independently, with the data encoded as described in this issue, to get familiar with running at scale and to see where the model make mistakes? @rcthomas , is encoding the data this way something you might be up for working

[2015-12-10 18:09] rcthomas commented on #95
Oops sorry I missed the mention.  Yeah I think I can help with this; let's talk about it at the meeting tomorrow.

[2015-12-12 19:37] rgiordan commented on #95
I put the current version of relevant files in `bin/staging`.

[2015-12-17 22:36] rgiordan commented on #93
For an example of how to deal with the `ModelParams` problem, check out the Hessian tests in the `exact_hessian` branch.  I don't recall why I didn't write it as a `convert` method -- maybe I had a hard time figuring out what the right parent type would be for the `ForwardDiff` types.

[2015-12-18 02:21] rgiordan commented on #83
Done in https://github.com/jeff-regier/Celeste.jl/pull/97

[2015-12-18 02:21] #83 closed, assigned to rgiordan

[2015-12-18 02:22] rgiordan commented on #2
This problem is fixed with the `trim_source_tiles` function, which is a better solution anyway.

[2015-12-18 02:22] #2 closed, assigned to rgiordan

[2015-12-18 02:27] jeff-regier opened #98 "remove Docile and Compat---remnants of Julia v"0.3""

[2015-12-18 20:28] #93 closed, assigned to jeff-regier

[2015-12-18 20:28] #94 closed, assigned to nobody

[2015-12-18 20:28] #98 closed, assigned to jeff-regier

[2015-12-18 21:06] jeff-regier opened #100 "Parallelize ELBO calculation across pixels ?"

[2015-12-19 20:06] rgiordan commented on #100
It occurred to me that another parallelization strategy could be to define a task as a single trust region step.  If the optimization hasn't converged yet, then the step-taking task would add another task to the queue.  In addition to the image and model parameters, tasks would also have to save some intermediate optimization information, but I made a point of factorizing all the needed informatio

[2015-12-22 21:27] jeff-regier opened #101 "Allow sources to turn off"
Currently each source is either a star or a galaxy. We should allow for a third possibility: that a source doesn't contribute any photons to any image. Then we can initialize the model with a different source on each "peak" in each image, without certainty that each corresponds to a different star or galaxy.

Alternatively, we could iteratively add sources, based on the current residual images. Bu

[2016-01-22 03:30] rgiordan commented on #92
Done in 33ae77af052d9cf7cc6134a1340e4dd53000e453

[2016-01-22 03:30] #92 closed, assigned to rgiordan

[2016-01-22 03:30] rgiordan commented on #15
Done in 33ae77af052d9cf7cc6134a1340e4dd53000e453.

_whew_

[2016-01-22 03:30] #15 closed, assigned to rgiordan

[2016-01-22 03:32] rgiordan commented on #14
NB: #103 implemented support for the necessary multi-dimensional simplexes.

[2016-01-29 21:29] jeff-regier opened #104 "performance regression according to benchmark_elbo.jl"
The script `benchmark.jl` now takes 165 seconds to complete. Earlier it took 24 seconds to compute the same result. The amount of memory allocated during it's execution increased 10 fold during this time.

A new function named `combine_sfs!` alone consumes 78 seconds, so that's a good place to start investigating. The implementation of `combine_sfs!` looks efficient, so presumably the problem is w

[2016-01-29 23:10] rgiordan commented on #104
I don't think it's getting called unnecessarily, but there are ways that we could combine certain steps to reduce the number of calls or make certain calls more efficient.  Incidentally, it is only used a handful of times, as can be confirmed by a text search.
- Instead of calculating var_G directly (as was done in the previous code), I calculate E[G^2] and E[G], and then use a call to combine_sfs

[2016-01-29 23:31] rgiordan commented on #104
PS I'll take a moment to take a stab at the first one, which is the most complicated.  It shouldn't take very long.

[2016-01-30 01:43] rgiordan commented on #104
Ok, calculating the variance directly probably isn't going to save much time.  There is no clean way to avoid doing something much like combine_sfs! for combining the Hessian, since each term in the variance Hessian requires terms from the E_G Hessian in a way that isn't easy to include in the current loop through sources.  That means another loop through the Hessians afterwards, which is exactly

[2016-01-30 01:45] rgiordan commented on #104
It occurs to me, though, that julia might not be smart about multiplying by 0.  If each multiplication by 0 is actually performing a floating point calculation, then there are a lot of savings to be made in the variance calculation and adding E_G.

I'm going to try that very quickly and then cut myself off -- I've already spent too much time on this for pre-quals weeks.  :)

[2016-01-30 01:46] jeff-regier commented on #104
I observed, as you suggested, that the run time of the new code scales
superlinearly in the number of sources. I tried the same test with the old
code and observed linear scaling. Could any of the issues you mentioned
also explain that?

This might be a long shot, but one idea: in the old code, for each tile,
the derivatives only have entries for the local sources, not all the
sources in the field

[2016-01-30 01:51] rgiordan commented on #104
All the calculations up to E_G and var_G should be aware of the active sources in the tile, and only do the necessary calculations.  However, it does appear that when combining these to get the ELBO, combine_sfs! is not aware which sources have nonzero derivatives.  Again, perhaps a lot of unnecessary multiplies by zero.

[2016-01-30 02:13] rgiordan commented on #104
Ok, doing special-case versions of combine_sfs! for adding the elbo log term and calculating the variance does make a modest difference.  I'll make a pull request once Travis passes.

Given this, I'll bet you're right, that we could also get gains by only updating elbo derivatives for sources that are active in the current tile.  (That's can't be the whole story, though -- it's still slower, even

[2016-01-30 02:14] rgiordan commented on #104
It's in your court for a while.

[2016-01-30 02:17] rgiordan commented on #104
One other thing comes to mind -- for some reason, at some point, I decided to keep all the fsXm values in a big vector (elbo_vars.fsXm_vec) rather than overwriting them as I go.  That is not necessary, and something that is related to the number of sources.  I don't see how it could be causing a problem but I wanted to point it out.

[2016-02-01 23:49] rgiordan commented on #42
Moved to https://github.com/rgiordan/SloanDigitalSkySurvey.jl/issues/3

[2016-02-01 23:49] #42 closed, assigned to rgiordan

[2016-02-03 17:51] #34 closed, assigned to jeff-regier

[2016-02-03 23:29] rgiordan opened #108 "Clean up process image script"

[2016-02-04 17:33] jeff-regier commented on #104
The last commit where `benchmark_elbo.jl` runs fast has the comment `Notes` and the first commit where it's slow has the comment `Setting up debugging for comparsion with the old version`. About 20 commits in between that can't be tested easily. @rgiordan -- Any suggestions for what commits in between are most likely to introduce the slowdown? I could use some leads....

[2016-02-04 18:08] rgiordan commented on #104
You're not going to be able to test it this way.  I rewrote ElboDeriv.jl
from the inside out, starting with the Hessians for the brightness and
bivariate normal calculations, and then working out to the full ELBO.  As
soon as I started down that path, the end product, elbo_likelihood(),
wouldn't run until I was finished.

Instead, maybe compare sub-components of the ELBO one at a time.  That
could

[2016-02-04 18:10] rgiordan commented on #104
after coffee => during coffee.  :)  In commit 86018b, take a look at
test/compare_celeste_versions.jl.

On Thu, Feb 4, 2016 at 10:08 AM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-02-04 18:30] jeff-regier commented on #95
Hi @kbarbary -- I've been thinking a bit more about how this issue. You might start by consolidating a lot of the scripts in the `bin` directory into a single script the supports the following kind of sample usage:

[code]

Stages might include "preprocess" (generates a JLD file of Task objects), "infer" (runs OptimizeElbo for each Task, and outputting a fits catalog) , and "score" (compares outpu

[2016-02-04 18:37] rgiordan commented on #95
To reiterate a point that Rollin made now that Kyle is in the room, running
tractor in NERSC is tricky, so we should plan on something like
download_fits_files.py having been run to get all the necessary files in
one place before julia gets invoked.

On Thu, Feb 4, 2016 at 10:30 AM, Jeffrey Regier notifications@github.com
wrote:

[2016-02-04 18:42] jeff-regier commented on #95
The fits files are mostly (all?) already in the cosmo repository at
NERSC---we shouldn't need to download anything.

On Thu, Feb 4, 2016 at 10:38 AM Ryan notifications@github.com wrote:

[2016-02-04 18:44] rcthomas commented on #95
I have mapped the files that you are getting via download_fits_files.py to where they are on the NERSC global file system.  See e.g. from Cori:

   /global/projecta/projectdirs/sdss/data/sdss/dr8/boss/photoObj/301/1000/1

This corresponds to looking here:

[code]

Note also that data.sdss3.org is sdss3data.lbl.gov; so this is where they are serving the data up from that you are getting with downlo

[2016-02-04 19:02] kbarbary commented on #95
Thanks for the additional pointers.

Off-topic: It's not the highest priority, but I started working on a Julia replacement for the tractor bits, based on the Python [astroquery.sdss](https://github.com/astropy/astroquery/tree/master/astroquery/sdss) module. This module is BSD-licensed, so vastly preferred over porting tractor, which is GPL (and therefore incompatible with the Celeste and SloanDig

[2016-02-04 19:11] rcthomas commented on #95
Ryan's point is that tractor doesn't have to be a "dependency" at all.  You generate the inputs once as csv and you are done.  That simplifies the problem a lot.  There is a setup that works on Cori under hpcports, you run the setup once and store that as file data.

[2016-02-04 19:19] jeff-regier commented on #95
Were we using tractor for something other than downloading fits files?
Because that's a pretty heavyweight way to go, to put it mildly, for
downloading fits files---you can just fetch those files with wget from
sdss3.org, right? Or was tractor doing something else?

On Thu, Feb 4, 2016 at 11:11 AM R. C. Thomas notifications@github.com
wrote:

[2016-02-04 19:22] rcthomas commented on #95
It's a bit more than wget but it's a limited subset of functionality.

[2016-02-08 00:37] #5 closed, assigned to rgiordan

[2016-02-08 00:37] #6 closed, assigned to nobody

[2016-02-08 00:37] #22 closed, assigned to jeff-regier

[2016-02-08 00:37] #60 closed, assigned to jeff-regier

[2016-02-08 00:37] #82 closed, assigned to nobody

[2016-02-08 03:57] rgiordan commented on #108
Done in https://github.com/jeff-regier/Celeste.jl/pull/111

[2016-02-08 03:57] #108 closed, assigned to rgiordan

[2016-02-08 03:58] rgiordan commented on #85
I'm going to close this, since I think https://github.com/jeff-regier/Celeste.jl/pull/111 is good enough for this purpose.

[2016-02-08 03:58] #85 closed, assigned to rgiordan

[2016-02-11 01:01] rgiordan opened #112 "Declare types explicitly in ElboDeriv.jl"
@kpamnany

I just noticed that elbo_vars_array is being passed as an argument without an explicit type declaration.  We've had performance problems in the past without explicit type specifications, and it's good style to declare types in any case.

(I can fix this myself later, but I'm making an issue so we don't forget.)

[2016-02-11 20:45] jeff-regier opened #114 "script to pre-process one frame"
Through pre-processing, transform an SDSS frame into "tasks", 1 per known astronomical object. The tasks are bundled into JLD files. Each frame gets its own JLD file. For each astronomical object, the corresponding task contains everything necessary for processing that object, including
- the tiles/pixels relevant to it
- the parameters for this astronomical object from an existing SDSS catalog (f

[2016-02-11 20:45] jeff-regier opened #115 "script to infer a catalog for one pre-processed frame"
Sample usage:

[code]

The scripts below shouldn't be necessary once this issue is closed:
- process_image.jl
- infer_and_cache.jl

If pixel-level parallelism works out, we probably don't need `run_celeste.jl` to process multiple tasks at once to close this issue.

[2016-02-11 20:45] jeff-regier opened #116 "script to evaluate the accuracy of one frame's catalog"
Sample usage:

[code]

The following scripts shouldn't be necessary once this issue is closed:
- score_cached.jl
- score_sd.jl

We want to get "ground truth" from a coadd run on CasJobs. Sample CasJobs query:

[code]

But we probably want to filter out astronomical objects with certain flags set, e.g. `dbo.fPhotoFlags('BAD_MOVING_FIT')`.

We also need data from a non-coadd run, as a baseline to co

[2016-02-11 20:45] jeff-regier opened #117 "handle large galaxies efficiently"
I think we want to do this either by downsampling them, or perhaps @rgiordan wants to try applying "[Sub-Sampled Newton Methods](http://arxiv.org/abs/1601.04737)" to them.

[2016-02-11 20:46] jeff-regier commented on #95
This issue is getting unwieldy, so I broke this up into a multiple issues (#114, #115, #116, and #117).

[2016-02-11 20:46] #95 closed, assigned to kbarbary

[2016-02-11 21:50] jeff-regier opened #118 "Migrate to Julia 0.5-dev"
That is, add "nightly" to .travis.yml without causing tests to fail.

[2016-02-11 21:51] jeff-regier commented on #118
@kpamnany How did you get Celeste running on Julia 0.5? I get a segmentation fault when I try running `benchmark_elbo_with_hessian.jl`.

[code]

[2016-02-11 23:59] kpamnany commented on #118
Not sure why.

[code]

[2016-02-12 00:00] kpamnany commented on #118
You can try to set `Threaded=false` in `ElboDeriv.jl`, or `export JULIA_NUM_THREADS=1` before running to rule out threads as the problem. Beyond that... hmm.

[2016-02-12 00:13] jeff-regier commented on #118
It still fails with `Threaded=false` :-(  The errors look like they have
something to do with ForwardDiff.jl, but the unit tests for ForwardDiff.jl
all pass.

[code]

On Thu, Feb 11, 2016 at 4:00 PM kpamnany notifications@github.com wrote:

[2016-02-12 00:24] kpamnany commented on #118
Any idea why it says `line 155` below? It's a 29 line file...

[code]

[2016-02-12 00:30] jeff-regier commented on #118
No, that's kind of weird. It's a 29 line file on my machine too.

[code]

I've seen this kind of thing before though, where Julia reports the line number from a different file. It may be unrelated to the seg fault, well, except in that it makes it the seg fault harder to locate.

[2016-02-12 00:35] kpamnany commented on #118
Can try to get a backtrace through gdb?

[2016-02-12 00:36] jeff-regier commented on #118
I just checked out the version of Julia you're using (`Julia Version 0.5.0-dev+2313`;  commit e22c20c). That "fixes" the problem. The problem reappears when I switch back to the newer version of Julia. I suggest we don't upgrade our versions of Julia 0.5 for awhile....

[2016-02-12 01:10] kpamnany commented on #118
lol... sounds good to me.

[2016-02-12 01:19] kbarbary commented on #95
Thanks, those smaller more detailed issues are helpful. Now that the WCS dust has settled, I can move on to working on those.

[2016-02-15 20:14] jeff-regier opened #120 "fit PSF with least squares"
rather than using GaussianMixtures.jl to perform EM

[2016-02-15 23:16] kbarbary commented on #120
It seems like the run-time performance of GaussianMixtures is not actually that bad, but the compile performance is a killer. For example, after loading a `RawPSFComponents` and running

[code]

I see

[code]

I would guess that this could be improved in GaussianMixtures. (It is already using precompilation though.)

[2016-02-15 23:28] jeff-regier commented on #120
Yep, this issue is more about fitting the PSF well rather than speed. It's probably easiest for @rgiordan to work on this since he wrote the PSF code.

[2016-02-15 23:31] kbarbary commented on #114
We've significantly reduced the runtime of preprocessing with #119 and #121 and hopefully will continue to do that with #120. Is it still necessary to run preprocessing as a separate step? Having to serialize all relevant structures to disk and back adds significant mental and runtime overhead; I hope we can avoid it if at all possible.

[2016-02-15 23:33] kbarbary commented on #120
Ah, I see. Well, hopefully this will also give us a bit more control over performance and we can have the best of both worlds.

[2016-02-15 23:38] jeff-regier commented on #114
Sure, we can merge the preprocessing stage and the processing. Probably whatever design lets us close issue #116 soonest is best.

[2016-02-15 23:40] rgiordan commented on #114
That sounds good to me!  Those pre-processing improvements look pretty
sweet, and the less data wrangling the better.

On Mon, Feb 15, 2016 at 3:38 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-02-15 23:46] kbarbary commented on #114
Great. I'm going to close this and focus on #115 and #116. We can reopen if we decide that preprocessing is actually necessary for some reason.

[2016-02-15 23:46] #114 closed, assigned to kbarbary

[2016-02-22 00:01] rgiordan commented on #104
@kpamnany @kbarbary @jeff-regier

I'm digging into the strangely large amount of memory allocation in the ELBO, and I have a fundamental julia question.  I dug into which functions are allocating the most memory and put a @time macro in front of each line.  (The --track-allocation flag does not seem to be working in julia 0.5.)  No line stands out as allocating an unusual amount of memory, but eve

[2016-02-22 00:30] jeff-regier commented on #104
It might be because `x` is a mutable global variable. The two function
calls below use the same amount of memory, even though only one assigns to
`x[1]` .

[code]

On Sun, Feb 21, 2016 at 4:01 PM Ryan notifications@github.com wrote:

[2016-02-22 00:31] kbarbary commented on #104
Sounds like there's a type instability. Use `@code_typed` or `@code_warntype` with the function call and make sure there's no `Any` or `ANY`s present.

The allocation you're seeing in the last example is a result of running in the REPL or perhaps being in global scope (where type inference doesn't work so well). If you put `@time` inside a function, there's no allocation:

[code]

[2016-02-22 00:39] rgiordan commented on #104
Cool, thank you.  I used `track-allocation` with julia 0.4 and indeed there is no allocation in the function for many of the lines, so you're probably right an artifact of running in the REPL or the global scope.

[2016-02-22 17:57] kpamnany commented on #104
The count reported by `@time` includes allocations made by codegen so running any new code for the first time _could_ show non-zero allocations.

Line 494 appears to be a reasonably complicated expression, which could be requiring some temporaries to be allocated. Kyle's suggestion to look at the typed AST is probably best to see what's going on.

[2016-02-24 18:43] jeff-regier opened #123 "use all relevant images for each source"
Modify `celeste.jl` to process just light source specified by an objid. Sample usage:

[code]

For the `infer` stage, `celeste.jl` should use all the relevant images from any run except for the coadd runs (106 and 206).

[2016-02-24 19:46] rgiordan commented on #123
Don't you think we should reference objects by the objid rather than their coordinates?

[2016-02-24 19:50] jeff-regier commented on #123
That might be better. Does objid uniquely identify the object, or does the same object get assigned different objids if it appears in multiple runs?

[2016-02-24 19:56] rgiordan commented on #123
It gets assigned different objids if it appears on multiple runs.  (But it
gets assigned different locations, too.)  For every part of the sky,
there's a "principal" frame (I think that's what it's called), which is
used to choose the "canonical" objids for that section of the sky.  We
should just use the objids from the principal image as unique identifiers.

We should compile a list of redundant

[2016-02-24 20:33] jeff-regier commented on #123
OK, I updated the description

[2016-02-24 22:32] rgiordan commented on #104
All right, I'm still a little confused about what's going on.  The `@time` macro is giving results that are inconsistent with --track-allocation.

When I run `@time` on `elbo_likelihood`, I see about 87MB of allocation.

[code]

(This is also true if I wrap it in a function that defines local verisons of tiled_blob and mp.)  When I look at the memory allocated by each of the sub-calls as measured

[2016-02-24 22:59] rgiordan commented on #104
One more mystery.  With the help of the (very useful) `@code_warntype`, I've managed to get rid of every line of memory allocation in `combine_pixel_sources!` and `populate_fsm_vecs!` as measured by `--track_allocation` except for one: the first line of `add_sources_sf!`, which is simply adding the values of the sensitive floats:

`sf_all.v[1] = sf_all.v[1] + sf_s.v[1]`

No matter what I do, this

[2016-02-24 23:06] rgiordan commented on #104
BTW, I just noticed that I have been using `--track-allocation=all` rather than `--track-allocation=user`, which seems to be giving different results than above.  So maybe that's the cause of the mystery...

[2016-02-25 01:55] rgiordan commented on #104
Also relevant: https://github.com/JuliaLang/julia/issues/11753

[2016-02-25 02:26] rgiordan commented on #104
I'm still seeing some very strange things.  The julia docs seem pretty clear -- using `all` with track allocation should track strictly more memory allocation than `user`, which it demonstrably does not.

Also, the memory allocation results are showing large amounts of allocation on lines that cannot be allocating memory.  They are the first line of a function that gets called a lot (not from the

[2016-02-25 02:47] jeff-regier commented on #104
I haven't used the memory profiler extensively, maybe @kbarbary or @kpamnany will weigh in?

Once you've ruled out type issues with `@code_warntype`, you might consider making a really simple test case, like a 1-pixel image with 1 light source, and comparing its runtime to the version tagged "0.0.1".

[2016-02-25 03:34] kbarbary commented on #104
Sounds like you're just hitting the bug you linked with track-allocation mis-attributing?

If you push what you've done so far, I would be interested in taking a look in detail.

[2016-02-25 03:38] rgiordan commented on #104
Ok, after a painstaking manual search I have tracked down what is going on -- assigning variables implicitly in arguments, including setting keyword arguments (!), has its memory allocation assigned to the line associated with the first actual computation that gets executed after the function gets called.  In this case was further down the stack than the function with implicitly defined arguments.

[2016-02-25 19:43] rgiordan commented on #104
By the way, I have probability theory until about 3pm, then I'll work on this until I leave for MX this evening.  I've pushed to `hessian_performance_julia4`, though I think I now have a handle on what's going on.

[2016-02-26 03:03] rgiordan commented on #112
Done in https://github.com/jeff-regier/Celeste.jl/pull/124

[2016-02-26 03:03] #112 closed, assigned to rgiordan

[2016-02-26 03:03] rgiordan commented on #104
Done in https://github.com/jeff-regier/Celeste.jl/pull/124

[2016-02-26 16:32] #104 closed, assigned to nobody

[2016-02-26 19:01] jeff-regier opened #125 "Understand benchmark_elbo.jl run time"
We expect it to take ~25 seconds, but after the Hessian commit, it takes around ~125 seconds. Because performance with `S=1` matters most now, this issue isn't too pressing. But it would be good to understand what's happening.

[2016-02-26 19:52] jeff-regier commented on #123
@rgiordan -- Did you know of a way to look up the catalog entry given an objid?  (This came up during the conference call.) The catalog files names contain run-camcol-field, right? Is there a table somewhere that maps objid to run-camcol-field?

[2016-02-26 20:42] rcthomas commented on #123
Looking at this right now in fact; we can build this catalog easily just iterating over files on disk.  In the dr8 directory I count about 1e6 FITS files.  I can read about 11 files per second with a quick Python script I put together; this would be about 1 day straight to pull out the objid's.  I can easily parallelize this or do it using a faster API or both.  More info later.

[2016-02-26 21:12] jeff-regier commented on #116
@kbarbary I committed a simplified and commented version of `score_cached.jl`. (I meant to submit this as a PR but accidentally committed it to master.) The parts you'd need to modify to make it work with full fields rather than stamps are flagged with "TODO". Let me know if you want to meet to talk about it at 3:30 today.

[2016-02-28 20:47] rcthomas commented on #123
Here is an update.  Each source has a unique thingId, which may correspond to multiple detections, each with its own objID.  I am building an index from thingId to the list of all associated objIds.  I am doing this using the flat files we have on disk, processing them in parallel, as there isn't enough space under myDB on CasJobs to do this.

[2016-02-29 19:04] jeff-regier opened #126 "unbox parameter outside bounds"
About 30 minutes after starting

[code]

I got the following error:

[code]

[2016-03-01 01:02] kbarbary commented on #123
I think it would be better to make a patch of sky (e.g., spanning some range in RA and Dec) the unit, rather than a single source.

Advantages:
- This is a better infrastructure for the future when we might want to:
  - incorporate our own source detection, rather than initializing from a pre-existing catalog
  - fit multiple overlapping sources simultaneously
- This will automatically group nearb

[2016-03-01 01:12] jeff-regier commented on #123
Sounds good to me

On Mon, Feb 29, 2016 at 5:02 PM Kyle Barbary notifications@github.com
wrote:

[2016-03-01 01:30] rcthomas commented on #123
My thoughts are this is depressing because I spent all weekend trying to build this index.

[2016-03-01 01:46] jeff-regier commented on #123
I'm not sure this changes whether we need a "thingId -> objid" map, though
we probably no longer need an "objid ->thingId" map.

Kyle, how are you linking objects now in score.jl, between primary and
coadd? Are you doing it by distance? Would joining on "thingId" be
preferable?

On Mon, Feb 29, 2016 at 5:30 PM R. C. Thomas notifications@github.com
wrote:

[2016-03-01 01:53] rgiordan commented on #123
I'm not convinced, but I'm also not quite clear on what exactly you're proposing, Kyle.  Are you just arguing what the input flags for `celeste.jl` should be, or are you proposing some deeper reorganization of the data?

If I understand right (and please correct me if I don't -- I've been out of the loop) the previous plan was to build a table with rows of:

`thingId (index)`
`list of image files`

[2016-03-01 03:17] kbarbary commented on #123
@jeff-regier Currently in scoring, primary is matched to celeste based on objid, and celeste is matched to coadd by distance. If ThingID is universally available as a source identifier, that would be better, but matching by distance is not too bad.

[2016-03-01 03:24] kbarbary commented on #123
@rgiordan My understanding of the current plan is that `celeste.jl` gets a _single_ source, not a list. It then has to load (or at least open) the entire image, even though its only going to work on a single source. So if there are 800 sources per image, you're opening that image 800 times.

If instead you give `celeste.jl` a list of sources that are near each other, then that would be mostly equi

[2016-03-01 03:42] rgiordan commented on #123
-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Feb 29, 2016 7:24 PM, "Kyle Barbary" notifications@github.com wrote:

OK, I see.  It seems to me that the bookkeeping is cleaner if you pass in a
list of sources, which may or may not have been chosen in advance to be
close to one another depending on the needs of the scheduler, than to bake
that logic into celeste.jl.  Flexi

[2016-03-01 04:00] rcthomas commented on #123
My thinking is that for SC16 we should just move ahead with giving a list of sources and figuring out the scheduling ahead of time.

Just to update everyone I managed to extract the data we need from the files on disk over the weekend, it was about 16 days of CPU time.  The next step is to construct the actual thingId index from that, and I have a schema for HDF5.  I'll just proceed under the assu

[2016-03-01 05:32] kbarbary commented on #123
Yeah lets discuss this later when we get closer to implementing the top level. The main immediate thing is that we need to generalize the code from operating on 5 images (ugriz) to N images. Or is this already possible and I haven't read deep enough into the code?

[2016-03-01 16:02] jeff-regier commented on #123
Does anyone know how thingIds get generated? Is it a more sophisticated
process than what Kyle is doing, matching objects by distance?

On Mon, Feb 29, 2016, 9:32 PM Kyle Barbary notifications@github.com wrote:

[2016-03-01 16:12] rcthomas commented on #123
Yep, it's this process:

https://www.sdss3.org/dr8/algorithms/resolve.php

[2016-03-01 16:13] jeff-regier commented on #123
Nothing in the Celeste statistical model is specific to 1 image in each
band. Some of the code could be, but I think that's easily fixed, if it's
even a problem. Let me know if you have problems and I'll fix it quickly

On Tue, Mar 1, 2016, 8:02 AM Jeffrey Regier regier@gmail.com wrote:

[2016-03-01 17:48] rgiordan commented on #123
Yes, I think that if you give ElboDeriv.elbo a tiled blob with more than
five images and a ModelParams object with patches and tile_sources whose
dimensions match the TiledBlob, it should work.  (Though I haven't tried
it.)  The initialization in initialize_celeste will have to be changed more
substantially, though.

On Tue, Mar 1, 2016 at 8:13 AM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-01 18:09] rgiordan commented on #126
That appears to be a catalog entry with negative star flux, and the default minimum flux in ModelInit is not consistent with the bounds in the transform.  There's a TODO on line 81 in ModelInit.jl to sync those up -- sounds like the time to do that is now.  :)  In the meantime, you can just skip that source or other ones that are too dim.

[2016-03-01 22:04] jeff-regier commented on #120
Getting rid of GaussianMixtures will also help us migrate to Julia 0.5. I'm not sure how to work though those errors otherwise. @rgiordan -- Are you / will you work on this?

[2016-03-01 22:07] jeff-regier commented on #126
It looks like bounds in Transform.jl are from back from when we modeled brightness as a gamma distribution, while the minimum value allowed for ModelInit.jl is appropriate for a log normal. I'll adjust the lower bound in Transform.jl and leave ModelInit.jl as is.

[2016-03-01 23:47] rgiordan commented on #120
Yes, I will work on this after the parameter bounds fix.

On Tue, Mar 1, 2016 at 2:04 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-02 02:14] rgiordan opened #130 "Make sure all the necessary sources are included"
@kbarbary , the way `celeste.jl` divides up the celestial objects isn't correct -- you can't partition the catalog entries by slicing the array.  If two objects are in the same tile, then you need to make sure both the objects are in the model params object.

One correct way to do it is something like the block of code in `limit_to_object_data` where I populate the `relevant_sources` vector.

[2016-03-02 19:40] kbarbary commented on #130
Good to know. The easy fix is to take out the partitioning, or just not use `--part=` on the command line. I'll keep this in mind when working on #123.

[2016-03-03 01:23] rgiordan commented on #120
Any objections to taking Celeste down to two PSF components (per Dustin's having done so for DECaLS)?

[2016-03-03 03:41] jeff-regier commented on #120
Up to you. I'm a little concerned about the fit not working well with 3
components, since we know Dustin did it that way, and that's the way that
got good results before. But a 50% speed up would be nice, and since
neither 2 or 3 are great we might as well take the speed up

On Wed, Mar 2, 2016, 8:23 PM Ryan notifications@github.com wrote:

[2016-03-03 05:56] rgiordan commented on #120
Cool.  When I make this change I'll set it up so the number of PSF components is not hard-coded, so it will be easier to go back and forth if needed.

[2016-03-03 16:52] rgiordan commented on #120
Another reason not to worry is that two components fit with LS are still a better fit (in terms of LS) than three fit with EM.

[2016-03-04 03:12] jeff-regier opened #133 "Dtree.jl for source level parallelism"
Source-level parallelism using @kpamnany 's `Dtree.jl` library on Cori.

A bash script to run dtree:

[code]

Save that in `dtreebench.sl` and run it from the login node with:

[code]

[2016-03-04 06:09] rgiordan commented on #126
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/129

[2016-03-04 06:09] #126 closed, assigned to nobody

[2016-03-05 20:26] jeff-regier commented on #133
@rgiordan -- Will we still need `CelesteCluster.jl`, `submit_darrays_to_cluster.sh`, `submit_process_image_to_cluster.sh`, and `distributed_benchmark.jl` once this issue is done?  (Can they be deleted along with the PR that closes this issue?)

[2016-03-05 21:12] kbarbary commented on #133
Yeah I was wondering about `CelesteCluster.jl` when working on submodules.

[2016-03-06 00:11] #118 closed, assigned to jeff-regier

[2016-03-07 00:39] jeff-regier opened #136 "Scalable Newton's method"
On each node of the supercomputer, we may want to run Newton's method on all the sources in a roughly field-size region of the sky, rather than optimizing each source in isolation. That would give us more work to divide among the threads on each node.

We'd want to store the Hessian as a sparse matrix. Probably the built-in sparse matrix format would be fast enough, even though it ignores the bloc

[2016-03-07 03:53] rgiordan commented on #136
Just FYI, the current trust region method (which I took out of Nocedal and Wright) requires repeated inverse hessian-gradient products of (H + \lambda I) for a range of candidate lambda, as well as an eigenvalue decomposition.

I know there's work being done on scalable trust region methods (I don't know much about it), but going to a much larger Hessian may be a bit more complicated than just dro

[2016-03-07 15:54] jeff-regier commented on #136
Could we use just the top few eigenvalues and corresponding eigenvectors, or do we need the whole EVD? The latter could be a problem. I'm less worried about the hessian-gradient products because cg really is fast, and the run time now is dominated by evaluating the objective function, not the optimization. I'll take a look at Nocedal and Wright.

What articles have you seen about scalable trust re

[2016-03-07 17:40] rgiordan commented on #136
You actually need the minimum eigenvalue, iirc.  We should chat about this
in person sometime.  I think it's certainly possible with the whole sparse
Hessian, but if the only reason to do it is to use threads, then I'm not
sure it will be worth it.

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 7, 2016 7:54 AM, "Jeffrey Regier" notifications@github.com wrote:

[2016-03-07 18:11] jeff-regier commented on #136
Finding the minimum eigenvalue in linear time shouldn't be a big deal: inverse iterations and lanzos method. Let's find time to discuss this in person if @kpamnany reports that pixel-level parallelism doesn't work well.

[2016-03-07 18:32] rgiordan commented on #136
What about sources that don't interact with other sources but whose sub
problems converge quickly?  Will you keep evaluating their Hessians while
the slowest source converges?

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 7, 2016 10:11 AM, "Jeffrey Regier" notifications@github.com wrote:

[2016-03-07 22:35] jeff-regier commented on #136
We may want to partition the light sources into connected components during preprocessing, where sources are "connected" if they interact. The larger components may still benefit from multithreaded Newton's method

[2016-03-08 00:37] jeff-regier opened #138 "NaN in trust region code"
@rgiordan -- Any idea what's happening here? There's an "out of bounds" warning followed by NaN-valued gradients in iteration 2 (and thereafter). It looks like the problem predates your commit that enforces bound constraints.

[code]

[2016-03-08 00:58] jeff-regier opened #139 "load not defined in score_field at /home/jeff/.julia/v0.4/Celeste/src/api.jl:477"
[code]

[2016-03-08 01:12] rgiordan commented on #138
I'll take a look.  Have you checked the actual image?  Is it garbage or is
there something there?

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 7, 2016 4:37 PM, "Jeffrey Regier" notifications@github.com wrote:

[2016-03-08 01:28] jeff-regier commented on #138
I haven't checked, but it makes it through 2 iterations without NaNs, so I
doubt it's the image.

The problem seems to be pretty wide spread: most batches of 1% of a field
don't finish because of there error, at least in the run-camcol-field I'm
working with.

For example,

[code]

On Mon, Mar 7, 2016 at 5:12 PM Ryan notifications@github.com wrote:

[2016-03-08 01:33] rgiordan commented on #138
Its very first step is a crazy one, which points to a problem with the
image.  In my experience, Celeste does not handle ill-posed problems
gracefully.  And the catalog contains a fair number of non-objects (1%
sounds about right).  If the brightness is being corrected to be within the
transform bounds, this is probably one of them.

Could you send me steps to reproduce?

On Mon, Mar 7, 2016 at 5:

[2016-03-08 01:59] jeff-regier commented on #138
I just inadvertently committed a revised `test/data/Makefile` to master.
The upside to this is that if you pull the latest commit, you'll get a
Makefile you can use to recreate the problem:

Run `make` in `test/data`.

Then, in `bin`, run

[code]

That's all the steps.

I don't think there are circumstances where we'd want Celeste to return NaN
as the objective value...on a crazy image Celeste may

[2016-03-08 02:24] #115 closed, assigned to kbarbary

[2016-03-08 02:57] rgiordan commented on #138
Just FYI, the Makefile doesn't include that run, camcol, and field.

On Mon, Mar 7, 2016 at 5:59 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-08 02:58] jeff-regier commented on #116
@kbarbary  Would you add a unit test that calls `score_field` and `infer`? Maybe add a sample `reffile` to the testing data directory, containing 10 or 100 astronomical objects (just a few KB), for use with this test? Then test that 1) primary approximately matches coadd for each metric, 2) Celeste initialized with primary and optimized with `maxiters=0` also approximately matches coadd.

Also, wo

[2016-03-08 18:34] #139 closed, assigned to nobody

[2016-03-09 03:16] kbarbary commented on #125
I've been studying the code in ElboDeriv.jl and included files and I have a bit of unsolicited Julia advice. Feel free to ignore if you already know this, or if I'm forgetting something obvious here!

Most of the code seems to be written as functions that update some object, in order to avoid allocating memory. However, in some cases, the code can be rewritten in a more purely functional style wit

[2016-03-09 04:57] jeff-regier commented on #125
That seems like a good tip to improve the clarity of the code. But does the
approach you propose, when you do need to store the returned values, copy
the returned value an extra time: first to the stack, and then from the
stack to the heap? Or do both approaches write to the stack first?

On Tue, Mar 8, 2016, 7:16 PM Kyle Barbary notifications@github.com wrote:

[2016-03-09 05:17] rgiordan commented on #125
Always good to get advice!  If the answer to Jeff's question is "no", and
the variables don't get copied an extra time (and no memory gets allocated
for them within the function call) then this would indeed be an improvement.

I think most of the functions in ElboDeriv are in fact updating arrays,
though (either of hessians or gradients).

On Tue, Mar 8, 2016 at 7:16 PM, Kyle Barbary notifications

[2016-03-09 07:38] kbarbary commented on #125
Pretty sure there's no penalty for this. From http://stackoverflow.com/questions/12766534/cost-of-push-vs-mov-stack-vs-near-memory-and-the-overhead-of-function-calls ...

`code_native` is fun to look at:

[code]

I don't really read assembly, but as far as I can tell, everything is happening in registers on the CPU between the call to `rand3` and the assignment to the vector. This assembly is mini

[2016-03-09 08:12] rgiordan commented on #138
So I dug into it and this is a problem with a falsely discovered object in
the catalog.  The red band of the sky at the object location is attached --
it's just noise.

This object id is actually listed as having /negative/ flux in the
catalog.  Although I agree it would be nice if Celeste failed more
gracefully in cases like this, that requires some care, and in the meantime
we just shouldn't be

[2016-03-09 15:33] jeff-regier commented on #125
Cool, it looks like this is the way to go.

On Tue, Mar 8, 2016, 11:38 PM Kyle Barbary notifications@github.com wrote:

[2016-03-09 15:39] jeff-regier commented on #138
In a huge catalog there are always going to be some weird images that
differ from the model. So it sounds like you could be heading for a whole
series of hacks / quick fixes, if you try to screen out hard sources to fit
ahead of time, rather the making the objective function correct. (Shouldn't
the objective value always just have a real value?) Is it just that the
gradient is so large that it exc

[2016-03-09 17:49] rgiordan commented on #138
Yes, it's important to make it as robust as possible.

Yes, I think there are two big things that will make the objective function more correct -- a third, non-source, and getting rid of the log approximation (so that the model really represents images additively).  I think we should address these in the context of an actual celestial object that fails (please let me know when you find one; I'm su

[2016-03-09 20:37] rgiordan commented on #138
I propose limiting to objects with a max flux greater than at least 2.  I've rendered all such objects in the run / camcol / field you were looking at, and though some objects look like they may be in excess of the noise, it's also probably true that Celeste is too high-powered a tool for getting information out of them.  (I'll send the images in an email to Dustin shortly.)

The fact is, Celeste

[2016-03-09 20:47] jeff-regier commented on #138
OK, but let's leave this issue open then as a placeholder. We may need to
reorder some of the calculations for greater numerical stability.

On Wed, Mar 9, 2016 at 12:37 PM Ryan notifications@github.com wrote:

[2016-03-09 20:54] rgiordan commented on #138
Really, there are two separate issues:
- Celeste doesn't work with a crappy image, or when being ask to detect
  absence / presence of an object
- The code doesn't handle NaNs gracefully

The latter is much easier to handle than the former.  Let's close this one
and make these two different issues.

On Wed, Mar 9, 2016 at 12:47 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-09 21:08] jeff-regier commented on #138
I only meant for this issue to be about NaNs. Dealing with presence/absence is issue #101. Do you know what operation it is that first returns NaN? Is it an overflow thing? Often operations can be reordered to avoid overflows, e.g. divide a result before multiplying it by something big, not after.

[2016-03-09 21:12] rgiordan commented on #138
It is occurring in the trust region code, and no, I haven't dug into why
it's happening.  Sounds good, let's leave this open until someone does
that.  Perhaps the title of the issue could be changed to "NaN in trust
region code", since Celeste is not returning NaN gradients.

On Wed, Mar 9, 2016 at 1:08 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-09 23:56] rgiordan opened #142 "choose_patch_radius() is too conservative in some cases"
An example is

[code]

[2016-03-10 00:05] rgiordan opened #143 "Make multi-object initialization less redundant"
Right now, in order to efficiently run on one object at a time, we need run `initialize_celeste` twice -- once to get the tile_sources, and again to fit just the psfs that we're interested in.  This is unnecessary, and some minor tidying should be able to eliminate this redundancy.

[2016-03-10 02:09] rgiordan commented on #120
@jeff-regier , you use `GaussianMixtures` in `gen_priors.jl` (line 66).  Shall we just comment that out for now to get rid of the package quickly?

[2016-03-10 02:11] rgiordan commented on #120
Sorry, I take that back -- I think we can leave it in and simply remove `GaussianMixtures` from `REQUIRE` since `gen_priors.jl` is in bin.  It's bad form, but not too bad.

[2016-03-10 02:21] jeff-regier commented on #120
Yes, let's do that. We'll figure out what to do with gen_priors.jl another
time

On Wed, Mar 9, 2016, 6:11 PM Ryan notifications@github.com wrote:

[2016-03-10 02:30] #130 closed, assigned to kbarbary

[2016-03-10 16:49] jeff-regier opened #146 "assess model fit on real data"

[2016-03-11 20:09] rgiordan commented on #138
I'm still getting this error with objid `1237662226208063538` even with the two NM filter.  I probably just need to make Celeste robust to NaNs in the trust region code.

[2016-03-11 20:19] jeff-regier commented on #138
It's too bad julia doesn't have a debugger yet. You'll probably want to use
print statements to track down the line where the calculation goes bad, and
then do things like reordering the calculations for numerical stability,
storing values on the log scale, etc.

On Fri, Mar 11, 2016 at 12:09 PM Ryan notifications@github.com wrote:

[2016-03-14 19:14] rgiordan commented on #138
This was being caused by `Inf` values in `enforce_bounds!`, which was a shortsighted decision on my part.  I'll send a PR shortly.

[2016-03-14 19:45] rgiordan commented on #138
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/150

[2016-03-14 19:45] #138 closed, assigned to nobody

[2016-03-15 18:27] rgiordan opened #154 "Make default tile size not typemax(Int)"

[2016-03-16 15:56] jeff-regier opened #157 "Initialize without using existing catalogs"

[2016-03-16 16:00] jeff-regier opened #158 "Merge SloanDigitalSkySurvey.jl in Celeste.jl"

[2016-03-16 16:01] jeff-regier opened #159 "Remove stamps"

[2016-03-17 05:10] jeff-regier commented on #117
Also perhaps relevant: [Second Order Stochastic Optimization in Linear Time](http://arxiv.org/pdf/1602.03943v3.pdf)

[2016-03-19 22:49] rgiordan commented on #120
This is probably still too slow -- around a second to a second and a half per source on my computer.  About half the time is spent initializing  `BvnComponent`s, which I currently need to do for every pixel since it's immutable.  @jeff-regier , what do you think about making `BvnComponent` mutable?  What are the downsides?

[2016-03-19 23:01] jeff-regier commented on #120
I make things immutable by default but mutating it is going to make it go
noticeably faster, we should do that.

Why do you initialize BvnComponents every pixel? Do you mean that you
initialize it for every iteration of the optimization?

[2016-03-19 23:17] rgiordan commented on #120
Oh man, I did a dumb thing.  Yes, I can pull that out of the loop.  That will probably just fix this problem.  Sorry

[2016-03-19 23:24] rgiordan commented on #120
It's down to about 0.4 seconds per source.  Maybe re-scaling will make it faster, but otherwise this might have to do for now.

[2016-03-20 22:46] jeff-regier opened #167 "y coordinates out of bounds"
Is this a bug?

[code]

[2016-03-20 22:55] jeff-regier opened #168 "PosDefException from neton_trust_region.jl"
[code]

[2016-03-20 22:58] jeff-regier opened #169 "access to undefined reference"
[code]

[2016-03-20 23:06] kbarbary commented on #167
This is a check that the we're not interpolating outside the bounds where the sky is defined.

I'll have a look at the specific file later tonight (I'm headed to the airport right now). Its possible that it's a bug. Alternatively, SDSS intends that we should extrapolate past the defined grid. (Perhaps just by a pixel or two.)

[2016-03-20 23:07] rgiordan commented on #168
Is this the master branch, Jeff?

[2016-03-20 23:11] rgiordan commented on #168
PS I see this requires you to be on Cori.  Let me go see if I can log in -- I don't think I have.  If you can send a step to reproduce locally that will speed up my response time.

[2016-03-20 23:20] rgiordan commented on #168
How have you guys been running julia on Cori?

[2016-03-20 23:24] jeff-regier commented on #168
This is the single psf branch. I added `module load julia` to my
.bashrc.ext file

On Sun, Mar 20, 2016, 4:20 PM Ryan notifications@github.com wrote:

[2016-03-21 00:20] kbarbary commented on #167
The problem with this file is that the y coordinates in the sky go up to `186.56`, but the sky array has size `(256, 171)`. If I understand the SDSS sky scheme, the coordinates should be within the size of the sky array.

I could change `sky_interp` to extrapolate using a constant value, but it's not clear that this is not a problem with the file itself. Any SDSS documentation on interpreting the

[2016-03-21 00:35] rgiordan commented on #168
I'm currently blocked by needing FITSIO.jl on Cori, so if you could change
your permissions, Jeff, or send me a tarball of your Cori julia 0.4
directory, I can try to take a look.

On Sun, Mar 20, 2016 at 4:24 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-21 00:37] rgiordan commented on #167
The sky interpolation is documented in the frame FITS file:

http://data.sdss3.org/datamodel/files/BOSS_PHOTOOBJ/frames/RERUN/RUN/CAMCOL/frame.html

It says "There are cases at the end of runs where the y-size of ALLSKY is
less than 186, which requires one to extrapolate off the end of the
ALLSKYimage in the y-direction when using XINTERP and YINTERP. This
extrapolation should be a constant extrap

[2016-03-21 00:54] kbarbary commented on #167
Perfect, thanks Ryan! I'll fix the code appropriately, but maybe not until
tomorrow.

[2016-03-21 02:24] rcthomas commented on #168
If you do just `module load julia` at the command line on Cori you get 0.4.2.  If you do `module load julia/0.5.0-dev-2918` then you load the 0.5.0 commit we've been working on.

[2016-03-21 17:18] rgiordan commented on #168
It occurs to me that by "single psf branch" you might not mean the latest
in the PR.  There was a bug in the earlier PR that could cause this
problem, so take the latest.

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 20, 2016 4:24 PM, "Jeffrey Regier" notifications@github.com wrote:

[2016-03-21 17:48] jeff-regier commented on #168
I merged that PR last night. I can try recreating the problem now w master.
Is what's in master the latest code?

On Mon, Mar 21, 2016, 10:18 AM Ryan notifications@github.com wrote:

[2016-03-21 17:49] rgiordan commented on #168
My last PR was my latest work, yes.

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 21, 2016 10:48 AM, "Jeffrey Regier" notifications@github.com wrote:

[2016-03-21 18:10] jeff-regier commented on #168
I get the same error with master:

[code]

[2016-03-21 18:55] rgiordan commented on #168
Could you please add a verbose option to infer and found out what it's
processing?

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 21, 2016 11:12 AM, "Jeffrey Regier" notifications@github.com wrote:

[2016-03-21 19:04] jeff-regier commented on #168
I don't see a verbose flag in infer (or infer_nersc). You're talking about
infer in api.jl?

Are you having trouble recreating the problem? I get it consistently.

On Mon, Mar 21, 2016 at 11:55 AM Ryan notifications@github.com wrote:

[2016-03-21 19:05] jeff-regier commented on #168
Ah, I see a verbose flag in `maximize_f`. I'll set that.

[2016-03-21 19:24] jeff-regier commented on #168
I set verbose to true everywhere, but I don't see any new output.

[2016-03-21 19:44] rgiordan commented on #168
No, it's not in there.  I mentioned in another thread that if one of you
has some time to add a verbose option to infer that showed what object id,
and run camcol field you're on, it would be very helpful to me.  Could you
please add it?

[2016-03-21 20:33] jeff-regier commented on #168
I'm tied up with testing and implementing the scoring functions. I don't
have any special knowledge about the infer function. Can I leave this issue
to you?

[2016-03-21 20:48] rcthomas commented on #169
I've been able to get this error too.  When I run with 0.25 0.26 0.25 0.26 I wind up with one source (objid 1237666408442495787) and it fails on the same line.  Sorry, it's not run, camcol, field but it's pretty minimal to reproduce.

This is with v0.5 on Cori.

[2016-03-21 22:35] rgiordan commented on #168
This is being caused by trying to fit a PSF for an object that doesn't occur in the image.  Probably extrapolating the PSF model beyond the edges of the image is causing the PSF image to look kind of crazy.

Specifically, the failing object is
1237662226208063623 location (164.39681,    39.13884)
...which is being fit for a PSF in
run = 3840, camcol = 1, field = 70
...whose corners are (164.402, 3

[2016-03-21 22:46] rgiordan commented on #154
This was fixed in https://github.com/jeff-regier/Celeste.jl/pull/166

[2016-03-21 22:46] #154 closed, assigned to rgiordan

[2016-03-21 22:47] rgiordan commented on #143
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/164

[2016-03-21 22:47] #143 closed, assigned to rgiordan

[2016-03-21 23:07] rgiordan commented on #169
The cause of this is that `trim_source_tiles` has the number of bands hard-coded to five, and we're now using more than that number of images.

I'll put a fix into my last PR, but I'd like to assign this issue to @kbarbary until we have a multi-image unit test in place.

[2016-03-21 23:17] rgiordan commented on #168
Before we close this issue, please add a unit test for this as well.

[2016-03-22 02:49] rgiordan commented on #120
This is fast enough now, I think.

[2016-03-22 02:49] #120 closed, assigned to rgiordan

[2016-03-22 21:02] #167 closed, assigned to kbarbary

[2016-03-22 21:07] kbarbary commented on #168
For a given object, if the center falls (just) off the edge of an image, but the object's range of influence extends onto the image, will the image still be used for this object?

[2016-03-22 21:08] jeff-regier commented on #168
Yes, that's what we'd want to happen

[2016-03-22 21:15] kbarbary commented on #168
@jeff-regier I'm asking about what the _optimizer_ currently does, so that we can ensure that the PSF is fit for the things it uses. (I'm assuming the answer is "yes".)

[2016-03-22 21:22] rgiordan commented on #168
@kbarbary , the optimizer's behavior is determined by the contents of tile_sources, which is populated by Modelnit, so it's under your control.

Recall that tile_sources is an array with the same dimensions as your TiledBlob -- there's an outer index for fields (previously one to five, now one to five \* the number of frames), and an inner index for tiles.  The patches array has the same dimension

[2016-03-22 21:28] #158 closed, assigned to nobody

[2016-03-22 21:57] jeff-regier opened #173 "processing 0 sources in RA/Dec range"
@kbarbary Is this a bug? Inference gets run on zero sources, though I specified a pretty large bounding box, and 588 primary sources exceeded the brightness threshold.

[code]

[2016-03-22 21:59] kbarbary commented on #173
Did you copy-paste the command line correctly? Specifically, the arguments `0.0.5 0.7 0.7 .`

[2016-03-22 22:22] jeff-regier commented on #173
Oops, thanks.

[2016-03-22 22:22] #173 closed, assigned to kbarbary

[2016-03-22 22:25] kbarbary commented on #173
If you really typed this at the command line though, I would have expected an error immediately:

[code]

[2016-03-22 22:37] jeff-regier commented on #173
Oh, I must have copied the `0.5` incorrectly. I thought you were pointing out that I got the arguments in the wrong order.  I incorrectly ordered the arguments as `ra1 dec1 ra2 dec2`. (First one corner, then the other). But I should ordered them as  `ra1 ra2 dec1 dec2`.  The command below is running now:

[code]

@kpamnany  Running on edison seems to work. You might test your work there while cori

[2016-03-22 22:55] rcthomas commented on #173
Supposedly Cori will be back in 6 minutes, check the MOTD in case maintenance goes past the 4:00 time...

[2016-03-23 01:43] jeff-regier commented on #168
@rgiordan  I think this issue is still around. For `objid=1237662226208064362`, the error happens during iteration 14.

[code]

[2016-03-23 02:05] jeff-regier opened #175 "skip fields with score=0"
@kbarbary Would take a look at this when you have chance? I'm running infer on tall and narrow slice of sky here, that intersects two different stripes.

[code]

[2016-03-23 02:45] jeff-regier commented on #175
I'm finding some other regions this issue affects too:

[code]

Also

[code]

and

[code]

[2016-03-23 16:00] jeff-regier opened #177 "AssertionError in Transform.jl (NaNs?)"
@rgiordan This log is from a running with ---level=DEBUG but the particular source that caused the problem isn't mentioned. I see some NaN values in the gradient.

This region of the sky may be at the intersection of 4 fields. (It processes 20 bands before the crash.)

I'll post more information shortly...I'm running a lot of these tests and I seem to have misplaced the commands that generated thi

[2016-03-23 16:46] jeff-regier opened #178 "excessive PSF fitting"
Even though the bounding box specified is small (just 4 sources), a PSF is being fit a huge number of times...perhaps for every primary source?

[code]

The program hasn't finished running but it looks like it's already fit 74 PSFs:

[code]

Here `run30` contains the output. The regex `Iter 1$` occurs whenever a new optimization is begun. 74 seems way too high.

[2016-03-23 17:07] kbarbary commented on #178
Isn't the PSF fit separately for each image for each source? So you would expect more than 4 \* Nimages PSF fits.

[2016-03-23 17:13] rgiordan commented on #177
Just because the error was reported in the transform doesn't mean it is a
problem with the transform module.  It's very likely that the image is
corrupted or the source is too faint.

In any case, there is nothing to look into without knowing what source it
is.  In `api.jl`, there is a line

`info("processing source $s: objid= $(entry.objid)")`

Could you send the output of that line, as well as t

[2016-03-23 17:20] jeff-regier commented on #178
You're right, thanks, I didn't consider how many run-camcol-fields cover this region. There are 4 fields, each has 5 bands, and there are 4 sources. So up to 80 PSF fits are possible, if all 4 sources are imaged in all 4 fields.

[2016-03-23 17:20] #178 closed, assigned to nobody

[2016-03-23 17:36] jeff-regier commented on #177
Here's a longer excerpt from the end of the log. It's strange debug messages don't appear. I'm also showing the beginning of the log, which contains debug messages:

Beginning of log:

[code]

End of log:

[code]

[2016-03-23 17:45] jeff-regier commented on #177
It's fishy that the  "processing source..." message doesn't show up in the end of the log, though debug messages are showing up at the beginning. Let me try to recreate this problem before you spend time on it (unless you can guess what the problem is).

[2016-03-23 17:46] rgiordan commented on #177
Yeah, I have no idea.  Let me know if you can track it down to something
more specific.

On Wed, Mar 23, 2016 at 10:45 AM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-23 23:34] jeff-regier commented on #177
I'm able to recreate the issue now. This command generates it:

[code]

I see the INFO statement now, it was just earlier in the log than I expected.

[code]

[2016-03-23 23:45] jeff-regier commented on #177
Let me share the whole log with you. I'm confused by how much optimization appears to happen after the last INFO statement. It's as if multiple processes are writing to the same file, though I'm pretty sure they aren't. I'm going to try to recreate this with fewer sources.

[http://tempsend.com/6951B7F06D/5EE7/run23.log.gz](http://tempsend.com/6951B7F06D/5EE7/run23.log.gz)

[2016-03-24 17:22] jeff-regier commented on #175
According to Dustin, the problem is that, on these fields,  photo timed out and did not produce any objects. He suggests first checking the `window_flist.fits` file, for whether that field has a score=0, and cutting on that.

[2016-03-24 17:23] rgiordan commented on #177
You may consider just wrapping the optimization in a try-catch for now.

[2016-03-24 17:27] jeff-regier commented on #177
Yeah we could go the exception handling route. I was hoping it wouldn't come to that. The weird thing is when I run on subsets of the problematic region I can't recreate the error. So this issue may not be about any one source, but the sequence...a potentially much deeper bug. I'd be more inclined to use exceptions if we understood the problem and knew it was a rare special case.

The problem occu

[2016-03-24 17:47] rgiordan commented on #177
I agree.  But the best way to investigate may well be to get a catalog
which includes a small list of failed sources, the pattern of which we can
try to put together in retrospect.

On Thu, Mar 24, 2016 at 10:27 AM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-25 04:23] #168 closed, assigned to kbarbary

[2016-03-25 04:23] #169 closed, assigned to kbarbary

[2016-03-25 16:02] kpamnany opened #180 "Excessive memory utilization"
The instrumented `distributed` branch:

[code]

This will scale poorly because GC is serial.

[2016-03-25 17:55] jeff-regier commented on #175
The `window_flist.fits` file to use is in

[code]

[2016-03-28 22:42] kbarbary commented on #175
Why did you point to `/global/cscratch1/sd/jregier/celeste/fpm/7265-5/fpM-007265-z5-0030.fit`? I don't see anything wrong with that file or the associated photoObj file.

[2016-03-28 23:27] jeff-regier commented on #175
Sorry, I must have copied and pasted the wrong thing in that case.

[2016-03-29 00:47] rgiordan commented on #180
I'll run a profiler to see where the problem might be.

[2016-03-29 02:02] rgiordan commented on #180
There were a couple small easy changes which I put in https://github.com/jeff-regier/Celeste.jl/pull/184.  I think saving more memory allocation will require putting source brightness and bvn caches in elbo_vars and pulling elbo_vars out of ElboDeriv.jl and into the optimization type.  The result will be allocating all the memory for a source once at the beginning of the optimization step.  That'l

[2016-03-29 03:44] jeff-regier commented on #175
Unfortunately changing the list of fields doesn't seem to have fixed them problem. Now that the second hdu's format is checked, we get errors like

[code]

The error showed up pretty quickly when I ran

[code]

[2016-03-29 16:46] kbarbary commented on #175
Looks like this is coming from a different part of the code, but I'll have a more detailed look today.

[2016-03-29 21:19] kbarbary commented on #175
I couldn't reproduce this. Could it be a corrupt unzipped frame file? The logic for unzipping files to scratch is pretty simple: If you stop the unzip in the middle, the unzipped file might be created but incomplete. Then on the next run, the code thinks the unzipped file already exists (and assumes it is complete!) and doesn't try to re-unzip it.

If you can figure out what file the error is comi

[2016-03-30 00:45] jeff-regier opened #186 "star position is off"
Many objects' positions seem to be off. For the object with objid `1237663784734491542`, for example, Celeste reports its ra/dec as 0.556922/0.624469, but primary finds it at 0.557017/0.624494 . (Why does it move away from the initialization? )

The [Sky Server Navigation Tool](http://skyserver.sdss.org/dr12/en/tools/chart/navi.aspx) suggests Primary (and Photo on the coadd catalog) are right, and

[2016-03-30 02:11] rgiordan commented on #186
Yes, I can try to take a look at this.  I have some 205B to do but I'll
prioritize this when it's done.

On Tue, Mar 29, 2016 at 5:45 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-30 02:50] rgiordan commented on #186
This is a very dim object and I strongly suspect that the trim_source_tiles
function is being too conservative when it eliminates pixels.

I can think of two solutions, and we may want a combination.  One is to
make sure that at least a certain radius of pixels around the original
object are selected.  Another is to set the noise_fraction to be a function
of the brightness of the object.  The form

[2016-03-30 16:30] rgiordan commented on #186
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/187

[2016-03-30 16:30] #186 closed, assigned to rgiordan

[2016-03-30 20:40] jeff-regier opened #189 "flux way too high"
For objid 1237663784734490878 (frame 4263, run 5, field 119), the flux we predict is _way_ too high. I've seen this kind of thing happen before when we also predict that a galaxy is much larger than it actual is, but that isn't the case here.

Coadd and Celeste predict this object is a galaxy (Primary predicts "star" -- ha!). We claim the r band flux (if it's a galaxy) is 6959 nanomaggies but Coad

[2016-03-30 21:03] rgiordan commented on #189
I'm taking a look.

On Wed, Mar 30, 2016 at 1:40 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-30 21:32] rgiordan opened #190 "Normalizing the simplex can screw up the simplex_min in enforce_bounds!"

[2016-03-30 21:36] jeff-regier commented on #189
The way brightness was calculated for Coadd was a bit off. (Only the more prominent component, dev vs exp, was being used, but they should be summed.) So the true Coadd flux is 928, not 522. Still, much smaller than 6959.

[2016-03-30 22:06] rgiordan commented on #189
Strangely, I'm seeing Celeste doing something that looks like the right thing.  For example, in band three, Celeste's residual is much better than the catalog's residual (see images; also, the total absolute residual is smaller for Celeste).

![catalog_residual](https://cloud.githubusercontent.com/assets/4494910/14159109/f23f7e7a-f688-11e5-9d0b-cae82bfa805d.png)
![celeste_residual](https://cloud.g

[2016-03-30 22:12] rgiordan commented on #189
@jeff-regier ,

[2016-03-30 22:13] rgiordan commented on #189
Sorry, hit the wrong button.

[2016-03-30 22:39] rgiordan commented on #189
In this run / camcol /field, Celeste's very bright fit looks better in every band than the catalog.  Let me take a look at the coadds to see what's wrong.

[2016-03-30 22:42] rgiordan commented on #189
@jeff-regier , after taking a quick look at the infer stuff in `api.jl`, I think you could save me some time by telling me how to get the coadd images and catalogs for a particular object id.

[2016-03-30 23:21] jeff-regier commented on #189
Sure. The coadd catalogs from casjobs. (You can log in with your google
account.)

http://skyserver.sdss.org/casjobs/login.aspx

An sample SQL I use to load the catalogs is in our "doc" directory. It's
casjobs_query.sql

I haven't used the coadd images before. They're runs #106 and #206. They
might just be stored with the other image data.

On Wed, Mar 30, 2016 at 3:42 PM Ryan notifications@github

[2016-03-31 01:22] jeff-regier opened #191 "inaccurate galaxy angles"
Celeste appears to not be finding galaxy's angles very accurately. (Or else something is wrong with the score function.) Celeste is currently off by 45 degrees on average, while primary (and Celeste in the ICML paper) is off by about 20 degrees. (Random guessing is 90 degrees off.)

Consider objid = 1237663784734490990. It's a bright object. It's axis ratio is low enough that angle means something

[2016-03-31 01:56] jeff-regier commented on #146
The scores are starting to look reasonable, despite issues #189 and #191.

[code]

[2016-03-31 01:56] #146 closed, assigned to jeff-regier

[2016-03-31 06:29] rgiordan opened #193 "Calculate elbo and derivatives only for relevant sources"
Currently the bvn and brightness gets calculated for every source in `1:mp.S`, which is wasteful.

[2016-03-31 06:31] rgiordan commented on #146
Could you explain what this table is showing?

On Wed, Mar 30, 2016 at 6:56 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-31 16:22] jeff-regier commented on #146
It's basically the same table as in the ICML paper. I switched from flux to
magnitude. The results are computed on one field in stripe 82 now, rather
than stamps.

On Wed, Mar 30, 2016, 11:31 PM Ryan notifications@github.com wrote:

[2016-03-31 18:39] jeff-regier commented on #175
I can't recreate it either after deleting scratch

[2016-03-31 18:39] #175 closed, assigned to kbarbary

[2016-03-31 19:09] kpamnany opened #194 "Exception when multithreading sources loop"
On the `distributed` branch, running infer-box for 200.0, 200.05, 38.1, 38.15 shows:

[code]

[2016-03-31 19:25] kpamnany commented on #194
With JULIA_NUM_THREADS=8, it will sometimes segfault after this.

[2016-03-31 19:28] rgiordan commented on #194
Kiran, could you please send the whole trace (ideally with debug logging)?

[2016-03-31 19:47] kpamnany commented on #194
Please see `/global/cscratch1/sd/kpamnany/celeste_crash.log` on Cori. I terminated the run after seeing the error in there, so it isn't a start-to-finish log.

[2016-03-31 19:52] kpamnany commented on #194
It is difficult to tell which source is causing this because thread IDs aren't being displayed in any of these logging calls and there are 3 threads running concurrently. Hopefully you can figure out the state of each thread from the log.

[2016-03-31 19:54] jeff-regier commented on #194
I'll try running it without threads, for that region of the sky.

[2016-03-31 19:55] kpamnany commented on #194
I did that already, but the error doesn't show. It doesn't show with 2 threads either, which suggests a race condition that is triggered in the presence of sufficient parallelism.

[2016-03-31 19:56] kpamnany commented on #194
Please pull the `distributed` branch; I just pushed the (small) change to use threads on the sources loop rather than on the pixels.

[2016-03-31 20:14] jeff-regier commented on #194
So the exception is getting caught and logged, and then the program continues with the next source. But we don't even see that exception without threads, so presumably the original problem happens before the exception is thrown. I haven't encountered a MethodError before while running Celeste.

[2016-03-31 20:23] kpamnany commented on #194
Add more threads and it segfaults every so often after the exception. Also, I think something breaks in Julia because there are major slowdowns and warnings about SIMD, post-exception.

[2016-03-31 20:24] jeff-regier commented on #189
According to Dustin the error is with Coadd: the detection is saturated but it's saturated flag is not set. We need to filter out objects like this. I think the way to do this is to modify `load_primary` in `api.jl` so that it doesn't load saturated sources, or other sources with bad flags set. That way they'll be omitted for scoring latter in the code, when a match can't be found.

@kbarbary Do y

[2016-03-31 20:35] jeff-regier commented on #194
If it's a race condition, what resource might multiple threads be trying to
access? Aren't the the threads are operating pretty much independently one
they've been assigned sources to work on?

On Thu, Mar 31, 2016 at 1:23 PM kpamnany notifications@github.com wrote:

[2016-03-31 20:42] kpamnany commented on #194
That's the hard question, right? :) It's my understanding as well that since each thread has its own ModelParams, there should be no interaction between them.

[2016-03-31 20:51] jeff-regier commented on #194
A minimum working example of the problem would be helpful to have. Can the
problem be recreated without all the Dtree and Celeste code?

On Thu, Mar 31, 2016 at 1:42 PM kpamnany notifications@github.com wrote:

[2016-03-31 21:07] kpamnany commented on #194
Dtree is not involved; this is running single node. I'm not sure what you mean by without Celeste code... the threading happens on the loop in `infer()` in `src/api.jl`. Without threads, the problem doesn't occur.

[2016-03-31 21:16] kbarbary commented on #189
This seems non-essential for SC16 and I'm not going to be able to work on Celeste after that.

[2016-03-31 21:40] kpamnany commented on #180
#184 doesn't appear to have helped. On the `distributed` branch, yesterday I saw:

[code]

This is the largest percentage I've seen, but it is well over 20% of runtime, every time. I just ran it on `master`:
`
605.717740 seconds (1.58 G allocations: 136.645 GB, 20.36% gc time)
`
This final run was with `--track-allocation=user` (which is probably why it is much slower) and copied all the `.mem` fi

[2016-03-31 21:43] kpamnany commented on #194
Note that it is possible that the race is in a C library; perhaps one of the packages that Celeste is using? We may need to synchronize access to such a library (i.e. use a lock around calls) if we can figure out that one is the culprit.

[2016-03-31 21:53] rgiordan commented on #194
Ok, here might be the problem.  @kpamnany , the line with the error is 422 in `BivariateNormals.jl`:

[code]

In order to prevent allocating memory for `GalaxySigmaDerivs` for every star when that data structure isn't used at all, I just declared it constant and gave it to every star.  I'm not sure how julia handles constants like this, but I can imagine it causing problems somehow across threads.

[2016-03-31 21:55] rgiordan commented on #194
Try merging the branch `dont_allocate_constant_empty_sig_sf` and give it another go?

[2016-03-31 21:56] kpamnany commented on #194
It's a constant, which means it is read-only. You can share read-only data across threads. I can't imagine that it would be the problem, but I'll give it a try.

[2016-03-31 21:57] kpamnany commented on #194
Are the only changes in `BivariateNormals.jl`?

[2016-03-31 22:07] rgiordan commented on #191
I'll bet we're 90 degress off of the catalog's notion of "angle" in Celeste.  Check out these images from that 1237663784734490990 as Celeste sees them.  I will look into this.

![screenshot from 2016-03-31 15-05-52](https://cloud.githubusercontent.com/assets/4494910/14192393/495c9ce6-f752-11e5-94ed-40ee7f96f961.png)

Wouldn't random guessing be forty-five degrees off?

[2016-03-31 22:08] rgiordan commented on #194
Yes, just that one line.

-- Ryan.  Sent from a phone.  Nevertheless, all typos are deliberate.
On Mar 31, 2016 2:57 PM, "kpamnany" notifications@github.com wrote:

[2016-03-31 22:14] kpamnany commented on #194
Still see the error. Ran with 8 threads, logging level INFO: `/global/cscratch1/sd/kpamnany/no_empty_sig_sf.log`.

Note that the `MethodError` seems to happen only once. From comparing the two logs, the first 4 elements of the list in the error appear to be the same. Also, this seems to happen while sources 7 or 373 are being optimized.

[2016-03-31 22:33] jeff-regier commented on #191
You're right, 45 degrees off is random. 90 is the most possible.

And yeah I'm pretty sure it's 90 off, with perhaps one computing angles
clockwise and the other counterclockwise.

The problem may affect initialization too, not just scoring... I notice
some really big Newton steps away from the initial value, suggesting the
initialization could be off

On Thu, Mar 31, 2016, 3:07 PM Ryan notificati

[2016-03-31 22:34] kpamnany commented on #194
Ran it again. This time I logged a segfault with logging level DEBUG: `/global/cscratch1/sd/kpamnany/no_empty_sig_sf2.log`. In this log, source 373 isn't around, but again source 7 is being optimized. So I think it is safe to conclude that something about source 7 appears to be causing the problem.

[2016-03-31 22:36] rgiordan commented on #191
Yes, looking at this catalog image, it's clear that the initialization is off by 90 degrees.  Fixing this could result in a modest speedup, too.

[2016-03-31 22:51] rgiordan commented on #194
Sorry, I just looked more carefully and realized that the error in
BivarateNormals.jl was actually you interrupting Celeste. :(

On Thu, Mar 31, 2016 at 3:14 PM, kpamnany notifications@github.com wrote:

[2016-03-31 22:53] jeff-regier commented on #189
We've got to report some scientific results in the paper too. We don't need amazing performance, but we do need to maintain our lead over current system. I can do it though if you don't have time.

[2016-03-31 22:54] rgiordan commented on #194
A slightly long shot -- merge `set_type_of_vp_free` and try again?

On Thu, Mar 31, 2016 at 3:34 PM, kpamnany notifications@github.com wrote:

[2016-03-31 22:56] jeff-regier commented on #194
Is it the PSF fitting that's the problem, or the optimization? (Have you
tried running it with only the PSF fitting commented in?)

On Thu, Mar 31, 2016 at 3:51 PM Ryan notifications@github.com wrote:

[2016-03-31 22:58] jeff-regier commented on #194
Kiran, What command are you using to launch the job? Do you want me to try
recreating the problem with various parts of the code commented out, to
figure out what part of the code is problematic?

On Thu, Mar 31, 2016 at 3:56 PM Jeffrey Regier regier@gmail.com wrote:

[2016-03-31 22:59] rgiordan commented on #194
If the segfault trace is to be believed, the error is

zeros(0, 0)

Let me change to zeros(NumType, 3, 2) and see if it goes away?

On Thu, Mar 31, 2016 at 3:56 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-03-31 23:01] rgiordan commented on #194
If you merge `set_type_of_vp_free` and try again it will include that
change.

Also, +1 to sending the command so Jeff and I can try ourselves.

On Thu, Mar 31, 2016 at 3:59 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-03-31 23:07] kpamnany commented on #194
[code]

[2016-03-31 23:15] kpamnany commented on #194
I'm reasonably certain it's happening during optimization. I'm somewhat certain that it has to do with the optimization of source 7 because every MethodError I've seen has been thrown after source 7 was trimmed, but before it was successfully optimized. I suspect this particular optimization is taking a different code path than the optimizations of the other sources in this area of sky and there's

[2016-04-01 06:54] rgiordan commented on #191
Here's the logic that has apparently been in Celeste for a while:

[code]

@jeff-regier , do you remember why you did it this way?  The [photoObj documentation](http://data.sdss3.org/datamodel/files/BOSS_PHOTOOBJ/RERUN/RUN/CAMCOL/photoObj.html) is not very helpful.

[2016-04-01 16:01] jeff-regier commented on #191
That's the way the worked for the stamps. You can tell when it works by
examining individual galaxies, but it was not easy. It seems like the
photoobj angels and stamp catalog angles differ by 90 degrees and direction
of rotation.

On Thu, Mar 31, 2016, 11:54 PM Ryan notifications@github.com wrote:

[2016-04-01 19:13] #133 closed, assigned to kbarbary

[2016-04-01 19:15] kpamnany commented on #100
We've decided to parallelize at source level.

[2016-04-01 19:15] #100 closed, assigned to kpamnany

[2016-04-01 22:03] rgiordan commented on #191
Ok, the original Celeste conversion from phi to our angle was indeed wrong.  I think it was easy to confuse because we list locations as (h, w), which is (vertical, horizontal) rather than the usual (x, y).  I added a note and fixed it.  This particular source now fits 33% faster, too.  :)

[2016-04-01 22:05] rgiordan commented on #191
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/201

[2016-04-01 22:05] #191 closed, assigned to nobody

[2016-04-01 22:38] kpamnany commented on #180
Much improved by PR #199!

[code]

[2016-04-01 22:38] #180 closed, assigned to nobody

[2016-04-01 23:00] rgiordan commented on #193
Closed in https://github.com/jeff-regier/Celeste.jl/pull/199

[2016-04-01 23:00] #193 closed, assigned to rgiordan

[2016-04-01 23:05] kpamnany opened #203 "Aborts with dimension mismatch"
[code]

[2016-04-01 23:14] rgiordan commented on #203
Could you tell the branch / multithreading state please?  The path to the
full log?  Maybe a run with DEBUG logging?

This doesn't happen for me with one thread.  It would help me a lot to be
able to run multithreaded myself.  It would also really help to know what
line this is happening on.

On Fri, Apr 1, 2016 at 4:05 PM, kpamnany notifications@github.com wrote:

[2016-04-01 23:16] kpamnany commented on #203
This is on master, with `JULIA_NUM_THREADS=8`. You don't have to do anything beyond set `JULIA_NUM_THREADS` to anything greater than 1 (the default is 4, so you don't have to do anything at all), and Celeste will run multithreaded. I'll rerun and save the log with DEBUG.

[2016-04-01 23:21] kpamnany commented on #203
See `/global/cscratch1/sd/kpamnany/log_8.out`.

[2016-04-01 23:27] rgiordan commented on #203
Ok, I get the same error.  I'm looking at it.  How annoying that it doesn't
come with a line number.

On Fri, Apr 1, 2016 at 4:21 PM, kpamnany notifications@github.com wrote:

[2016-04-01 23:34] rgiordan commented on #203
Ah, I see the problem.  Another hardcoded "5" from when we only had five
bands.  I'll send a patch soon.

On Fri, Apr 1, 2016 at 4:26 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-04-01 23:37] rgiordan commented on #203
Potential fix in the branch fix_203.  Testing now.

On Fri, Apr 1, 2016 at 4:34 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-04-01 23:39] kpamnany commented on #203
:+1:

[2016-04-01 23:45] rgiordan commented on #203
Added a relevant unit test, which now passes.  Pull and give it a try,
Kiran?

On Fri, Apr 1, 2016 at 4:39 PM, kpamnany notifications@github.com wrote:

[2016-04-01 23:47] kpamnany commented on #203
Isn't showing up. Last commit on master was `dont_use_mp_array`, an hour ago.

[2016-04-01 23:48] kpamnany commented on #203
Oh, branch `fix_203`? Okay.

[2016-04-01 23:48] rgiordan commented on #203
It works for me.  I'll make a PR.

On Fri, Apr 1, 2016 at 4:48 PM, kpamnany notifications@github.com wrote:

[2016-04-01 23:53] rgiordan opened #205 "Trimming takes close to as much time as optimization"
This can be fixed by pre-processing active pixels.

[2016-04-01 23:59] rgiordan commented on #203
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/204

[2016-04-01 23:59] #203 closed, assigned to nobody

[2016-04-02 19:24] jeff-regier opened #209 "skip really large galaxies and dim sources"
@rgiordan Do we have logic to skip really large galaxies? We may have tasks that don't finish during the large runs if we don't skip them. (Though the code is ridiculously fast now!)

I'm also wondering about the cuts based on brightness. We're skipping sources based on their max band brightness in physical units, I think. But some bands (e.g. z) record very few photons regardless of how bright th

[2016-04-02 19:27] jeff-regier commented on #146
Scores are looking great now, with the recent PRs. Maybe the correct angle initialization helped especially?

Also inference is running like 50x or 100x faster--wow! (What was going on before?)

[code]

[2016-04-02 19:28] jeff-regier commented on #146
I'm going to filter out saturated sources now, which should improve the scores even more, especially `mag_r`, but likely across the board.

[2016-04-02 21:52] rgiordan commented on #146
Great!

[2016-04-02 21:55] kpamnany commented on #194
This seems to have gone away, so I'm closing this for now.

[2016-04-02 21:55] #194 closed, assigned to nobody

[2016-04-03 00:06] rgiordan commented on #209
I think a good way to do that would be to have trim_source_tiles return a
count of active pixels and threshold based on that.

As part of this, we should save some metadata in the output.  Part of that
could also be whether the optimization hit the maximum number of iterations.

I have some time this evening.  Want me to do this?

[2016-04-03 19:02] jeff-regier commented on #209
There's also a flag (24) that indicates whether a light source is really large. We could cut on that in the SDSSIO module, the same way we skip bright sources already. If the active pixel count is readily available, that's probably preferable.

[2016-04-03 19:26] jeff-regier commented on #209
If a small light source overlaps with a large galaxy, and the small light source is the active source, will the objective function get evaluated on just the pixels relevant to the small light source?

[2016-04-03 19:55] rgiordan commented on #209
Actually, skipping on 24 would be better, I think!  It's cleaner to
describe (less arbitrary), and the very act of running trim_source_tiles on
a very large object could take a long time (trim_source_tiles evaluates the
likelihood at all the pixels that are candidates for elimination, leading
to at least one very slow, all-pixel function evaluation).

On Sun, Apr 3, 2016 at 12:02 PM, Jeffrey Regie

[2016-04-03 20:14] jeff-regier commented on #209
Sounds good. I think we're going to want to maintain two sets of sources:
1) sources to optimize, 2) sources to render when they are neighbors of an
active source. Set 2 contains set 1. Right now I believe bright objects are
getting filtered out entirely, but they should get included in set 2 at
least.

On Sun, Apr 3, 2016, 12:55 PM Ryan notifications@github.com wrote:

[2016-04-03 20:39] rgiordan commented on #209
Good point.  Could we put the flag information in CatalogEntry and then
filter them in infer() rather than removing them when we load the catalog?
That's probably the right way to deal with saturated sources as well.

On Sun, Apr 3, 2016 at 1:14 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-04-05 01:50] #116 closed, assigned to kbarbary

[2016-04-05 01:54] jeff-regier commented on #189
Dustin confirms that the problem is with Coadd, as its saturated flag isn't set when it should be. You might think we could nonetheless exclude saturated sources based on Primary's saturated flag, but this flag turns out to be set way too often, and furthermore, excluding the sources Primary flags as saturated doesn't turn out to help Celeste's performance relative to Primary. I think we can get a

[2016-04-05 01:54] #189 closed, assigned to nobody

[2016-04-05 01:55] #123 closed, assigned to kbarbary

[2016-04-05 02:12] jeff-regier commented on #142
Did this get fixed in the recent PRs?

[2016-04-05 02:19] rgiordan commented on #142
No, it didn't.  I think it's not a showstopper.  It would just be nice to
be more careful about it at some later point.

On Mon, Apr 4, 2016 at 7:12 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-04-05 16:40] rgiordan commented on #177
Is this still happening?

[2016-04-05 17:17] jeff-regier commented on #90
We should remove all functions related to stamps, e.g. `load_stamp_catalog`, `load_stamp_blob`, , from the code base at the same time. We're using stamps exclusively in unit tests now, but this leads to tests that aren't testing the code in a realistic setting.

[2016-04-05 17:17] #159 closed, assigned to nobody

[2016-04-05 17:21] jeff-regier commented on #177
Not with the command line arguments I posted before, at least. Let's close this issue.

[2016-04-05 17:21] #177 closed, assigned to rgiordan

[2016-04-06 00:02] kpamnany opened #215 "Too much memory used"
Create `celeste_1.sl` containing:

[code]

Use your Celeste directory, of course. Run this with `sbatch celeste_1.sl` and the `slurm-xxxxxxx.log` file will contain the output (where xxxxxxx is the job ID). The job is killed due to running out of memory.

[2016-04-06 00:16] rgiordan commented on #215
Shouldn't we use

module load julia/0.5.0-dev-2918

?

On Tue, Apr 5, 2016 at 5:02 PM, kpamnany notifications@github.com wrote:

[2016-04-06 00:17] rgiordan commented on #215
Or rather, I'm a little confused -- why are you using julia4?  Sorry if I'm
behind the curve.

On Tue, Apr 5, 2016 at 5:16 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-04-06 00:28] rgiordan commented on #215
Also, Rollin, what was the correct way to load libcfitsio.so on Cori?  I'm
getting this error:

ERROR: LoadError: error compiling main: error compiling stage_box_nersc:
error compiling query_overlapping_fieldids: error compiling
query_overlapping_fields: error compiling call: error compiling
fits_open_file: could not load library
"/global/u2/j/jregier/.julia/v0.4/FITSIO/deps/usr/lib/libcfitsio.so"

[2016-04-06 00:54] jeff-regier commented on #215
We switched back to Julia 0.4 because we can't use threads, I thought. It's
faster and more stable than 0.5

On Tue, Apr 5, 2016, 5:28 PM Ryan notifications@github.com wrote:

[2016-04-06 02:47] kpamnany commented on #215
Right. Hence just the `module load julia`, to get Julia 0.4 by default.

[2016-04-06 02:51] rcthomas commented on #215
@rgiordan, sorry I've been offline a bit.  I guess Julia must have the path cached somewhere when you copied things from Jeff.  I don't have problems with FITSIO building when I install Celeste though so you should be able to get it that way.

[2016-04-06 02:53] jeff-regier commented on #215
Yep, `Pkg.add("FITSIO")` is working again.

[2016-04-06 02:56] kpamnany opened #217 "initialize_model_params() hotspot"
Here are logs of two of the processes from a 32 process run which took 903 seconds. Included are the fastest and the slowest, as well as the runtimes for `initialize_model_params()` across all the processes:

https://gist.github.com/kpamnany/e15d46d651a31e9264388c57ee1c76f1

Note that PSF fitting and source optimization together do not take as much time.

[2016-04-06 03:10] jeff-regier commented on #217
How big were the regions of the sky for each of the 32 processes?

On Tue, Apr 5, 2016 at 7:56 PM kpamnany <notifications@github.com> wrote:

[2016-04-06 03:30] jeff-regier commented on #217
Probably this loop from `initialize_model_params` is the problem:

[code]

As we increase the region of the sky passed to `infer`, the number of blobs and the number of sources both increase linearly, leading to quadratic runtime here. But most blobs won't contain any particular source.

[2016-04-06 03:46] kpamnany commented on #217
I'm not sure I understand your response -- is this something that can be fixed? It looks like the loop above should be parallelizable, once we get threads back. But can anything be done differently/faster?

Also, we aren't increasing the size of the region of sky passed to `infer()`, we call `infer()` repeatedly with a 0.03x0.03 sky region.

[2016-04-06 04:01] jeff-regier commented on #217
Maybe I don't get it. You're always calling `infer` with a 0.03x0.03 sky region, but when the whole program is operating on a large of sky, each call to `infer` takes way longer?

Hmm...are you passing all the `fieldids` to `infer` each time, or just the `fieldids` relevant to that region?

[2016-04-06 04:08] jeff-regier commented on #217
Yep, I think that's it. It looks like your `divide_and_infer` function is calling `infer` each time with all the `fieldids` for the whole 1x0.5 degree sky region. Instead call `infer` with just the `fieldids` returned by `query_overlapping_fieldids` for the relevant 0.03x0.03 sky region.

[2016-04-06 04:11] kpamnany commented on #217
Makes sense. I'll try fixing this.

[2016-04-06 04:46] jeff-regier commented on #217
Awesome! That might close #215 too, if each process was loading all the fields for the whole 0.5 degree region rather than just the fields overlapping the 0.009 degree subregion.

[2016-04-06 07:31] #217 closed, assigned to nobody

[2016-04-06 15:15] kpamnany commented on #215
Still running out of memory at higher node counts. At 16 nodes:

[code]

This is weak scaling 0.5x0.5 per node, so 16 nodes was trying to run inference on a 8.0x0.5 patch of sky.

[2016-04-15 17:15] kpamnany opened #219 "Redefine task granularity for parallelism"
As there is too much variance in the number of sources in different patches of sky, we need a different task granularity for parallelizing. @jeff-regier had suggested we distribute sources instead, which would require some pre-processing? Can we discuss this here?

From the parallelism point of view, we can use sources as tasks, both at the node level and at the thread level. I think this will wor

[2016-04-16 00:22] jeff-regier commented on #219
As I envision it, pre-processing / staging would create a different jld file for each source, containing all the raw data needed to process that source, including the existing catalog entries. (Is that too many files? We could also bundle everything into one HDF5 file.) Whereas the main dataset is 20 TB, the output from pre-processing might be more like 1 or 2 TB, since most of the sky is dark.

T

[2016-04-16 19:31] jeff-regier commented on #215
The built-in `whos` function may be useful for figuring out what's using all the memory. I didn't know about this function before. Whereas the `--track-allocation` flag records how much memory each line allocates, `whos` reports which data structures are pointing to memory that hasn't been freed at the the time when it is called.

[2016-04-18 18:12] jeff-regier commented on #215
Apparently the `whos` command doesn't report memory allocated by `ccall`, and most memory gets allocated within libraries by `ccall`. We may get further suggestions from [this question I posted on stack overflow.](https://stackoverflow.com/questions/36679979/why-is-my-julia-program-using-so-much-memory)

[2016-04-19 01:07] kpamnany commented on #215
I've instrumented `divide_and_infer()` in `src/api.jl` to output GC stats at different points -- before and after calling `infer()`. This has, unfortunately, not provided any helpful data. Here's the output for a random rank:

[code]

This is just for querying field IDs and directories. The next call is to `infer()`, after which:

[code]

Unfortunately, you cannot tell the state of the heap (or Ju

[2016-04-19 22:42] jeff-regier commented on #215
Looks like `mp.tile_sources` uses a lot of memory, based on the output of `top`. If we get rid of the concept of `tiles` as part of #219, that should bring memory usage way down.

[2016-04-20 00:35] kpamnany commented on #219
I don't think we can run efficiently on Cori-II without using threads. Using Dtree alone won't really work I think because then we'd have to start 250 processes per node which would probably be prohibitively expensive in memory terms. However, I don't think that's a problem -- we run a process per socket, use Dtree to distribute sets of sources to processes, and threads to actually optimize those

[2016-04-20 20:45] jeff-regier commented on #219
Yes, you can run celeste on a single objid with the subcommand `infer-object` rather than `infer-box`.

With or without tiles, `initialize_model_params()` really shouldn't be computational expensive. The run time should all be almost entirely from 1) load images, 2) fitting the psf, and 3) optimizing.

Yes, the main processing stage should do both psf fitting and optimizing.

[2016-04-20 20:47] jeff-regier commented on #219
e.g.

[code]

[2016-04-20 23:05] jeff-regier commented on #219
Ah, I forgot that `initialize_model_params` evaluates the objective funding once to decide what pixels are influenced by each source. In the future, and especially when we aren't using existing catalogs for initialization, we may want to use a "blob extraction" routine to find bright spots and limit processing to them. But either way, `initialize_model_params` is going to require some constant fra

[2016-04-26 04:06] #215 closed, assigned to nobody

[2016-04-26 16:18] kpamnany commented on #215
This is awesome! Hopefully this took away the leak also. Will test on Cori.

[2016-04-26 16:32] jeff-regier commented on #215
It's should be fairly straightforward now to get an additional 90%
reduction in memory use, since all the images are getting copied to each
process, but only a few tiles are needed by each worker process at a time.
Maybe this is good enough for now though, if multithreading will be working
soon?

On Tue, Apr 26, 2016, 9:18 AM kpamnany notifications@github.com wrote:

[2016-04-26 22:10] jeff-regier commented on #219
PR #224 addresses this issue, more or less.

[2016-04-27 20:49] jeff-regier opened #225 "Estimate sky background noise (don't rely on the SDSS pipeline)"

[2016-04-27 20:49] jeff-regier opened #226 "Estimate calibration constants (don't rely on the SDSS pipeline)"

[2016-04-27 20:53] jeff-regier commented on #209
The maximum patch size is set to 100 pixels, so large galaxies just get truncated. They won't use up huge amounts of processing---I think that's good enough for now. Ultimately sub-sampling their pixels is the way to go.

[2016-04-27 20:53] #209 closed, assigned to jeff-regier

[2016-04-27 21:02] jeff-regier opened #227 "Unit tests based on synthetic data from GalSim"
Another benefit of adding these tests: "All the test images in Synthetic.jl use either an identity WCS or a symmetric one. For testing purposes, we should replace them all with an actual asymmetric WCS.", from issue #90 , which this one subsumes.

[2016-04-28 02:00] jeff-regier opened #228 "Write all results to a single catalog file, HDF5 format"
Perhaps do this in post-processing at first, just so we can get a catalog to DataLab.

[2016-05-02 01:54] jeff-regier opened #230 "Restore test_quadratic_optimization and test_real_images"

[2016-05-02 02:01] jeff-regier opened #232 ".b is referencing image index, not band, in ElboDeriv"
When we had 5 images per blob, band and image index were the same. Now they aren't. The `ImageTile` field `.b` is getting used to reference image index rather than band in ElboDeriv.

[2016-05-03 22:09] kpamnany commented on #219
If we're to use sources as tasks, we need a way to map a task ID to an object ID. Until we work out how to do that, I think this should remain open.

Also, here's pretty clear evidence as to why we can't use sky areas:

[code]

Both are 0.025x0.025 areas of sky. It's pretty hard to balance load with a 23x difference in work item runtime.

There's a lot of variance in source optimization time also.

[2016-05-05 21:20] #232 closed, assigned to nobody

[2016-05-05 21:27] #230 closed, assigned to jeff-regier

[2016-05-05 21:49] jeff-regier commented on #219
In the future we won't know the number of sources exactly, because we won't have an existing catalog to use for initialization. So I'm wary of a parallelization scheme based on knowing the number of sources ahead of time. (Also, some sources just take much longer than others, as your results seem to show)

The number of bright pixels in each sky area may be a better proxy for run time than the num

[2016-05-13 02:50] #136 closed, assigned to nobody

[2016-05-13 02:50] #226 closed, assigned to nobody

[2016-06-23 18:40] jeff-regier commented on #90
This issue would be a good time to start using [FactCheck.jl](https://github.com/JuliaLang/FactCheck.jl) for unit tests, too. It's much more readable than `Base.Test`.

[2016-07-14 02:18] jeff-regier opened #236 "AssertionError: all(param .>= lower_bound)"
[code]

[2016-07-14 02:29] jeff-regier commented on #236
Hi @rgiordan -- Do you have any time to look into this error? It might have been triggered by my change to the trust region method, but the error comes from the Transform module, and I'm not too familiar with that code.

[2016-07-14 15:51] rgiordan commented on #236
Sure, but could you do me a favor and send a more minimal example?

On Wed, Jul 13, 2016 at 10:29 PM, Jeffrey Regier notifications@github.com
wrote:

[2016-07-14 15:53] rgiordan commented on #236
A more minimal example to reproduce, I mean.  It is pretty unlikely that a
change to the optimization code could cause this.  Just because it is an
error coming from the Transform module doesn't mean it's a problem with the
Transform module -- this happens when you request a transform from an
illegal value of an unconstrained parameter, which is likely caused by
something you were doing outside.

[2016-07-15 21:39] rgiordan opened #237 "Use Optim.jl trust region code"
Our trust region code has been merged into Optim.jl, and we should use that going forward.

@jeff-regier , do you want to wait for a tagged version with the TR code or just go ahead and use the latest release?

[2016-07-15 23:03] jeff-regier commented on #237
That's good news. Up to you, Ryan, whether to wait for the tagged release

On Fri, Jul 15, 2016 at 2:39 PM Ryan notifications@github.com wrote:

[2016-07-19 20:14] jeff-regier opened #238 "Restore support for Julia 0.5"
It looks like there have been several breaking changes. e.g.,

[code]

[code]

[code]

[2016-07-19 20:40] jeff-regier opened #240 "Verify that multi-threading works now"

[2016-07-19 20:41] jeff-regier opened #241 "DistributedArrays.jl for Cori"

[2016-07-20 03:20] #238 closed, assigned to nobody

[2016-07-21 16:44] stevengj opened #243 "Changed meaning of .*= and ./= in Julia 0.5"
Your code uses `x .*= y`, so you should know that in Julia 0.5 this has changed meaning to be equivalent to `broadcast!(identity, x, x .* y)`, so that it mutates the `x` array (see JuliaLang/julia#17510 … in Julia 0.6 the whole operation will occur in-place without temporaries).  So `.*` should only be used if the left-hand side is a mutable array, and you don't mind mutating it.

At first glance,

[2016-07-21 22:57] jeff-regier commented on #243
Good to know! I actually thought the meaning of `x .*= y` was `broadcast!(identity, x, x .* y)` all along...I'm lucky not to have had more trouble before.

[2016-07-21 22:57] #243 closed, assigned to nobody

[2016-07-22 18:12] jeff-regier opened #244 "register Dtree.jl and enable travis-ci"

[2016-07-22 18:13] jeff-regier opened #245 "register Garbo.jl and enable travis-ci for it"

[2016-07-26 05:38] #241 closed, assigned to nobody

[2016-07-27 00:12] jeff-regier opened #249 "automatic differentation"
Unlike `ReverseDiffSparse.jl`, `ReverseDiffSource.jl` doesn't unroll loops. It should be able to roughly match the speed of what we've coded manually.

For this issue, we'll fork `ReverseDiffSource.jl` and modify it to work for Celeste. In particular,
- enable pre-compilation
- allow passing it pre-allocated memory for derivatives and hessians
- allow differentiating wrt to some variables and not

[2016-07-27 22:11] jeff-regier opened #251 "performance regression testing"
We need reliable tests of Celeste's run times, and how runtimes have evolved since ICML. In the past `benchmark_elbo.jl` worked well until it didn't, with the addition of the Hessian code, around late February 2016.

Back then we expected `benchmark_elbo.jl` to take ~25 seconds, but after the Hessian commit, it took around ~125 seconds. It would be good to understand what's happening. In `benchmar

[2016-07-28 22:11] jeff-regier opened #252 "get Lumberjack.jl to work with julia 0.5"

[2016-07-29 19:21] jeff-regier opened #253 "remove hard-coded nersc paths, so infer-box works elsewhere too"
@tkelman @vtjnash
I just tried `./celeste.jl infer-box ...` on my own computer, with the data from `$SCRATCH` on Cori copied locally. Unfortunately some parts of the code use files outside of $SCRATCH, in the `/global/projecta/...` directory. For the time being, I think we're stuck running celeste.jl on nersc.

[2016-07-29 19:28] rcthomas commented on #253
That's effectively a bug at NERSC too!  All inputs should be staged to $SCRATCH from /project and then when Celeste is off and running it should _only_ be reading/writing to $SCRATCH (or the burst buffer).

[2016-08-02 23:03] jeff-regier opened #254 "get DocOpt to precompile"

[2016-08-03 19:56] jeff-regier commented on #236
This issue seems to have worked itself out, or at least I can't recreate it any more.

[2016-08-03 19:56] #236 closed, assigned to nobody

[2016-08-05 00:55] jeff-regier opened #255 "solve_tr_subproblem! test errors"
16 times out of 21,000 evaluations, a randomly selected point in the trust region had a lower value than the minimum found by `solve_tr_subproblem!`

[code]

[2016-08-05 02:12] jeff-regier opened #256 "refactor bivariate_normals.jl"
Move `GalaxyCacheComponent` to the `ElboDeriv` module, along with everything else about galaxies in `bivariate_normals.jl`.

[2016-08-05 02:45] jeff-regier opened #257 "call Lint.jl"
Once Lint.jl supports Julia 0.5, add something like

[code]

to our unit tests, and fix all the issues.

[2016-08-05 20:07] jeff-regier commented on #249
Hi @jrevels  -- Any thoughts about this issue? I'm hoping there are a couple of things that make efficient auto diff for Celeste simpler than auto diff in general.

First, our whole objective function can be written with only simple scalar operations, without matrix or vector operations. It's generally faster to explicitly loop over array entries (devectorized code) than the use matrix/vector ops

[2016-08-06 01:40] rgiordan opened #258 "Fix METADATA.jl"
METADATA.jl's entry for Celeste [refers to a now non-existent commit](https://github.com/JuliaLang/METADATA.jl/blob/metadata-v2/Celeste/versions/0.1.0/sha1).

@jeff-regier, you probably know what new commit would be best to tag.

[2016-08-08 18:14] rgiordan commented on #255
This is because when the matrix is indefinite the TR routine should follow the smallest eigenvector to the trust region boundary, but instead we regularize it away.  I think we knew this was happening.  Let's fix it but empirically it's not a big practical problem.

[2016-08-08 18:18] rgiordan commented on #237
We need to move to ForwardDiff 2.0 to do this, but we're held up by the problems described in https://github.com/jeff-regier/Celeste.jl/pull/248.

[2016-08-08 19:20] jeff-regier commented on #258
Fixed in JuliaLang/METADATA.jl/#5872

[2016-08-08 19:41] jrevels commented on #249
Caveat: I'm not familiar with ReverseDiffSource, other than having skimmed through its documentation.

Actually, the performance of vectorized Julia code is improving significantly in v0.5 with the introduction of function types, broadcast syntax, and syntactic loop fusion. More specifically, if you're writing your code with reverse-mode automatic differentiation in mind, vectorized code is almost

[2016-08-09 04:56] jeff-regier commented on #254
Tony suggests using [SnoopCompile.jl](https://github.com/timholy/SnoopCompile.jl)

[2016-08-09 18:17] rgiordan opened #260 "Document Celeste"
A lot of functions don't have documentation, and our documentation formatting is inconsistent.  Let's use [Documenter.jl](https://juliadocs.github.io/Documenter.jl).

[2016-08-09 22:32] jeff-regier commented on #252
Resolved in #261

[2016-08-09 22:32] #252 closed, assigned to nobody

[2016-08-09 22:32] #258 closed, assigned to jeff-regier

[2016-08-09 23:56] #240 closed, assigned to nobody

[2016-08-10 04:37] jeff-regier commented on #249
Hi Jarrett, I see your point about it being more straightforward to optimize autodiff for vectorized/matrix operations. Still, it seems like there should be a way to avoid unrolling `for` / `while` loops, at least in some cases. When I manually code derivatives, it usually takes about the same amount of code to write the derivatives as the objective, anyway.

I'm familiar with using `@deriv_rule`

[2016-08-10 15:23] jrevels commented on #249
For source-to-source AD tools, this is essentially akin to implementing a compiler optimization, like proving loop iteration independence. AFAIK, the tool has to be able to prove that the loop can be interpreted "in bulk" as a known differentiable operation. This sort of thing might be feasible with code directives/annotations which user could leverage to give the AD tool hints (e.g. `@matmul for

[2016-08-10 16:06] mlubin commented on #249
@jeff-regier, have you tried using JuMP/ReverseDiffSparse since the AD was rewritten in the winter?

[2016-08-10 16:39] mlubin commented on #249
(I wouldn't expect it to obtain 90% of the speed of manually coded derivatives, but it shouldn't be a factor of 50 as before.)

[2016-08-10 18:40] rgiordan opened #262 "Fix unit tests after refactor"
The tests `test_trim_source_tiles()` and `test_process_active_pixels()` are important but didn't get updated after the last refactor.

[2016-08-10 19:00] jeff-regier commented on #249
Hi Miles, I tested JuMP right after the winter rewrite, but unfortunately it was still around 50x slower than the manually coded version. This morning I've been trying to get Celeste.jl's `JuMP` branch working again, with the latest version of JuMP. A lot of syntax has changed in Julia and JuMP since then, and I'm hung up on one error message. I'll let you know if I get it working with the latest

[2016-08-10 19:02] jeff-regier commented on #249
Our old JuMP code had the expression

[code]

but I see now `sum{...}` needs at least two arguments. What can I enter as the second argument to recreate the old behavior?

[2016-08-10 19:06] mlubin commented on #249
What are you trying to sum over? If there are no iteration sets and no conditions then you don't need a `sum{}`.

[2016-08-10 19:21] jeff-regier commented on #249
I see...that call to `sum` may have been unnecessary. @rgiordan -- Do you remember if that sum had a purpose?

It looks like the `processNLExpr` macro isn't around any more. Is there something equivalent to the following code in the latest libraries?

[code]

Thanks!

[2016-08-10 19:49] jeff-regier commented on #244
With the lines

[code]

added to `.travis.yml`, I can list `Dtree` in Celeste's `REQUIRE` file wo breaking the unit tests. Probably some of these apt package aren't necessary even. @kpamnany -- You may want to do something like this to test Dtree on travis.

[2016-08-10 19:49] #244 closed, assigned to kpamnany

[2016-08-10 19:58] mlubin commented on #249
No, not in any form that I'd encourage people to use. You should use MathProgBase for querying derivatives like this.

[2016-08-10 22:22] rgiordan opened #264 "ForwardDiff 0.2 slow compile time"
The master branch of optim with our trust region code requires ForwardDiff v0.2, but this has really slow compile time, making unit tests much slower than before.

I have removed ForwardDiff from inference which was a good idea anyway (PR forthcoming).  However, removing all the old differentiation unit tests makes me a little uncomfortable.

@jeff-regier, what if we fork ForwardDiff v0.1.8, give

[2016-08-10 22:44] jeff-regier commented on #264
That's not so bad given the circumstances. I think you'd want to modify `runtests.jl` to clone `ForwardDiffOld` and build it, if it isn't already installed. `ForwardDiffOld` would be an unregistered package, presumably.

[2016-08-10 23:12] jeff-regier commented on #249
I'm getting `NaN` values back now from the JuMP model. I suspect I'm calling MathProgBase incorrectly, because I only pass it the jump model (`jump_m`), not the particular expression I'm trying to compute (`jump_elbo`). @mlubin -- Would you mind looking over the script ([compare_jump_speed.jl](https://github.com/jeff-regier/Celeste.jl/blob/JuMP/bin/compare_jump_speed.jl)), to see what I may be doi

[2016-08-10 23:14] mlubin commented on #249
Is `jump_elbo` set as the objective function?

[2016-08-10 23:18] mlubin commented on #249
i.e. `@NLobjective(jump_m, Min, jump_elbo)`

[2016-08-10 23:35] rgiordan commented on #264
It also happens that time for derivative tests for a few complicated functions (the ELBO itself and some of its higher-level functions) dominate the increased test time.  They are

[code]

Maybe we can just do without those tests for now.

[2016-08-10 23:37] jeff-regier commented on #249
Ah, that does it, thanks. I'm seeing 10x overhead from using JuMP now, for computing the gradient and the objective function. That's a big improvement over last year.

Is there a way to compute gradients and the objective simultaneously? They have a lot of calculations in common...might bring the overhead down to 5x.

Are the Hessians a lot faster now too?

[2016-08-10 23:40] jeff-regier commented on #264
Isn't `test_elbo()` one of our most important tests?

[2016-08-10 23:43] mlubin commented on #249
Nice! Thanks for testing this out.

JuMP already computes the gradient and the objective essentially at the same time, unfortunately there's no free 2x there. Hessians will gain proportionally from the speedup in the gradient computation time, and maybe another 50% from our switch to ForwardDiff.

[2016-08-10 23:45] mlubin commented on #249
You might get a speedup from passing `simplify_nonlinear_expressions=true` to the model constructor, e.g., https://github.com/mlubin/JuMPSupplement/blob/master/acpower/opf.jl#L46

[2016-08-11 00:09] jeff-regier commented on #249
No speedup from `simplify_nonlinear_expressions=true`, unfortunately. Is
the overhead from doing extra computation, or allocating extra memory, or
something else?

On Wed, Aug 10, 2016 at 4:45 PM Miles Lubin notifications@github.com
wrote:

[2016-08-11 00:56] kpamnany commented on #244
Dtree master has Travis enabled and passes now.

[2016-08-11 01:04] mlubin commented on #249
The overhead is from interpreting each operation. JuMP no longer generates code (JuMP was generating bad code for Celeste anyway). There will certainly always be a constant factor gap between JuMP and hand-written code, though it could perhaps be further decreased.

[2016-08-11 01:25] jeff-regier commented on #244
Awesome!

On Wed, Aug 10, 2016, 5:56 PM kpamnany notifications@github.com wrote:

[2016-08-11 01:42] jeff-regier commented on #249
Thanks for the explanation. Really impressive work, getting a 5x speedup since last year. I'll give the Hessians a try.

[2016-08-11 01:49] rgiordan commented on #264
Yes, though one that currently takes fifteen minutes, and whose functionality is tested indirectly in several other ways.  Still, I think you're right, it would be better to clone an old fork of ForwardDiff than remove this test.

[2016-08-11 02:48] mlubin commented on #249
Without having looked at the model recently, I can make a maybe useful suggestion that you try to further restructure the JuMP model around `@NLexpression`s. These expression values are now stored and computed once, so if any subexpresson appears in more than once place there will be savings in the size of the computational graph.

[2016-08-11 03:27] jeff-regier commented on #249
Looks like we're using `@NLexpression` pretty much exclusively. Please let me know if you have additionally ideas! If we could get the overhead down to more like 3x, there wouldn't be much of case for looking into other approaches to differentiation.

[2016-08-11 03:36] mlubin commented on #249
What's the typical value of `CelesteTypes.B`? I can't find where it's defined.

[2016-08-11 03:37] jeff-regier commented on #249
5

On Wed, Aug 10, 2016 at 8:36 PM Miles Lubin notifications@github.com
wrote:

[2016-08-11 03:41] mlubin commented on #249
There's definitely some scope for overlapping computations over `CelesteTypes.B` and each pixel given the summation structure. This would cut down on the overhead of interpreting each operation (by doing more work with each operation). But I don't have a week to spare to go down that rabbit hole any time soon.

[2016-08-11 19:03] jeff-regier commented on #249
Is there a way to tell what redundant computations will be
consolidated/combined by JuMP's computation graph, and what won't? What was
the `@NLexpression` that looked fishy to you? Maybe I'll get that 5x
speedup yet!

On Wed, Aug 10, 2016 at 8:41 PM Miles Lubin notifications@github.com
wrote:

[2016-08-11 19:06] mlubin commented on #249
JuMP does no consolidation at all (besides that option to simplify constant
expressions).

On Aug 11, 2016 13:03, "Jeffrey Regier" notifications@github.com wrote:

[2016-08-12 01:12] jeff-regier opened #268 "Add unit tests for api.jl"

[2016-08-12 17:25] jeff-regier opened #270 "accuracy validation for multithreaded and distributed runs"

[2016-08-12 17:28] jeff-regier opened #271 "measure garbage collection time for multithreaded run"
and report any problems to Julia computing.

[2016-08-13 18:11] #253 closed, assigned to nobody

[2016-08-13 20:17] jeff-regier commented on #87
We may want to use a discrete 2D FFT for convolving galaxies with a rasterized psf. [This short, applied tutorial](http://www4.ncsu.edu/eos/users/w/white/www/white/ma325/MVlec7.pdf) might teach us just enough about to 2D FFT. Also, Dustin has a note titled ["A method for fast galaxy–PSF convolution"](https://github.com/dstndstn/fft-gal-convolution/blob/master/gal-conv.tex).

[2016-08-13 22:11] jeff-regier opened #273 "log probability function"
@andymiller -- If you fill out the `celeste_mcmc.jl` script in the `jr/mcmc` branch,  I'll integrate it with the rest of Celeste, so it runs on the supercomputer. As long as the markov chain mixes within a few thousand steps per light source, we should be able to run it on cori for the full SDSS dataset.

Also, @rgiordan expressed interest in reusing your joint probability function for LRVB. And w

[2016-08-15 23:19] jeff-regier opened #275 "new warnings from derivative_utils.jl"
[code]

[2016-08-16 03:07] jeff-regier commented on #219
Closed in #274

[2016-08-16 03:07] #219 closed, assigned to nobody

[2016-08-16 03:07] jeff-regier commented on #237
Closed in #269

[2016-08-16 03:07] #237 closed, assigned to rgiordan

[2016-08-16 03:10] jeff-regier commented on #264
It seems we're stuck with the slow compile times for now. In the Julia 0.5 issues, I see a lot issues about performance regressions that people are working on, so I'm hopeful speed will improve in the future, wo us doing anything.

[2016-08-16 03:10] #264 closed, assigned to nobody

[2016-08-16 19:16] jeff-regier commented on #257
Lint.jl is working  with Julia 0.5 now: tonyhffong/Lint.jl#146

[2016-08-20 16:46] jeff-regier opened #278 "DeCALS"
We can no longer rely on the pipeline SDSS once we're working with additional image sets like DeCALS, so we need Celeste to do the following:

- [x]  #157
- [ ]  #225
- [ ]  #511
- [ ]  #368

[2016-08-25 15:28] jeff-regier commented on #270
I've compared results for several sources from 1) a single-threaded run on cori, 2) a run with 4 threads on my laptop, and 3) a run on cori with 8 nodes, 32 threads per node. The results from (1) and (2) agree exactly, to machine precision. The file sizes are even exactly the same, though the runtimes (reported in the files) are different, so it's not like I accidentally made of a copy of the file

[2016-08-25 15:28] #270 closed, assigned to jeff-regier

[2016-08-25 15:28] jeff-regier commented on #270
@kpamnany @rgiordan

[2016-08-25 15:31] #271 closed, assigned to kpamnany

[2016-08-30 22:44] rgiordan commented on #262
Tentatively fixed in https://github.com/jeff-regier/Celeste.jl/pull/279

[2016-08-31 00:05] jeff-regier opened #280 "don't recalculate fsm vectors for inactive sources"

[2016-09-01 01:25] #275 closed, assigned to rgiordan

[2016-09-01 01:26] jeff-regier commented on #262
I think #279 fixed #275 rather than this one.

[2016-09-03 06:36] jeff-regier opened #282 "Make score.jl a module and add unit tests for it"

[2016-09-08 18:06] jeff-regier commented on #268
@andreasnoack is writing a test for `one_node_infer()`, the main function to test in `api.jl`.

[2016-09-09 00:29] andreasnoack opened #284 "Grid is deprecated"
`Celeste` should use `Interpolate` instead. This prevents installation of `Celeste` on Julia master.

[2016-09-09 03:14] jeff-regier opened #285 "map estimation"

[2016-09-10 00:51] #284 closed, assigned to nobody

[2016-09-10 01:03] jeff-regier opened #287 "refactor the OptimizeElbo module and the Transform module"
Remove the call to `OptimizeElbo` in `Infer`. Replace it with some lines like

[code]

Copy over whatever else is need from OptimizeElbo, but leave the object-oriented stuff behind, and then delete `OptimizeElbo.jl`.

In `Transform` get rid of all the object-oriented stuff, and just implement `Tranform.unconstrain`, a function that takes a function as it's argument, whose only argument is a vector

[2016-09-11 23:08] jeff-regier opened #288 "Interactive sky map based on our SDSS results"
Something like [legacysurvey.org](http://legacysurvey.org/viewer)---perhaps a layer in legacysurvey.org itself.

[2016-09-11 23:10] jeff-regier opened #289 "distributed optimization with communication"
Subtasks:
- [x] Cyclades version of `one_node_infer()`, aka  `one_node_cyclades()`
- [x] unit tests with synthetic data showing a case where  `one_node_cyclades()` improves on `one_node_infer()` (in terms of  the objective value)
- [ ] Compare runtimes to convergence of `one_node_cyclades()` and `one_node_infer()`, for several cases
- [ ] Compare runtimes and accuracy on real data
- [ ] Compare ac

[2016-09-12 04:34] jeff-regier opened #290 "write up distributed optimization algorithm, and show it converges"
It's a block coordinate ascent algorithm. Each astronomical object's parameters constitute a block. We get parallelism by updating blocks in parallel for astronomical objects that don't overlap. We use a global array to coordinate which light sources are locked at any given moment, and which light sources require further optimization.

In this block coordinate ascent algorithm, blocks are updated

[2016-09-14 04:18] rgiordan commented on #273
@andymiller , I'll be happy to review this when you're done.

Just to clear up some confusion, LRVB uses the ELBO as it is currently written.  It doesn't require evaluating the log likelihood at a draw.  The log likelihood will still be useful for SGVB and MAP estimation, though.

Andy, you're probably a long way along on this already, but I thought I'd mention that in other code that I've written

[2016-09-14 19:46] andymiller commented on #273
@rgiordan, I just opened a PR on the `jr/mcmc` branch.  I think you all more or less set it up easily for me to do this --- the expectations of fluxes are a simple function of the variational parameters, which allows for easy conversion.

Let me know what you think --- if we can get fast gradients of these functions, then re-parameterization-trick-style variational inference should be pretty strai

[2016-09-15 00:15] gostevehoward opened #292 "BoundsError in Optim/src/newton_trust_region.jl:102"
I'm trying to run Celeste on a very simple synthetic galaxy image with simple settings. Depending on the position parameters in the catalog entry, sometimes it runs, and sometimes it does this:

[code]

I've attached a "minimal" repro case (it's not small but I don't know how to run Celeste with less code :). The ZIP contains one script for running Celeste and one FITS image:

[optim_bounds_error_

[2016-09-15 00:27] rgiordan commented on #292
I'm taking a look now.

On Wed, Sep 14, 2016 at 5:15 PM, gostevehoward notifications@github.com
wrote:

[2016-09-15 00:37] rgiordan commented on #292
The Hessian is full of NaN at the initial point, as revealed by running
verbose:

OptimizeElbo.maximize_f(ElboDeriv.elbo_likelihood, ea, loc_width=1.0,
verbose=true)

That will certainly screw things up.  Now looking into why that is
happening.

On Wed, Sep 14, 2016 at 5:27 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-09-15 00:49] rgiordan commented on #292
Ok, evidently the Hessian calculation doesn't support zeros in alphaBar.  I
have to run so I can't say at the moment why that is, but at least it
allows the optimization to run.  (It also diverges, but Steve, you can
presumably work from there.)

Make alphaBar [0.33, 0.33, 0.33] and it at least runs.

On Wed, Sep 14, 2016 at 5:37 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-09-15 00:59] jeff-regier opened #293 "accuracy benchmarks based on galsim data"

[2016-09-15 01:06] jeff-regier opened #294 "normalizing flows as the variational distribution"

[2016-09-15 01:07] jeff-regier opened #295 "second-order stochastic optimization"

[2016-09-15 01:11] jeff-regier opened #296 "hdf5 for unit tests and benchmarks"

[2016-09-15 18:57] rgiordan commented on #292
After looking into it a bit this morning, the alphaBar thing seems to be a
red herring.  Zero alphaBar is actually fine in the Hessian, and it just
looks like the optimization is going off the rails.

I'm still looking at it, but I wanted to keep you up to date, Steve.

On Wed, Sep 14, 2016 at 5:49 PM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-09-15 19:10] rgiordan commented on #292
Ah, my confusion yesterday was caused by the fact that when vp is in the
global scope (as it is when I'm debugging), it gets updated in place when
you run the optimization, so I was in fact evaluating the log likelihood at
the point reached by the optimization and not the initial point.  Gross.

On Thu, Sep 15, 2016 at 11:57 AM, Ryan Giordano rgiordan@gmail.com wrote:

[2016-09-15 20:19] rgiordan commented on #292
I've tracked it down to a couple different things.  Primarily the problem
is caused by an unrealistic initialization point.  Steve, you should know
that Celeste is currently extremely non-robust to poor initializations, and
what is happening here is pretty representative -- if it can't fit the
image, it drives parameters to crazy values, eventually hits numeric
problems, and returns NaN.  This isn

[2016-09-15 21:46] rgiordan opened #299 "In tests, gen_n_body_dataset is using a world radius where it should use a pixel radius"
To avoid this kind of bug, it would be best to define variables or function arguments that represent distances using "world" or "pix" and to clearly document function arguments.

[2016-09-15 22:25] rgiordan commented on #299
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/300

[2016-09-15 22:25] #299 closed, assigned to rgiordan

[2016-09-15 22:26] #292 closed, assigned to nobody

[2016-09-15 23:07] rgiordan commented on #262
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/301, for real this time.

[2016-09-15 23:07] #262 closed, assigned to rgiordan

[2016-09-15 23:46] jeff-regier commented on #262
Thanks for fixing them

On Thu, Sep 15, 2016, 4:18 PM Ryan notifications@github.com wrote:

[2016-09-16 04:24] rgiordan commented on #190
Fixed in https://github.com/jeff-regier/Celeste.jl/pull/302

[2016-09-16 04:24] #190 closed, assigned to rgiordan

[2016-09-16 05:55] #90 closed, assigned to rgiordan

[2016-09-16 15:56] gostevehoward commented on #293
Here's where I'm at right now.

My first pass at the GalSim script was generated a grid of random images. My thinking now is to define a list of benchmark cases each as a set of parameters to GalSim, mostly corresponding to parameters inferred by Celeste. So, for example, a CSV like [this](https://github.com/gostevehoward/Celeste.jl/blob/galsim_benchmark/benchmark/galsim/galsim_truth.csv), in whic

[2016-09-16 16:07] rcthomas commented on #293
Writing multi-extension FITS files shouldn't be that complex:

http://docs.astropy.org/en/stable/generated/examples/io/create-mef.html#sphx-glr-generated-examples-io-create-mef-py

Galsim is just using pyfits or astropy.io.fits to do this.  It may do it for you already.  But the nice thing would be a single csv would go with a single FITS file at least.

[2016-09-16 18:53] rgiordan commented on #257
I ran `Lint.lintpkg` on Celeste, and (like Jeff) I didn't find the output very useful.  I was hoping for spacing violations, notification of undocumented functions, incorrect cases, non-spaced commas or binary operators, &c.  But instead I got
- A bunch of undeclared variable warnings (since we use a lot of global constants, or `include` .jl files in Modules for organization.
- Some not-too-import

[2016-09-16 19:16] jeff-regier opened #303 "validate inputs to optimization algorithm"
The optimization algorithm should validate its inputs, and throw exceptions if any are not acceptable, rather than returning `NaN`s or a `BoundsError`, or otherwise going off the rails. There should be no inputs to the optimizer that cause the optimizer to return something invalid, even with fuzz testing. Any exception thrown should indicate what's wrong with the input, before running the optimize

[2016-09-16 19:24] jeff-regier commented on #257
Ah well, worth a try.

[2016-09-16 19:24] #257 closed, assigned to nobody

[2016-09-17 01:19] jeff-regier commented on #254
Looks like precompiling isn't the problem: docopt/Docopt.jl#13

We may want to just have a different script in the `bin` directory for each subcommand.

[2016-09-17 01:19] #254 closed, assigned to nobody

[2016-09-19 05:44] jeff-regier opened #307 "count "connected components" of overlapping light sources"
Some light sources (aka "astronomical objects", aka "celestial bodies") are far away from all other light sources. They can be optimized in independently of all other light sources. Other light sources overlap with each other. For example, a bunch of stars in front of a large galaxy, or chain of light sources, each overlapping with another. These light sources need to be optimized collectively.

M

[2016-09-19 19:58] jeff-regier commented on #205
Hey Ryan, Is this still an issue? I don't recall that trimming taking too long.

[2016-09-19 20:43] rgiordan commented on #205
I suspect it is, but the solution is pretty invasive with our current large-scale plans.  The way this happens (IIRC) is that with a small star, trimming requires rendering all the pixels in the object's active tiles, only a small fraction of which end up relevant for optimization.  Rendering the value of many pixels once can be close to as expensive as rendering few pixels, with derivatives, 20 o

[2016-09-19 22:42] jeff-regier commented on #205
OK I see, it's more about small sources. Maybe rather than dividing the image into a bunch of tiles, we should just save just the subimage for each image-source pair. Get rid of tiles entirely (or almost entirely...they may be useful in a couple of places as a cheap spatial index.)

Getting rid of tiles is pretty invasive, but let's leave this open. I can imagine it leading to a nice speed up and

[2016-09-21 05:02] #282 closed, assigned to jeff-regier

[2016-09-21 05:17] jeff-regier opened #310 "Use log probability to determine the active pixels, not the elbo"

[2016-09-21 21:51] jeff-regier commented on #307
@andreasnoack -- Might you want to work on this? It seems more related to your interests in parallel computing than some of the other issues we discussed.

[2016-09-22 19:31] jeff-regier commented on #255
I think I fixed this in JuliaOpt/Optim.jl#284

[2016-09-22 19:31] #255 closed, assigned to jeff-regier

[2016-09-24 00:44] #268 closed, assigned to nobody

[2016-09-28 01:07] rgiordan opened #316 "Get rid of tiles"
For a rasterized psf (https://github.com/jeff-regier/Celeste.jl/issues/87), tiles don't make a lot of sense, mostly because the light from pixels in a particular tile extend beyond that tile after convolution with the PSF.

Right now the main reason we have tiles is to limit the sources that we process (via `tile_source_map`).  Instead of this, we could just have a vector of vectors from sources t

[2016-09-28 01:09] rgiordan commented on #256
Despite the misleading name, `GalaxyCacheComponent` and its related functions are just ways of taking derivatives of a bivariate normal with respect to its various shape parameters.  This is why it is in `bivaraite_normals.jl` -- there is nothing galaxy-specific about it.

Maybe this refactoring should just be a renaming to clarify this fact.

[2016-09-28 02:12] rgiordan opened #317 "Restore single-machine optimization benchmarks"
@jeff-regier , we used to have this, but I guess it got deleted in the refactor?  If you agree, I think it's something that belongs in `Celeste.jl/bin` for easy testing of code changes.

[2016-09-28 02:54] jeff-regier commented on #256
That could work, I got confused when I came to that file via the PSF optimization code. We should probably move it to the `deterministic_VI` directory too once the PSF model is no longer based on Gaussians.

[2016-09-28 03:05] jeff-regier commented on #316
This is also worth doing from the reason in #205. I'll close that issue because this one subsumes it.

[2016-09-28 03:13] jeff-regier commented on #317
Duplicate of #251 ? Resurrecting the old benchmark script seems like a good idea, to make sure run time hasn't deteriorated,  but I seem to recall that its configuration wasn't so representative any more. Yeah, `bin` seems good for that. I wonder if what's in `staging` and `benchmarks` should be in `bin` too.

[2016-09-28 22:48] rgiordan commented on #205
Per the phone call, this is a separate issue from getting rid of tiles.  Even with the features described in https://github.com/jeff-regier/Celeste.jl/issues/316, you will still not want to process all the pixels for every source.

[2016-09-28 23:10] gostevehoward opened #320 "Avoid unrealistic "colors" in benchmarking"
Right now I'm copying the same image into all five filter bands. This creates an unrealistic color distribution which may clash with Celeste's priors and throw off inference for other parameters. Possible fixes: (a) only pass one image in one band; (b) scale the image in each band to a realistic distribution, e.g., one taken from test stamps or synthetic image code.

[2016-09-28 23:11] gostevehoward opened #321 "Make a test case with stars"
Right now I don't attempt to generate star images which should be detected as stars, even though Galsim does have the capability to do that (at least I think it does, because the Great3 data includes star images). I need to figure out how to generate an appropriate test case that Celeste will (or should be expected to) classify as a star.

[2016-09-28 23:14] gostevehoward opened #322 "Debug why location and brightness are mis-estimated"
Currently location, scale and brightness are showing clear biases in my benchmark cases. We need to rule out the (likely) possibility that it's a problem with inputs (poor CatalogEntry initializations, unrealistic colors, etc) so that any remaining inaccuracies can be attributed to Celeste's optimization. This will require me to do things like run each benchmark image with multiple initializations

[2016-09-28 23:17] gostevehoward opened #323 "Include trimming in GalSim benchmark script"
Part of the cause of the infamous "epsilon > 0 crashes" might be the fact that the benchmark images are large compared to the size of the galaxy (in some cases more than others) and therefore include pixels very far from the light source which usually would be trimmed out. In order to make the benchmarks more efficient, they should use the same trimming code that is ordinarily used.

[2016-09-29 03:38] andymiller commented on #273
@jeff-regier, I'm starting a new branch to incorporate `logprob.jl` into the `Model` module.  I noticed that `get_active_pixels` was refactored into the `DeterministicVI` module (but has a to-do to be moved into pre-processing).  That function relies on the `ElboArgs` type, which the `logprob` code relies on (as well as the `get_active_pixels` function).  Should we move both of those either into `

[2016-09-29 04:02] #287 closed, assigned to jeff-regier

[2016-09-29 04:33] jeff-regier commented on #273
Hi @andymiller, Let's leave `ElboArgs` in the `DeterministicVI` module: it's specific to a particular type of inference (VI) and thus it's not a property of the model. `get_active_pixels`, on the other hand, belongs in `Model` since all the inference methods will use it. For issue #310, we want to change get_active_pixels to use your log probability function, and presumably move it into `Model` at

[2016-09-29 04:37] jeff-regier opened #324 "mcmc inference"

[2016-09-29 04:51] andymiller commented on #273
@jeff-regier, sounds good.  Because `logprob.jl` will need the `get_active_pixels` function, I will tackle both of these issues in the new logprob branch.
I imagine I will create a `get_active_pixels` function that takes in the types accessed through the `ElboArgs` object passed into the existing version.  I will probably have to move the `ActivePixel` type into the `Model` module as well.

[2016-09-29 05:01] jeff-regier commented on #273
Yeah, sounds good, `ActivePixel` belongs in `Model` too, probably near wherever `get_active_pixels` is defined. It looks like you can just call `get_active_pixel` with the images, it doesn't need all the other stuff in the `ea` instance of `ElboArgs`.

[2016-09-29 08:32] jeff-regier opened #325 "Enter great3 challenge"
A nice overview of the great3 challenge and the current state of the art:
[GREAT3 results I: systematic errors in shear estimation and
the impact of real galaxy morphology](https://arxiv.org/pdf/1412.1825v2.pdf)

[2016-09-29 14:23] andymiller commented on #273
@jeff-regier, the `ActivePixel` type and `get_active_pixels` were easy to move into the `Model` module, but now I'm running into a different issue.  The log likelihood function, at this point, relies on the `populate_fsm_vecs!` function in `deterministic_vi/elbo.jl` (which, in turn, relies on the `ElboIntermediateVariables` type).  I'm trying to figure out how to get the `fsm_vecs!` functionality

[2016-09-29 16:08] jeff-regier commented on #273
I think the way to go is to move `populate_fsm_vecs!` to `Model`, along
with any methods it calls. Then change `populate_fsm_vecs!` so that it
takes as arguments just the fields from `ElboIntermediateVariables` that it
needs, e.g. `fs0m_vec`, `fs1m_vec`. You won't need any of the fields
relating to brightness from `ElboIntermediateVariables`. Does that make
sense?

On Thu, Sep 29, 2016, 7:23 AM An

[2016-09-29 17:40] andymiller commented on #273
Yes -- sounds good.  I am moving all of the function logic into `Model`, but leaving wrappers in the `DeterministicVI` module.

[2016-09-29 19:33] jeff-regier opened #327 "Move `VariationalParams` from `Model` to `DeterministicVI`"
Also, `FreeVariationalParams`.

[2016-09-29 21:52] jeff-regier commented on #327
@andymiller -- Rather than creating a `GalShape` type to call `load_bvn_mixtures` , could you reuse the `LatentState` type (or whatever it's call now)? That contains all the galaxy shape parameters, as well as some extra ones.

[2016-09-29 21:53] #273 closed, assigned to andymiller

[2016-09-30 19:36] #317 closed, assigned to nobody

[2016-10-03 15:04] jeff-regier opened #329 "Hermitian matrix type for the hessian"

[2016-10-03 15:51] #125 closed, assigned to jeff-regier

[2016-10-04 06:47] jeff-regier opened #330 "rename math variables to something easily understood"
`epsilon` -> `sky_intensity`
`r1` -> `brightness_loc`
`r2` -> `brightness_scale`
`c1` -> `color_mean`
`c2` -> `color_var`
etc.

[2016-10-04 16:57] andymiller commented on #327
That sounds good, @jeff-regier.  In `param_set.jl` there seem to be `GalaxyPosParams` that has all the fields I need.  What are these used for?  Also, it looks like fields are all `Int`s of some type --- is there a way to reuse this code, or should I just define my own types?

[2016-10-04 17:34] jeff-regier commented on #327
I suggest defining a new ParamSet in `param_set.jl`, something like

[code]

You could use an instance of this type throughout `Model`, just as we're using `ids` (an instance of `CanonicalParams`) currently.  A better name for `CanonicalParams`, now that we're merging MCMC and VI, might be `VariationalParamIndexes`.

[2016-10-04 17:40] andymiller commented on #327
Oh --- I see how these are being used.

Is this kind of indexing faster than using a vector of typed objects, where the type with named fields?

[2016-10-04 17:41] jeff-regier commented on #327
You could also reused `GalaxyPosParams` if you just need `u` and the `e_...` indexes. But it probably makes more sense to pass the full latent state (a vector of length 22) for each source to every function in `Model` rather than just the galaxy state (a vector of length 6).

Yes -- This is approach is for speed. Keeping all the params in a vector keeps them together in memory. With a composite ty

[2016-10-04 18:01] andymiller commented on #327
Great --- I'll create a LatentStateIndexes object for this.  Thanks!

[2016-10-04 20:10] jeff-regier opened #332 "types for sources' parameters; no more `ids`"
Currently we have to use the right `ids` variables to index into vectors of sources' parameters. And we can't use Julia's type system to dispatch methods that convert between different types of parameter vectors. The code below shows 1) how to define a typed vector of parameters, and 2) that doing so doesn't effect runtime. For this issue, we'd replace the current parameter vectors with `SourcePar

[2016-10-05 00:20] gostevehoward commented on #323
I added a simple call to trim_source_tiles!(). Remains to investigate whether it is doing exactly what we want it to do.

https://github.com/gostevehoward/Celeste.jl/commit/0a6c87195db06fb6e61fbcbb93712be261e13db4

[2016-10-05 00:22] gostevehoward commented on #320
Done here:

https://github.com/gostevehoward/Celeste.jl/commit/dd4cb64d8f09d31e6e3e7a5f8df0248dafab6130

I scaled flux in each band by a realistic amount and had the GalSim script write distinct files for each band, so we'd get unique noise, correct scaling relative to background, etc.

Inferred answers don't seem to have gotten more accurate, but cross one thing off the list...

[2016-10-05 00:22] #320 closed, assigned to gostevehoward

[2016-10-05 00:23] gostevehoward commented on #293
For what it's worth, I did change it to write/read a single multi-extension FITS file, here: https://github.com/gostevehoward/Celeste.jl/commit/dd4cb64d8f09d31e6e3e7a5f8df0248dafab6130

[2016-10-05 00:50] jeff-regier commented on #293
Sounds easier to work with. Is it straightforward to also store in the fits
file the parameters that generated the images (ie the ground truth)?

On Tue, Oct 4, 2016, 5:23 PM gostevehoward notifications@github.com wrote:

[2016-10-05 01:00] jeff-regier commented on #320
Looks good. The colors seemed by far like the most likely source of the
problem. What's left to check? Have you tried making stars with galsim?
Those are easier to debug because they don't have shape parameters.

On Tue, Oct 4, 2016, 5:22 PM gostevehoward notifications@github.com wrote:

[2016-10-05 01:11] gostevehoward commented on #320
Not yet, that's next up to try: https://github.com/jeff-regier/Celeste.jl/issues/321

[2016-10-05 01:25] gostevehoward opened #333 "Embed "ground truth" GalSim params into FITS file itself"

[2016-10-05 01:26] gostevehoward commented on #293
Yeah that is a good idea, I'll look into it: https://github.com/jeff-regier/Celeste.jl/issues/333

[2016-10-05 03:22] jeff-regier commented on #316
This is a pretty involved issue. Here's an attempt at breaking it down into smaller issues:

stage 1:
- [ ] extend `ActivePixel` to include `epsilon` and `x_nbm`
- [ ] revised `log_prob.jl` and `elbo.jl` to use the new fields in `ActivePixel`---gives fast memory access without tiles
- [ ] Do trimming by forming `ActivePixel`s in a loop, calling into a per-pixel function in logprob to get the expec

[2016-10-05 05:57] jeff-regier commented on #228
It's no longer clear that we want to used HDF5.

[2016-10-05 05:57] #228 closed, assigned to nobody

[2016-10-05 05:58] jeff-regier commented on #296
It's no longer clear that we want to use HDF5.

[2016-10-05 05:58] #296 closed, assigned to nobody

[2016-10-05 20:45] jeff-regier opened #334 "timeline for gordon bell"

[2016-10-07 22:38] #251 closed, assigned to jeff-regier

[2016-10-07 22:39] jeff-regier opened #337 "don't allocate/update hessians when `calculate_hessian = false`"
When the background intensity is computed, for example, its gradient and Hessian should not be computed. Same for when computing active pixels. Same for when evaluating the rust region model quality.

[2016-10-08 06:40] jeff-regier opened #338 "verify that the sources that are taking a while to infer are justifiably doing so"
There was a suggestion that you verify that the sources that are taking a while to infer are justifiably doing so. Below are the object IDs for some:
[1]<8> ran inference for 1237664293684903969 in 300.9631509780884 secs
[1]<5> ran inference for 1237664293684903970 in 328.05306100845337 secs
[1]<1> ran inference for 1237664293684903976 in 330.2130780220032 secs
[1]<4> ran inference for 12376642936

[2016-10-11 18:16] jeff-regier opened #343 "restore test_stamp_get_object_psf()"

[2016-10-11 18:17] jeff-regier opened #344 "restore test_that_star_truth_is_most_likely() in test_log_prob.jl"

[2016-10-12 03:39] jeff-regier commented on #142
It's wildly conservative in some cases, I think. I added in the upper bound below to keep individual sources from allocating huge amounts of memory, e.g. objid 1237662224072638610, but it's still probably way too conservative usually.

[code]